Repository inception-project/inception, pull requests merged in 2018-07, with the labels that each got.

#363 #361 - Add feature field to external recommender request
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassifier.java
Labels: Module: Recommender

#364 #346 - Truncate tokenText in LearningRecord
  inception-active-learning/pom.xml
  inception-active-learning/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecordTest.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecord.java
Labels: 🐛Bug

#379 #377 - disable "read-only"-checkbox in kb settings instead of hiding it
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
Labels: Module: Knowledge Base, 🆕Enhancement, 🕶️UX

#362 #297 Show IRIs on-mouse-over
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
Labels: Module: Knowledge Base, 🆕Enhancement

#378 #370 - Active Learning Sidebar gives Internal Error
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.html
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
Labels: Module: Active Learning, 🐛Bug

#368 #349 - NamedEntityLinker is selectable for "value" feature
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerClassificationTool.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerClassificationToolFactory.java
Labels: Module: Entity Linking, 🐛Bug

#386 #385 - Clean up MtasUimaParser code
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/IndexingConstants.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
Labels: Module: Knowledge Base, Module: Project Search, ⚙️Refactoring

#384 #353 - Create Instance throws Null Pointer Exception
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBInstance.java
Labels: Module: Knowledge Base, 🐛Bug

#350 #336 - NamedEntityLinker broken
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerClassificationTool.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationTool.java
  inception-imls-mira/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/mira/pos/MiraPosClassificationTool.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerClassificationTool.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosClassificationTool.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/ner/StringMatchingNerClassificationTool.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/pos/StringMatchingPosClassificationTool.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/ClassificationTool.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Recommender.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/SelectionTask.java
Labels: Module: Recommender, Needs attention, 🐛Bug

#360 Documentation/user documentation for fact extraction
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/annotation_activeLearning.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/annotation_fact-extraction.adoc
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction1.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction2.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction3.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction4.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction5.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction6.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction7.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction8.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction9.png
Labels: Module: Fact Linking, 📖Documentation

#341 #323 - Changing IRIs has delayed effect
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/event/KnowledgeBaseConfigurationChangedEvent.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
Labels: Module: Entity Linking, 🐛Bug

#387 #336 - NamedEntityLinker broken
  inception-recommendation-api/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/model/db-changelog.xml
Labels: Module: Recommender, 🐛Bug

#382 #381 KB Page Error
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
Labels: 🐛Bug

#383 Feature/216 show alternative predictions as preferred in al sidebar
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
Labels: Module: Active Learning, 🆕Enhancement

#390 #389 - Upgrade dependencies
  inception-kb/pom.xml
  inception-log/pom.xml
  inception-recommendation-api/pom.xml
  inception-recommendation/pom.xml
  inception-search-core/pom.xml
  inception-ui-kb/pom.xml
  pom.xml
Labels: ⚙️Refactoring

#397 #389 - Upgrade dependencies
  inception-kb/pom.xml
  inception-log/pom.xml
  inception-recommendation-api/pom.xml
  inception-recommendation/pom.xml
  inception-search-core/pom.xml
  inception-ui-kb/pom.xml
  pom.xml
Labels: ⚙️Refactoring

#396 #391 Unable to index non-string primitive features
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
Labels: Module: Project Search, 🐛Bug

#402 #262 - Modularize indexing pipeline
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/FeatureIndexingSupport.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/FeatureIndexingSupportRegistry.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/FeatureIndexingSupportRegistryImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/PrimitiveUimaIndexingSupport.java
  inception-search-mtas/pom.xml
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/KBUtility.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUtils.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParserTest.java
  inception-ui-kb/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupport.java
  inception-ui-kb/src/test/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupportTest.java
Labels: Module: Knowledge Base, Module: Project Search, ⚙️Refactoring

#404 #403 - Fix generated value annotations
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/model/LoggedEvent.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecord.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Recommender.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/model/Index.java
Labels: 🐛Bug

#410 Bugfix/409 recommondations not shown
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/util/CasUtil.java
Labels: Critical, Module: Recommender, 🐛Bug

#412 #409 - Recommendations not shown
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/util/CasUtil.java
Labels: Critical, 🐛Bug

#415 #413 - Release 0.4.1
  inception-active-learning/pom.xml
  inception-app-ui-search/pom.xml
  inception-app-webapp/pom.xml
  inception-build/pom.xml
  inception-concept-linking/pom.xml
  inception-doc/pom.xml
  inception-html-editor/pom.xml
  inception-imls-core/pom.xml
  inception-imls-external/pom.xml
  inception-imls-opennlp/pom.xml
  inception-imls-stringmatch/pom.xml
  inception-kb/pom.xml
  inception-log/pom.xml
  inception-pdf-editor/pom.xml
  inception-recommendation-api/pom.xml
  inception-recommendation/pom.xml
  inception-search-core/pom.xml
  inception-search-mtas/pom.xml
  inception-support/pom.xml
  inception-ui-core/pom.xml
  inception-ui-dashboard/pom.xml
  inception-ui-kb/pom.xml
  pom.xml
Labels: 🐛Bug

#408 Feature/97 change list to set in kb statement and qualifier
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBQualifier.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBStatement.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/NoReification.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/ReificationStrategy.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementEditor.java
Labels: Module: Knowledge Base, Needs attention

#233 Feature/174 comprehensive deletion for kb entities
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/NoReification.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/ReificationStrategy.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInstancePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePage.properties
Labels: Module: Knowledge Base, 🆕Enhancement

#265 #119 - Create unit tests for search
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchResult.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchService.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-mtas/pom.xml
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/main/resources/MtasDocumentIndexTest.properties
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParserLuceneTest.java
  inception-search-mtas/src/test/resources/log4j2.xml
  pom.xml
Labels: Module: Project Search, Needs attention

#427 Bugfix/418 Reduce logging output during indexing
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AnnotatedListIdentifiers.java
Labels: Needs Review, 🐛Bug
