Repository inception-project/inception, pull requests merged in 2018-05, with the labels that each got.

#142 #108 - Show mtas syntax errors
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
Labels: Module: Project Search, 🐛Bug

#146 #144 - Introduce profile for Wicket modules
  inception-active-learning/marker-wicket-module
  inception-active-learning/pom.xml
  inception-app-ui-search/marker-wicket-module
  inception-app-ui-search/pom.xml
  inception-app-webapp/marker-wicket-module
  inception-app-webapp/pom.xml
  inception-html-editor/marker-wicket-module
  inception-html-editor/pom.xml
  inception-imls-external/marker-wicket-module
  inception-imls-opennlp/marker-wicket-module
  inception-pdf-editor/marker-wicket-module
  inception-pdf-editor/pom.xml
  inception-recommendation/marker-wicket-module
  inception-recommendation/pom.xml
  inception-ui-core/marker-wicket-module
  inception-ui-core/pom.xml
  inception-ui-dashboard/marker-wicket-module
  inception-ui-dashboard/pom.xml
  inception-ui-kb/marker-wicket-module
  inception-ui-kb/pom.xml
  pom.xml
Labels: ⚙️Refactoring

#147 #145 - MainEditor doesn't jump to the document of the recommendation …
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
Labels: Module: Active Learning, 🐛Bug

#154 Bugfix/148 filter annotated recommendation alsidebar
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationSpanRenderer.java
Labels: Module: Active Learning, Module: Recommender, 🐛Bug

#117 Feature/106 statement indicator in property feature editor
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/NoReification.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/ReificationStrategy.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingService.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: Module: Fact Linking, 🆕Enhancement

#177 #176 - Move ID-setting code from feature editors into FeatureEditorPanelContent
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: Critical, 🐛Bug

#163 #68 - Make the description IRI configurable in the KB settings
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/util/TestFixtures.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$SchemaConfigurationStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/SchemaProfile.java
Labels: Module: Entity Linking, 🆕Enhancement

#183 #176 - Move ID-setting code from feature editors into FeatureEditorPanelContent
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: ⚙️Refactoring

#178 Feature/175 documentation recommender
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebarFactory.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/speech_bubble.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/annotation_recommendation.adoc
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation1.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation2.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation3.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/projects_recommendation.adoc
Labels: Module: Recommender, 🆕Enhancement, 📖Documentation

#186 #185 - Sort Knowledge Bases in Project Settings
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
Labels: Module: Knowledge Base, 🆕Enhancement, 🕶️UX

#204 #203 - Make external classifier properties configurable
  inception-imls-external/pom.xml
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/CustomAnnotationObjectLoader.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationTool.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationToolFactory.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationToolTraitsEditor.html
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationToolTraitsEditor.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationToolTraitsEditor.properties
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassifier.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassifierTraits.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/util/CasUtil.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🆕Enhancement

#193 #182 - Recommendations in different documents have same VID
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
Labels: 🐛Bug

#179 Bugfix/156 recommendations disappear
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationSpanRenderer.java
Labels: Module: Recommender, 🐛Bug

#189 Bugfix/161 liquibase changes
  inception-active-learning/src/main/resources/de/tudarmstadt/ukp/inception/active-learning/model/db-changelog.xml
  inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
  inception-recommendation-api/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/model/db-changelog.xml
Labels: Module: Recommender, 🐛Bug

#218 #217 - Concept tree loses scrolling position on select
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptListPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptTreePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/PropertyListPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/PropertyPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/event/AjaxConceptSelectionEvent.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/event/AjaxPropertySelectionEvent.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#224 Bugfix/161 liquibase changes
  inception-active-learning/src/main/resources/de/tudarmstadt/ukp/inception/active-learning/model/db-changelog.xml
  inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
  inception-recommendation-api/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/model/db-changelog.xml
Labels: Liquibase, Module: Recommender, 🐛Bug

#167 Feature/37 delete annotation history should delete history
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.html
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.properties
Labels: Module: Active Learning

#206 #205 - Documentation for active learning
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/annotation_activeLearning.adoc
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/images/activeLearning1.png
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/images/activeLearning2.png
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/images/activeLearning3.png
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/images/activeLearning4.png
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
Labels: Module: Active Learning, 📖Documentation

#226 Feature/225 easier subclassing in kb
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePage.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/SubclassCreationDialog$ContentPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/SubclassCreationDialog.java
Labels: Module: Knowledge Base, 🆕Enhancement, 🕶️UX

#181 Bugfix/180 entitylinking improvements
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
Labels: Module: Entity Linking, 🆕Enhancement, 🐛Bug

#190 feature/6 refactor annotation object
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningRecommender.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-app-webapp/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityTrainer.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/dataobjects/ExtendedResult.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/dataobjects/LabelResult.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/evaluation/IncrementalTrainingEvaluationSuite.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/trainer/ner/NerDataHelper.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/util/DebugSupport.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JPosClassifier.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/Vectorizer.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerClassifier.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerTrainer.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosClassifier.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosTrainer.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/ner/StringMatchingNerClassifier.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/pos/StringMatchingPosClassifier.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/pos/StringMatchingPosTrainer.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/Classifier.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationObject.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/util/CasUtil.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/TrainingTask.java
  pom.xml
Labels: 🆕Enhancement

#169 #168 - Specifiable URI prefix in Knowledge Base
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
Labels: Module: Knowledge Base, 🆕Enhancement

#236 #234 - Sanitize documentation
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/common/migration.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
Labels: WIP, 📖Documentation
