Repository inception-project/inception, pull requests merged in 2018-04, with the labels that each got.

#11 Feature/10 refactor concept feature
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBHandle.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraits.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.properties
Labels: Knowledge Base, enhancement

#14 #10 - Refactor concept features
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.properties
Labels: Knowledge Base, enhancement

#22 #19 - Upgrade to RDF4J 2.3.0
  pom.xml
Labels: Module: Knowledge Base, ⚙️Refactoring

#24 Feature/18 skipped suggestions come back
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningRecommender.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.html
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/LearningRecord.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/LearningRecordUserAction.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/LearningRecordUserActionType.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/LearningRecordServiceImpl.java
Labels: Module: Active Learning, 🆕Enhancement

#32 #25 - Add "identifier" feature to the built-in named entity layer
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-ui-kb/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/initializers/NamedEntityIdentifierFeatureInitializer.java
Labels: Module: Entity Linking, Module: Knowledge Base, 🆕Enhancement

#31 #30 - Pre-disambiguate concepts in dropdown list
  inception-app-webapp/pom.xml
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/CandidateEntity.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/Property.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/SemanticSignature.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/FileUtils.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception-ui-kb/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/EnrichedKnowledgeBase.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/EnrichedKnowledgeBaseUtils.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$RemoteRepositoryStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.properties
  pom.xml
Labels: Module: Entity Linking, 🆕Enhancement

#43 #36 - All recommendations disappear during training
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/ExtendedId.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/Predictions.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/PredictionConsumer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/PredictionTask.java
Labels: Module: Recommender, 🐛Bug

#44 #40 - Change the "supportConceptLinking" flag in KB detail editor
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.properties
Labels: Module: Entity Linking, 🐛Bug

#47 #20 - Modularize documentation
  inception-app-webapp/pom.xml
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/systemproperties.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/upgrade.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/common/systemrequirements.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/database.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/setup.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide/installation.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide/upgrade.adoc
  pom.xml
Labels: 🆕Enhancement, 📖Documentation

#49 Feature/48 filter candidates
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/FileUtils.java
  inception-ui-kb/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
Labels: Module: Entity Linking, 🆕Enhancement

#28 Feature/23 fact modifier editor
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBStatement.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingConstants.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingService.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureSupport.java
Labels: 🆕Enhancement

#66 #54 - Append Wikidata description to KBHandle Label
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/CandidateEntity.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
Labels: Module: Entity Linking, 🆕Enhancement

#56 Feature/26 kb backend qualifier
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/InceptionValueMapper.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBQualifier.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBStatement.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/NoReification.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/Reification.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/ReificationStrategy.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplQualifierIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/util/TestFixtures.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/EnrichedKnowledgeBase.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/EnrichedKnowledgeBaseUtils.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$TypeStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
Labels: Module: Fact Linking, Module: Knowledge Base, 🆕Enhancement

#76 #75 - Entity Linking does not return as much candidates as it could
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
Labels: Module: Entity Linking, 🐛Bug

#78 Feature/77 improve sparql
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
Labels: Module: Entity Linking, 🆕Enhancement

#60 active learning sidebar event updates
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
Labels: Module: Active Learning, 🆕Enhancement, 🐛Bug

#69 Bug/64 remove predictions when recommender removed
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/event/RecommenderDeletedEvent.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/event/RecommenderDeletedEventAdapter.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/Predictions.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🐛Bug

#67 #63 - Recommender recommondations not reset on document reset
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/Predictions.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🐛Bug

#92 Feature/88 frequency cutoff
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
Labels: Critical, Module: Entity Linking, 🆕Enhancement, 🐛Bug

#86 #83 - Mention context not computed correctly
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
Labels: Critical, Module: Entity Linking, 🐛Bug

#80 #79 - Make it possible to retrieve entities that have no description
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
Labels: Module: Entity Linking, 🐛Bug

#85 #84 - Add english stopwords file
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/FileUtils.java
Labels: Critical, Module: Entity Linking, 🆕Enhancement

#82 #81 - Cannot bind string to TupleQuery
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
Labels: Critical, Module: Entity Linking, 🐛Bug

#93 Feature/87 candidate selection
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/config/EntityLinkingProperties.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/LRUCache.java
Labels: Critical, Module: Entity Linking, 🆕Enhancement

#90 #89 - Concept tree unusable for large KBs
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptTreePanel.java
Labels: Module: Knowledge Base, 🐛Bug

#94 Feature/7 qualifier kb ui
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBQualifier.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBStatement.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePage.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/event/AjaxQualifierChangedEvent.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/less/inception-ui-kbp.less
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/QualifierEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/QualifierEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementsPanel.html
Labels: Module: Fact Linking, Module: Knowledge Base

#98 #91 - Make ConceptLinkingService fields configurable
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/config/EntityLinkingProperties.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
Labels: Critical, Module: Entity Linking, 🆕Enhancement

#102 #39 - Fix NPE in knowledge base
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
Labels: Module: Knowledge Base, 🐛Bug

#100 #16 - Mark slots as "not to be filled"
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: Module: Fact Linking, 🆕Enhancement

#70 Feature/27 recommend concept features
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationTypeRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationRenderer.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureSupport.java
Labels: Module: Recommender, 🆕Enhancement

#104 #101 initialised fact layer
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingConstants.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/FactLinkingServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/initializers/FactLayerInitializer.java
Labels: Module: Fact Linking, 🆕Enhancement

#99 Feature/45 display suggestions
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerClassificationTool.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerClassificationToolFactory.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityTrainer.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-imls-core/pom.xml
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/conf/ClassifierConfiguration.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/classifier/Classifier.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/dataobjects/AnnotationObject.java
  inception-imls-mira/pom.xml
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosClassifier.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/ConceptFeatureTraits.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/adapter/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/model/Predictions.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/PredictionTask.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.java
Labels: Critical, Module: Entity Linking, Module: Recommender, 🆕Enhancement

#116 Feature/73 external recommender
  .editorconfig
  inception-app-webapp/pom.xml
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-imls-core/pom.xml
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/loader/ner/NerAnnotationObjectLoader.java
  inception-imls-core/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/core/loader/pos/PosAnnotationObjectLoader.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JPosClassifier.java
  inception-imls-external/pom.xml
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/BaseConfiguration.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/CustomAnnotationObjectLoader.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationTool.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassificationToolFactory.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalClassifier.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalToolParameters.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalTrainer.java
  inception-imls-mira/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/mira/pos/MiraPosClassifier.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosClassifier.java
  inception-recommendation-api/pom.xml
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/Classifier.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/util/CasUtil.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/PredictionTask.java
  pom.xml
Labels: Module: Recommender, 🆕Enhancement

#137 #135 - Default Wikidata URIs/IRIs wrong
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBases.java
Labels: Module: Knowledge Base, 🐛Bug
