Repository inception-project/inception, pull requests merged in 2018-09, with the labels that each got.

#507 #503 - Add a timestamp for indexed document
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/index/PhysicalIndex.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/IndexScheduler.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/tasks/Task.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/test/resources/log4j2.xml
Labels: Module: Project Search, 🆕Enhancement

#493 #492 - Ability to configure IRIs for property labels / descriptions
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseMapping.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/knowledgebase-profiles.yaml
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseProfileDeserializationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/util/TestFixtures.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/SchemaProfile.java
Labels: Module: Knowledge Base, WIP, 🆕Enhancement

#509 #508 - Presence of deprecated RDF4J SYSTEM repository may cause trouble
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
Labels: Module: Knowledge Base, 🐛Bug

#510 #263 language field
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplLanguageIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/util/TestFixtures.java
Labels: 🐛Bug

#516 #513 - Make SPARQL query limit configurable by user
  inception-kb/pom.xml
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/config/KnowledgeBaseProperties.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplQualifierIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
Labels: Module: Knowledge Base

#515 Bugfix/474 concurrent modification exception when clearing concept linking cache
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/LRUCache.java
Labels: Module: Entity Linking, 🐛Bug

#517 Bugfix/513 make sparql query limit configurable by user
  inception-concept-linking/src/main/resources/META-INF/asciidoc/admin-guide/settings_concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/annotation_concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/projects_concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/settings_concept-linking.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide/settings.adoc
  inception-kb/pom.xml
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/resources/META-INF/asciidoc/admin-guide/settings_knowledgebase.adoc
Labels: Module: Knowledge Base, 🆕Enhancement

#512 #498 - Upgrade to RDF4J 2.4.0
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
Labels: Module: Knowledge Base, 🐛Bug

#461 Feature/298 pre defined importable knowledge bases
  inception-kb/pom.xml
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SchemaProfile.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseAccess.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseProfile.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/knowledgebase-profiles.yaml
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/pre-defined-knowledge-bases/wine.rdf
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseProfileDeserializationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/resources/kb_test_profiles.yaml
  inception-support/src/main/java/de/tudarmstadt/ukp/inception/kb/io/FileUploadDownloadHelper.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$LocalRepositoryStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
Labels: Module: Knowledge Base, Needs attention, ❓Question, 🆕Enhancement

#524 Bugfix/523 unable to import search project
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/exporter/ExportedKnowledgeBase.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/exporter/KnowledgeBaseExporter.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseExporterTest.java
Labels: Critical, Module: Knowledge Base, 🐛Bug

#527 #526 - Refactor format supports
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/resources/META-INF/application-context.xml
  inception-app-webapp/src/main/resources/META-INF/formats.properties
  inception-html-editor/pom.xml
  inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlFormatSupport.java
  inception-kb/pom.xml
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfFormatSupport.java
  inception-search-mtas/pom.xml
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  pom.xml
Labels: ⚙️Refactoring
