Repository inception-project/inception, pull requests merged in 2018-08, with the labels that each got.

#434 #432 - Cannot export project with "WebAnno TSV3" format
  pom.xml
Labels: Critical, 🐛Bug

#431 #428 SPARQL query does not define required prefixes
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInstancePanel.java
Labels: Needs Review, 🐛Bug

#437 #421 Cannot create subclass issue
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/PropertyListPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseWrapper.java
Labels: Needs Review, 🐛Bug

#458 Release for 0.4.2
  inception-active-learning/pom.xml
  inception-app-ui-search/pom.xml
  inception-app-webapp/pom.xml
  inception-build/pom.xml
  inception-concept-linking/pom.xml
  inception-doc/pom.xml
  inception-html-editor/pom.xml
  inception-imls-core/pom.xml
  inception-imls-external/pom.xml
  inception-imls-opennlp/pom.xml
  inception-imls-stringmatch/pom.xml
  inception-kb/pom.xml
  inception-log/pom.xml
  inception-pdf-editor/pom.xml
  inception-recommendation-api/pom.xml
  inception-recommendation/pom.xml
  inception-search-core/pom.xml
  inception-search-mtas/pom.xml
  inception-support/pom.xml
  inception-ui-core/pom.xml
  inception-ui-dashboard/pom.xml
  inception-ui-kb/pom.xml
  pom.xml
Labels: Critical

#441 Feature/191 WikiData Integration test
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
Labels: Module: Knowledge Base

#450 Bugfix/421 cannot create subclass issue
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBProperty.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseWrapper.java
Labels: Module: Knowledge Base, WIP, 🐛Bug

#436 #170 Panel on KB UI with Search functionality for KB entries
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AnnotatedListIdentifiers.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AnnotatedListIdentifiers.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInstancePanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInstancePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/InstancePanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/InstancePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePage.properties
Labels: Module: Knowledge Base, 🆕Enhancement

#466 #465 - Reduce number of SPARQL queries during indexing/rendering
  inception-ui-kb/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/PropertyFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/initializers/FactLayerInitializer.java
  pom.xml
Labels: Module: Knowledge Base, 🆕Enhancement

#468 #467 - Add SKOS profile and SKOS prefLabel
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/SchemaProfile.java
Labels: Module: Knowledge Base, 🆕Enhancement

#435 #300 Introduce LIMIT constant for retrieving Statements from the KB
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
Labels: Module: Knowledge Base, ⚙️Refactoring

#411 Bugfix/269 active learning deactivate when switching to other sidebar
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningUserStateMetaData.java
Labels: Module: Active Learning, 🐛Bug

#464 #463 - Concept features may lose connection to KB on project import
  inception-kb/pom.xml
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/exporter/ExportedKnowledgeBase.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/exporter/KnowledgeBaseExporter.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseExporterTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/SpringConfig.java
Labels: Module: Knowledge Base, 🐛Bug

#470 Bugfix/469 annotation dropdown not sorted
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/test/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupportTest.java
Labels: Module: Annotation, Module: Knowledge Base, 🐛Bug

#478 #477 - Search input field too small
  inception-app-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.html
  inception-app-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
Labels: Module: Project Search, 🆕Enhancement

#472 #471 - Upgrade dependencies (0.5.0)
  pom.xml
Labels: Needs Review, ⚙️Refactoring

#476 #473 - No entity description for UKP_WIKIDATA
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/knowledgebase-profiles.yaml
Labels: Module: Knowledge Base, 🐛Bug

#480 #479 Label and description properties not available
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#358 #306 - Unable to link "Indonesia"
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/CandidateEntity.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
Labels: Module: Entity Linking, Needs attention, 🐛Bug

#439 #438 - Add more default KB profiles and tests
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
Labels: Module: Knowledge Base, 🆕Enhancement

#488 #487 - Cannot using simple CQL token syntax `"some" "token"`
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
Labels: Module: Project Search, 🐛Bug

#51 Feature/50 statement editor with validation
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBObject.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBProperty.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/event/AjaxStatementChangedEvent.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/BooleanLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/IriValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/NumericLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/StringLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/ValueType.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/ValueTypeSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/ValueTypeSupportRegistryImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/BooleanLiteralValueEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/BooleanLiteralValuePresenter.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValueEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValueEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/NumericLiteralValueEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/NumericLiteralValueEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/StringLiteralValueEditor.html
Labels: Module: Knowledge Base, Needs Review, 🆕Enhancement

#495 #419 - language_field_in_kb_editor_broken
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/StringLiteralValueEditor.java
Labels: Module: Knowledge Base, 🕶️UX

#497 #496 - two clicks necessary to save a value in the stringeditor on kb page
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/StringLiteralValueEditor.java
Labels: Module: Knowledge Base, 🐛Bug, 🕶️UX

#494 #19 - Upgrade to RDF4J 2.3.2
  inception-kb/pom.xml
  pom.xml
Labels: Module: Knowledge Base, Needs Review, ⚙️Refactoring

#490 #489 - Better indexing of relations
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/FeatureIndexingSupport.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/PrimitiveUimaIndexingSupport.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
  inception-search-mtas/src/main/resources/META-INF/asciidoc/user-guide/search-mtas.adoc
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupport.java
  inception-ui-kb/src/test/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupportTest.java
  pom.xml
Labels: Module: Project Search, Needs Review, 🆕Enhancement

#482 #462 - Improve speed of annotation
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchService.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/IndexScheduler.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/TaskConsumer.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/tasks/IndexDocumentTask.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/tasks/Task.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception-search-mtas/src/test/resources/log4j2.xml
Labels: Module: Project Search, 🐛Bug

#499 #491 Documentation for Statement validation
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/knowledge_base.adoc
Labels: Module: Knowledge Base, 📖Documentation

#442 Feature/124 refactor concept features
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/ConceptFeatureTraits.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/ConceptFeatureValueType.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/initializers/NamedEntityIdentifierFeatureInitializer.java
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb1.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb2.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb3.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb4.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb5.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/knowledge_base.adoc
  inception-ui-kb/src/test/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupportTest.java
Labels: Module: Knowledge Base, Needs attention, 🆕Enhancement

#502 #501 "getParentConceptListforConcept" has no loop cancellation
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
Labels: Module: Knowledge Base, Needs Review

#505 #504 - Entity linking not working
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/ConceptFeatureTraits.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: Module: Entity Linking, Needs Review, 🐛Bug

#506 #489 - Better indexing of relations
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
Labels: Module: Project Search, 🆕Enhancement
