Repository inception-project/inception, pull requests merged in 2018-12, with the labels that each got.

#734 Bugfix/733 subclasses have random name
  inception-search-mtas/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/SubclassCreationDialog$ContentPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/SubclassCreationDialog.java
  pom.xml
Labels: Module: Knowledge Base, 🐛Bug

#720 #719 - Active learning sidebar triggers concurrent access error
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  pom.xml
Labels: Module: Active Learning, 🐛Bug

#743 #742 - Get rid of TokenObject
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningRecommender.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationObject.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecord.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Offset.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/TokenObject.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/PredictionTask.java
Labels: Module: Recommender, ⚙️Refactoring

#725 #303 - Configure document states to consider for training
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Recommender.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/model/db-changelog.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/exporter/ExportedRecommender.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/exporter/RecommenderExporter.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.properties
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/TrainingTask.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/exporter/RecommenderExporterTest.java
Labels: Module: Recommender, 🆕Enhancement

#748 #303 - Configure document states to consider for training
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/annotation_recommendation.adoc
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation2.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation3.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/projects_recommendation.adoc
Labels: Module: Recommender, 📖Documentation

#747 #738 - External recommender should not send empty training requests
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/TrainingTask.java
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/projects_knowledge-base.adoc
Labels: Module: Recommender, 🆕Enhancement

#740 #739 - Cookie warnings spam log
  inception-app-webapp/src/main/resources/log4j2.xml
Labels: Module: Knowledge Base, 🐛Bug

#753 #752 - Heading in external recommender docu missing
  inception-imls-external/src/main/resources/META-INF/asciidoc/developer-guide/external_recommender.adoc
Labels: Module: Recommender, 📖Documentation

#755 #754 - String recommender doesn't activate for zero threshold
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
Labels: Module: Recommender, 🐛Bug

#757 #756 - Exporting recommender uses wrong field names
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/exporter/ExportedRecommender.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/exporter/RecommenderExporter.java
Labels: Module: Recommender, 🐛Bug

#745 Feature/372 redesign layout of search page
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchResult.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchHighlight.java
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.html
  inception-ui-external-search/pom.xml
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/DocumentDetailsPage.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/DocumentDetailsPage.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/DocumentDetailsPage.properties
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/ModalDocumentWindow.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/ModalDocumentWindow.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage$ImportPanel.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage$ResultRowView.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage$ShowPanel.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPageMenuItem.java
Labels: Module: External Search, 🆕Enhancement

#759 #758 - OpenNLP NER fails on overlapping annotations
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception-imls-opennlp/src/main/resources/META-INF/asciidoc/user-guide/projects_recommendation_opennlp.adoc
Labels: Module: Recommender, 🐛Bug

#763 #746 - Creating two recommenders with same configuration throws
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.properties
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/projects_recommendation.adoc
Labels: Module: Recommender, 🐛Bug

#766 Bugfix/746 creating two recommenders with same configuration throws 0 7 x
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.properties
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/projects_recommendation.adoc
Labels: Module: Recommender, 🐛Bug

#736 Feature/735 fix building on java 11
  inception-ui-external-search/pom.xml
  pom.xml
Labels: Needs Review, ⚙️Refactoring

#778 #777 - Improve appearance external search results list
  inception-ui-external-search/pom.xml
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage$ImportPanel.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage$ResultRowView.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
Labels: Module: External Search, 🆕Enhancement

#641 #639 - Refactoring KB Module - Change UI structure
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/util/TestFixtures.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/exporter/KnowledgeBaseExporter.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseExporterTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/util/TestFixtures.java
  inception-ui-kb/pom.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSettingsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/GeneralSettingsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/GeneralSettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel$AdvancedIriSettingsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanelMode.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseListPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseListPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseWrapper.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/QuerySettingsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/QuerySettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/RootConceptsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/RootConceptsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationDialog.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$AccessSpecificSettingsStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$LocalRepositoryStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard$TypeStep.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
Labels: Module: Knowledge Base, ⚙️Refactoring

#786 [WIP] 785 log external search
  CONTRIBUTORS.txt
  inception-external-search-core/pom.xml
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/event/ExternalSearchQueryEvent.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/log/ExternalSearchQueryEventAdapter.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
Labels: Module: External Search, Module: Logging, 🆕Enhancement

#791 #287 - Search mode - limit to within document
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchQueryRequest.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchResult.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchService.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/event/SearchQueryEvent.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/index/PhysicalIndex.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/log/SearchQueryEventAdapter.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/IndexScheduler.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/TaskConsumer.java
  inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/images/search-core-search.png
  inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/search-core.adoc
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception-search-mtas/src/test/resources/log4j2.xml
  inception-ui-search/pom.xml
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.html
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.properties
Labels: Module: Project Search, 🆕Enhancement

#767 #687 - Wine Ontology missing from packaged version
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-support/pom.xml
  inception-support/src/main/java/de/tudarmstadt/ukp/inception/kb/io/FileUploadDownloadHelper.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#796 #735 - Fix building on Java 11 (again)
  inception-doc/src/main/resources/META-INF/asciidoc/common/migration.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/common/systemrequirements.adoc
  pom.xml
Labels: ⚙️Refactoring

#794 #789 - External search document preview is missing
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
Labels: Module: External Search, 🐛Bug

#806 #770 - Include more info in recommender events
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/log/RecommenderEvaluationResultEventAdapter.java
Labels: Module: Logging, 🆕Enhancement

#799 #266 - Support import/export in logging module
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
  inception-log/pom.xml
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventRepository.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventRepositoryImpl.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/ExportedLoggedEvent.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporter.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/RawJsonDeserializer.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/model/LoggedEvent.java
  inception-log/src/main/resources/META-INF/asciidoc/developer-guide/log-adapter.adoc
  inception-log/src/main/resources/META-INF/asciidoc/developer-guide/log.adoc
  inception-log/src/test/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporterTest.java
  inception-log/src/test/resources/log4j2.xml
Labels: Module: Logging, Needs Review, 🆕Enhancement
