Repository inception-project/inception, pull requests merged in 2019-06, with the labels that each got.

#1225 #1215 Write recommender evaluation scores to event log
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/event/RecommenderEvaluationResultEvent.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/log/RecommenderEvaluationResultEventAdapter.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/LearningCurveChartPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
Labels: Module: Recommender, Needs Review, 🆕Enhancement

#1181 #987 Use ElasticSearch Java Client API
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProvider.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchService.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchServiceImpl.java
  inception-external-search-elastic/pom.xml
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchDoc.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchHighlight.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchHit.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchHits.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchMetadata.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchResult.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/model/ElasticSearchSource.java
  inception-external-search-elastic/src/main/resources/META-INF/asciidoc/user-guide/external-search-repos-elasticsearch.adoc
  inception-external-search-elastic/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProviderTest.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/ExternalResultDataProvider.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
  pom.xml
Labels: Module: External Search, 🆕Enhancement

#1231 #1227 - Integrate and clean up PDFExtract code
  inception-pdf-editor/LICENSE.txt
  inception-pdf-editor/NOTICE.txt
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/DrawOperator.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/ImageExtractor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/ImageOperator.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/PDFExtractor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/RegionExtractor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/TextOperator.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/package-info.java
Labels: Module: PDF editor, ⚙️Refactoring

#1199 #1132 Unify training data selection for evaluation
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommender.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommender.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/evaluation/EvaluationResult.java
  inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommender/api/evaluation/EvaluationResultTest.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/chart/resources/chart.js
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/EvaluationSimulationPanel.java
  inception-recommendation/src/main/resources/META-INF/asciidoc/admin-guide/settings_recommendation.adoc
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/annotation_recommendation.adoc
Labels: Module: Recommender, 🆕Enhancement

#1142 #804 Easy way to resume annotation
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventRepository.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventRepositoryImpl.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/RelationUpdateEventAdapter.java
  inception-log/src/test/java/de/tudarmstadt/ukp/inception/log/EventRepositoryImplIntegrationTest.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/LearningCurveChartPanel.java
  inception-ui-core/pom.xml
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/ActivitiesDashlet.html
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/ActivitiesDashlet.java
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/ActivitiesDashlet.properties
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/CurrentProjectDashlet.html
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/CurrentProjectDashlet.java
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/SystemStatusDashlet.html
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.html
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.java
  inception-ui-core/src/main/resources/META-INF/asciidoc/user-guide/dashboard_project-view.adoc
Labels: Module: Dashboard, Requires upstream changes, 🆕Enhancement

#1143 #867 - Group search results by feature value
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/FeatureIndexingSupport.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/PrimitiveUimaIndexingSupport.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchQueryRequest.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchService.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/index/PhysicalIndex.java
  inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/search-core.adoc
  inception-search-mtas/pom.xml
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUtils.java
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AnnotatedListIdentifiers.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupport.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.html
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.properties
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/SearchOptions.java
Labels: Module: Project Search, 🆕Enhancement, 🕶️UX

#1206 #1194 - Directly predict annotation type
  CONTRIBUTORS.txt
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-app-webapp/pom.xml
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/NamedEntityLinkerTest.java
  inception-example-imls-data-majority/pom.xml
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommender.java
  inception-example-imls-data-majority/src/main/resources/META-INF/asciidoc/developer-guide/implementing_recommender_tutorial.adoc
  inception-example-imls-data-majority/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommenderTest.java
  inception-imls-dl4j/pom.xml
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommender.java
  inception-imls-dl4j/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderTest.java
  inception-imls-external/pom.xml
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
  inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderIntegrationTest.java
  inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/RemoteStringMatchingNerRecommender.java
  inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/util/CasAssert.java
  inception-imls-opennlp/pom.xml
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommender.java
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderTest.java
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTest.java
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommenderTest.java
  inception-imls-stringmatch/pom.xml
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
  inception-recommendation-api/.activate-run-jcasgen
  inception-recommendation-api/pom.xml
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/main/resources/META-INF/org.apache.uima.fit/types.txt
  inception-recommendation-api/src/main/resources/desc/type/inception-recommendation-api-typesystem.xml
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-testing/LICENSE.txt
  inception-testing/pom.xml
  inception-testing/src/main/java/de/tudarmstadt/ukp/inception/support/test/recommendation/RecommenderTestHelper.java
  pom.xml
Labels: Module: Recommender, ⚙️Refactoring

#1242 #1238 Cannot open pages from last activities
  inception-support/pom.xml
  inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/ui/LinkProvider.java
  inception-ui-core/pom.xml
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/ActivitiesDashlet.html
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/ActivitiesDashlet.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
Labels: Module: Dashboard, 🐛Bug

#1236 #1235 - Bulk create/delete operations are very slow
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
Labels: Module: Annotation, 🐛Bug, 🚀Performance

#1253 #1237 - checking/unchecking results in search sidebar makes it snap to the top
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.html
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
Labels: Module: Project Search, 🐛Bug, 🕶️UX

#1245 #628 Improve performance of loading results from external search
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
Labels: Module: External Search, 🆕Enhancement

#1230 #1226 - Clean up PDFAnno code
  inception-pdf-editor/src/main/js/pdfanno/README.md
  inception-pdf-editor/src/main/js/pdfanno/gulpfile.js
  inception-pdf-editor/src/main/js/pdfanno/package-lock.json
  inception-pdf-editor/src/main/js/pdfanno/package.json
  inception-pdf-editor/src/main/js/pdfanno/src/core/index.css
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/PDFAnnoCore.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/relation.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/span.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/utils.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/container.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/rect.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/relation.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/span.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/appendChild.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderKnob.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderRect.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderRelation.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderSpan.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/version.js
  inception-pdf-editor/src/main/js/pdfanno/src/deepscholar/README.md
  inception-pdf-editor/src/main/js/pdfanno/src/deepscholar/index.js
  inception-pdf-editor/src/main/js/pdfanno/src/index-debug.html
  inception-pdf-editor/src/main/js/pdfanno/src/index.html
  inception-pdf-editor/src/main/js/pdfanno/src/page/pdf/PDFAnnoPage.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/pdf/loadFiles.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/public.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/socket.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/textLayer.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/util/analyzer.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/util/window.js
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.css
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.js
  inception-pdf-editor/src/main/js/pdfanno/src/shared/constants.js
  inception-pdf-editor/src/main/js/pdfanno/src/shared/util.js
  inception-pdf-editor/src/main/js/pdfanno/webpack.config.js
Labels: Module: PDF editor, ⚙️Refactoring

#1263 #1260 Adapt DocumentOpenedEventAdapter to Webanno Change
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/DocumentOpenedEventAdapter.java
Labels: Module: Logging, ⚙️Refactoring

#1100 #1099 - PDF Editor Documentation
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide/other_editors.adoc
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/developer-guide/images/inception-pdf-editor.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/developer-guide/images/matching.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/developer-guide/pdf-editor.adoc
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/images/pdf-panel-top-center.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/images/pdf-panel-top-left.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/images/pdf-panel-top-right.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/images/relation-annotation-drag.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/images/relation-annotation.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/images/span-annotation.png
  inception-pdf-editor/src/main/resources/META-INF/asciidoc/user-guide/pdf-editor.adoc
Labels: Module: PDF editor, Needs Review, 📖Documentation
