Repository inception-project/inception, pull requests merged in 2019-08, with the labels that each got.

#1315 #918 - Refactor dev documentation
  .gitignore
  inception-app-webapp/pom.xml
  inception-doc/pom.xml
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/setup.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/docinfo.html
  inception-doc/src/test/java/de/tudarmstadt/ukp/inception/doc/GenerateDocumentation.java
  inception-recommendation-api/src/main/resources/META-INF/asciidoc/developer-guide/implementing_recommender_tutorial.adoc
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
Labels: 📖Documentation

#1259 #1274 - Score explanation
  inception-app-webapp/pom.xml
  inception-app-webapp/src/assembly/documentation.xml
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommender.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestion.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/main/resources/META-INF/asciidoc/developer-guide/implementing_recommender_tutorial.adoc
  inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestionTest.java
  inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/PredictionGroupTest.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/VisibilityCalculationTests.java
  inception-testing/src/main/java/de/tudarmstadt/ukp/inception/support/test/recommendation/RecommenderTestHelper.java
Labels: Module: Recommender, 🆕Enhancement

#1255 #1252 Add timeout for external recommender timeout
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
Labels: Module: Recommender, 🆕Enhancement

#1337 #1335 - Recommendationservice performance
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
Labels: Module: Recommender, 🐛Bug, 🚀Performance

#1333 #1332 - User information in recommender context
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommenderContext.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: Module: Recommender, 🆕Enhancement

#1334 #950 - Add LAPPS Grid external recommender support
  .gitignore
  inception-imls-lapps/pom.xml
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommender.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/Lif2DKPro.java
  inception-imls-lapps/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderConformityTest.java
  pom.xml
Labels: Module: Recommender, Requires upstream changes, 🆕Enhancement

#1343 #1342 - Training run scheduled whenever a CAS is saved even if there were no changes
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/AfterCasWrittenEventAdapter.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/RelationEventAdapter.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
Labels: Module: Recommender, 🆕Enhancement

#1341 #1340 - Upgrade dependencies (0.11.0)
  pom.xml
Labels: ⚙️Refactoring

#1339 #1338 - Support telemetry
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
Labels: 🆕Enhancement

#1346 #1335 - Recommendationservice performance
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.properties
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/VisibilityCalculationTests.java
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/Task.java
Labels: Module: Recommender, 🆕Enhancement

#1345 #1316 - Sidebar drop down does not scroll down
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/MetricSelectDropDownPanel.html
Labels: Module: Annotation, 🐛Bug

#1350 #1349 - Delete project endpoint fails with python's requests library
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/menubar/MenuBarEventAdapter.java
Labels: 🐛Bug

#1351 #1082 - Editor loads files of wrong format
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/WrongFileFormatPanel.html
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/WrongFileFormatPanel.java
Labels: Module: Annotation, Module: PDF editor, 🐛Bug

#1329 #1216 - Linking span to document annotations
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/event/DocumentMetadataCreatedEvent.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/event/DocumentMetadataDeletedEvent.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/event/DocumentMetadataEvent.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerAdapter.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebar.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
  pom.xml
Labels: Module: Annotation, Module: Document Metadata, Requires upstream changes, 🆕Enhancement
