Repository inception-project/inception, pull requests merged in 2019-07, with the labels that each got.

#1279 #1276 - Scheduler schedules training twice
  pom.xml
Labels: Module: Recommender, Requires upstream changes, 🐛Bug

#1262 #1275 - Use sorted labels for rendering suggestions
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
Labels: Module: Recommender, 🐛Bug

#1254 #1085 - Creating Stacking Spans in PDF editor
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderSpan.js
Labels: Module: PDF editor, Needs Review, 🐛Bug

#1265 #1273 - Make prediction possible even if there was no training
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerFactory.java
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommender.java
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityRecommenderFactory.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommender.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderFactory.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderFactory.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderFactory.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderFactory.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommender.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommenderFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/ner/StringMatchingNerClassificationToolFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/pos/StringMatchingPosClassificationToolFactory.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineCapability.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineFactory.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommenderContext.java
  inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommenderContextTest.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: Module: Recommender, 🆕Enhancement

#1287 #790 - DB accesses during in-project search slow down process
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchQueryRequest.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
Labels: Module: Project Search, 🐛Bug, 🚀Performance

#1278 #1277 - Exception when recommender factory is not available
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
Labels: Module: Recommender, 🐛Bug

#1286 Bugfix/1093 typing invalid iri into default dataset throws
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/validators/IriValidator.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/validators/Validators.java
Labels: Module: Knowledge Base, Needs Review, 🐛Bug

#955 #950 - Add LAPPS Grid external recommender support
  inception-app-webapp/pom.xml
  inception-imls-lapps/marker-wicket-module
  inception-imls-lapps/pom.xml
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommender.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderFactory.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/Lif2DKPro.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridRecommenderTraits.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridRecommenderTraitsEditor.html
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridRecommenderTraitsEditor.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridRecommenderTraitsEditor.properties
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridService.java
  inception-imls-lapps/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/services.json
  inception-imls-lapps/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/services_all.json
  inception-imls-lapps/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderConformityTest.java
  inception-imls-lapps/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsRecommenderIntegrationTest.java
  inception-imls-lapps/src/test/resources/conllu-en-orig.conll
  inception-imls-lapps/src/test/resources/testdata/cas.xmi
  inception-imls-lapps/src/test/resources/testdata/requests/pos_response.json
  inception-imls-lapps/src/test/resources/testdata/tnf.xmi
  pom.xml
Labels: Module: Recommender, 🆕Enhancement

#1283 #1282 - External authentication not working
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/InceptionSecurity.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/session/SessionListener.java
  inception-app-webapp/src/main/resources/META-INF/preAuthSecurity-context.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
Labels: Needs Review, 🐛Bug

#1264 #1212 - Zero-width spans for PDF editor
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/DocumentModel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfExtractFile.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/render/PdfAnnoRenderer.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfextract/PDFExtractor.java
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/span.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/span.js
  inception-pdf-editor/src/main/js/pdfanno/src/page/textLayer.js
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.js
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoRendererTest.java
  inception-pdf-editor/src/test/resources/rendererTestAnnoFile.anno
Labels: Module: PDF editor, 🆕Enhancement, 🕶️UX

#1292 #1272 - String matcher duplicates recommendations
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🐛Bug

#1285 #1284 - Upgrade to DKPro Core 1.11.0
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/formats/ConllUFormatSupport.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/formats/LifFormatSupport.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/formats/PerseusReader.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/formats/TeiFormatSupport.java
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/NamedEntityLinkerTest.java
  inception-example-imls-data-majority/pom.xml
  inception-example-imls-data-majority/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommenderTest.java
  inception-external-search-pubannotation/pom.xml
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/format/PubAnnotationSectionsReader.java
  inception-html-editor/pom.xml
  inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlFormatSupport.java
  inception-imls-dl4j/pom.xml
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommender.java
  inception-imls-dl4j/src/main/resources/org/dkpro/core/api/datasets/lib/glove.6B.50d.dl4jw2v.yaml
  inception-imls-dl4j/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderTest.java
  inception-imls-external/pom.xml
  inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderIntegrationTest.java
  inception-imls-lapps/pom.xml
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommender.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderFactory.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/Lif2DKPro.java
  inception-imls-lapps/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderConformityTest.java
  inception-imls-lapps/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsRecommenderIntegrationTest.java
  inception-imls-opennlp/pom.xml
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderTest.java
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTest.java
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommenderTest.java
  inception-imls-opennlp/src/test/resources/org/dkpro/core/api/datasets/lib/sentence-classification-en.yaml
  inception-imls-stringmatch/pom.xml
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/TrieTest.java
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfFormatSupport.java
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoRendererTest.java
  inception-pdf-editor/src/test/resources/rendererTestAnnoFile.anno
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/VisibilityCalculationTests.java
  inception-search-mtas/pom.xml
  inception-ui-kb/pom.xml
  pom.xml
Labels: Needs Review, ⚙️Refactoring

#1288 #1200 - Selected Document Annotation not visible in details
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.html
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.html
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebar.html
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebar.java
Labels: Module: Document Metadata, 🆕Enhancement, 🕶️UX

#1298 #1297 - Tagsets panel missing from project settings
  inception-app-webapp/pom.xml
  pom.xml
Labels: 🐛Bug

#1301 #1300 - Disabled training states reset when re-opening recommender
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
Labels: Module: Recommender, 🐛Bug

#1303 Bugfix/1302 unable to use string matching recommender only with gazeteer
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: Module: Recommender, 🐛Bug

#1304 #1273 - Explicit recommender training capabilities
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderFactory.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: Module: Recommender, 🐛Bug

#1308 #1307 - Task counter not cleared when logging out
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🐛Bug

#1305 Feature/1295 bulk accept recommendations
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerFactory.java
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityRecommenderFactory.java
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderFactory.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderFactory.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommender.java
  inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderFactory.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderFactory.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderFactory.java
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommenderFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/ner/StringMatchingNerClassificationToolFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/pos/StringMatchingPosClassificationToolFactory.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/evaluation/EvaluationResult.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/EvaluatedRecommender.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/ExtendedId.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineFactory.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommenderContext.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/event/PredictionsSwitchedEvent.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/LearningCurveChartPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: Module: Recommender, 🆕Enhancement

#1309 #1306 Include Websocket support
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-app-webapp/src/main/resources/application.properties
  inception-testing/pom.xml
  inception-testing/src/test/java/de/tudarmstadt/ukp/inception/websocket/SpringConfig.java
  inception-testing/src/test/java/de/tudarmstadt/ukp/inception/websocket/WebSocketTest.java
  inception-testing/src/test/java/de/tudarmstadt/ukp/inception/websocket/WebSocketTestPage.java
Labels: 🆕Enhancement

#1313 #1312 - Embed Docker Compose script into documentation
  inception-doc/pom.xml
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_docker.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/scripts/docker-compose.yml
Labels: ⚙️Refactoring, 📖Documentation

#1328 #1327 - Untrainable external recommender thinks it cannot predict
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
Labels: Module: Recommender, 🐛Bug

#1311 #1310 - Linking of spans not working in PDF editor
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
Labels: Module: PDF editor, 🐛Bug

#1325 Update getting-started.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide/getting-started.adoc
Labels: 🐛Bug, 📖Documentation
