Repository inception-project/inception, pull requests merged in 2019-04, with the labels that each got.

#1078 #1072 - Support Wikidata fulltext search
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/WikidataEntitySearchService.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
Labels: Module: Knowledge Base, 🆕Enhancement

#1025 #1022 - Query for properties via SPARQLQueryBuilder
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/feature/SemanticSignatureFeatureGenerator.java
  inception-kb/pom.xml
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBHandle.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBStatement.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryOptionalElements.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryPrimaryConditions.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseLocalFullTextSearchIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderAsserts.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInstancePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptListPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptTreePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/InstanceInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/PropertyListPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/PropertyPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureTraitsEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/DefaultColoringStrategyImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/DescriptionColoringStrategyImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/LabelColoringStrategyImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/StatementColoringRegistry.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/StatementColoringRegistryImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/StatementColoringStrategy.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/SubclassOfColoringStrategyImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/TypeColoringStrategyImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/ValueTypeSupportRegistryImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValueEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValuePresenter.java
  inception-ui-kb/src/test/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupportTest.java
  inception-ui-kb/src/test/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupportTest.java
  pom.xml
Labels: Module: Knowledge Base, ⚙️Refactoring

#1052 #1051 - Switch completely to Java-based Spring configuration
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/InceptionSecurity.java
  inception-app-webapp/src/main/resources/META-INF/application-context.xml
  inception-app-webapp/src/main/resources/META-INF/preAuthSecurity-context.xml
  inception-app-webapp/src/main/resources/META-INF/security-context.xml
Labels: ⚙️Refactoring

#1018 Feature 919/Add button to leave a project
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.html
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.properties
  inception-ui-core/src/main/resources/META-INF/asciidoc/user-guide/dashboard_projects-list.adoc
Labels: Module: Dashboard, 🆕Enhancement

#1026 #1023 - Query for statements via SPARQLQueryBuilder
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQuery.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryPrimaryConditions.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/NoReification.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderAsserts.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
Labels: Module: Knowledge Base, ⚙️Refactoring

#1048 #1047 - Add docker support
  .github/ISSUE_TEMPLATE/release-bugfix.md
  .github/ISSUE_TEMPLATE/release-feature.md
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/docker/Dockerfile
  inception-app-webapp/src/main/docker/README.md
  inception-app-webapp/src/main/docker/docker-compose.yml
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_docker.adoc
  pom.xml
Labels: 🆕Enhancement

#1108 #1047 - Docker backport
  .github/ISSUE_TEMPLATE/release-bugfix.md
  .github/ISSUE_TEMPLATE/release-feature.md
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/docker/Dockerfile
  inception-app-webapp/src/main/docker/README.md
  inception-app-webapp/src/main/docker/docker-compose.yml
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_docker.adoc
  pom.xml
Labels: 🆕Enhancement

#1110 #1095 - Creating a statement with KB resource and empty value throws
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/IriValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/NumericLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/StringLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValueEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/StringLiteralValueEditor.java
Labels: Module: Knowledge Base, Needs Review, 🐛Bug

#1005 Feature/705 annotations in bulk
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchResult.java
  inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/search-core.adoc
  inception-ui-search/pom.xml
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.html
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.properties
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/CreateAnnotationsOptions.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/DeleteAnnotationsOptions.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/Options.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/SearchOptions.java
Labels: Module: Project Search, 🆕Enhancement

#1112 #1111 - PDF editor is denied to be embedded
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/InceptionSecurity.java
Labels: Critical, Module: PDF editor, 🐛Bug

#1104 #1101 Evaluating DL4J as NER recommender only predicts NO-LABEL
  inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommender.java
  inception-imls-dl4j/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderTest.java
Labels: Module: Recommender, Needs Review, 🐛Bug

#1116 #1115 - Run tests against remote repos only if they are available
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderGenericTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
Labels: Module: Knowledge Base, ⚙️Refactoring

#1060 Refactoring/1033 refactor prediction task.java
  CONTRIBUTORS.txt
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/VisibilityCalculationTests.java
Labels: Module: Recommender, ⚙️Refactoring

#1097 #988 Make max. results configurable for ElasticSearch repos
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.html
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.properties
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/project/DocumentRepositoryEditorPanel.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/project/ProjectDocumentRepositoriesPanel.java
Labels: Module: External Search, 🆕Enhancement

#1107 #1106 - Add release documentation
  inception-app-webapp/src/main/docker/README.md
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_docker.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/release.adoc
  inception-doc/src/test/java/de/tudarmstadt/ukp/inception/doc/GenerateDocumentation.java
Labels: 📖Documentation

#1109 #1012 - Use KnowledgeBaseItemAutoCompleteField in IRIValueEditor
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/feature/EntityRankingFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/feature/FrequencyFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/feature/LevenshteinFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/feature/SemanticSignatureFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/feature/WikidataIdRankFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/CandidateEntity.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/ranking/BaselineRankingStrategy.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/ranking/BaselineRankingStrategyTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/KnowledgeBaseItemAutoCompleteField.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValueEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/StringLiteralValueEditor.java
Labels: Module: Knowledge Base, 🆕Enhancement, 🐛Bug

#1129 #1128 Make default_field configurable for ElasticSearch queries
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraits.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.html
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.properties
Labels: Module: ElasticSearch, 🆕Enhancement

#1122 #1089 - PDF Editor Viewport undefined
  inception-pdf-editor/src/main/js/pdfanno/src/page/textLayer.js
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.js
Labels: Module: PDF editor, 🐛Bug

#1120 #1119 - Images jump back to top after new annotation tag
  inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/ImageSidebar.html
Labels: Module: Images, 🐛Bug

#1121 #1067 - Creating relations between named entities crashes
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
Labels: Module: PDF editor, Requires upstream changes, 🐛Bug

#1118 # 542 recommender layer anchor mismatch
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/LearningCurveChartPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
Labels: Module: Recommender, 🐛Bug

#1113 #278 User documentation for external search
  inception-external-search-elastic/src/main/resources/META-INF/asciidoc/user-guide/external-search-repos-elasticsearch.adoc
  inception-ui-external-search/src/main/resources/META-INF/asciidoc/user-guide/external-search-page.adoc
  inception-ui-external-search/src/main/resources/META-INF/asciidoc/user-guide/external-search-sidebar.adoc
Labels: Module: External Search, 📖Documentation

#1131 #1130 - Ability to change background colour of image display panel
  inception-image/pom.xml
  inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/ImageSidebar.html
  inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/ImageSidebar.java
  inception-image/src/main/resources/META-INF/asciidoc/user-guide/annotation_images.adoc
Labels: Module: Images, Needs Review, 🆕Enhancement
