Repository inception-project/inception, pull requests merged in 2019-01, with the labels that each got.

#809 #807 - IllegalArgumentException when creating a Statement
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#814 #813 - Error page when root concept does not exist in KB
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
Labels: Module: Knowledge Base, 🐛Bug

#817 #815 - Sub-properties not taken into account for getStatementGroupComparator()
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ImportantStatementComparator.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/InstanceInfoPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/PropertyPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#810 Feature/640 refactoring kb module documentation on kb related classes
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/setup.adoc
  inception-kb/src/main/resources/META-INF/asciidoc/developer-guide/knowledgebase.adoc
  inception-kb/src/main/resources/META-INF/asciidoc/developer-guide/knowledgebase_irischema.adoc
  inception-search-core/src/main/resources/META-INF/asciidoc/developer-guide/search.adoc
  inception-search-mtas/src/main/resources/META-INF/asciidoc/developer-guide/search-mtas.adoc
Labels: Module: Knowledge Base, 📖Documentation

#795 #788 - Refactoring KB Module - Move code to correspoding classes
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SchemaProfile.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBConcept.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBInstance.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBProperty.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseProfile.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseProfileDeserializationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseSubPropertyLabelTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnwoledgeBaseSchemaProfileTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/ConceptInstancePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/wizard/KnowledgeBaseCreationWizard.java
Labels: Module: Knowledge Base, ⚙️Refactoring

#787 #627 - Retrieval of existing annotations in PDF editor frontend
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoPanel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoRenderer.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/ColorMap.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfAnnoModel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfExtractFile.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfExtractLine.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Relation.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Span.java
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.js
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoModelTest.java
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfExtractFileTest.java
  inception-pdf-editor/src/test/resources/annoFile.anno
  inception-pdf-editor/src/test/resources/colormap.json
  inception-pdf-editor/src/test/resources/pdfextract.txt
Labels: Module: PDF support, Needs Review, 🆕Enhancement

#820 #792 - Open imported doc in external search
  inception-ui-external-search/pom.xml
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage$ResultRowView.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
Labels: Module: External Search, 🆕Enhancement

#823 #822 - KB resources show as URI not as label in statements
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/editor/StatementEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/BooleanLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/IriValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/NumericLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/StringLiteralValueSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/ValueTypeSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValuePresenter.java
Labels: Module: Knowledge Base, Needs attention, 🐛Bug

#819 #776 Use a central and unified scheduling service
  CONTRIBUTORS.txt
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/RecommendationScheduler.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/TaskConsumer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/scheduling/tasks/Task.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception-scheduling/LICENSE.txt
  inception-scheduling/pom.xml
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/InspectableThreadPoolExecutor.java
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingService.java
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/Task.java
  inception-scheduling/src/test/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceTest.java
  inception-search-mtas/pom.xml
  pom.xml
Labels: Module: Scheduler, 🆕Enhancement

#831 Feature/829 upgrade dependencies
  inception-pdf-editor/pom.xml
  pom.xml
Labels: ⚙️Refactoring

#827 Feature/266 support import export in logging module
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporter.java
  inception-log/src/test/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporterTest.java
Labels: Module: Logging, Needs Review, 🆕Enhancement

#828 #821 - Remove the "alpha"
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/WicketApplication.properties
Labels: ⚙️Refactoring

#697 #696 - Support document metadata
  inception-app-webapp/pom.xml
  inception-layer-docmetadata/LICENSE.txt
  inception-layer-docmetadata/marker-wicket-module
  inception-layer-docmetadata/pom.xml
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/config/DocumentMetadataLayerSupportProperties.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/config/DocumentMetadataLayerSupportPropertiesImpl.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/event/DocumentMetadataCreatedEvent.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/event/DocumentMetadataDeletedEvent.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerAdapter.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerSupport.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.html
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.html
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebar.html
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebar.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebarFactory.java
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/magnifier.png
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/FeatureValueUpdatedEventAdapter.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/model/AnnotationDetails.java
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/model/FeatureChangeDetails.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  pom.xml
Labels: Needs Review, 🆕Enhancement

#837 #836 - Full text search IRI not set from Knowledge Base Profile
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseAccess.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseMapping.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseProfileDeserializationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnwoledgeBaseSchemaProfileTest.java
  inception-kb/src/test/resources/kb_test_profiles.yaml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#851 #847 - Fix/improve default KB profiles
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/less/inception-ui-kbp.less
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupport.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/NumericLiteralValueSupport.java
Labels: Module: Knowledge Base, 🐛Bug

#834 #803 - Rendering of multi range annotations
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoRenderer.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/exception/MultipleMatchesFoundException.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/exception/NoMatchFoundException.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfAnnoModel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfExtractFile.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Span.java
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoRendererTest.java
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfExtractFileTest.java
  inception-pdf-editor/src/test/resources/rendererTestAnnoFile.anno
  inception-pdf-editor/src/test/resources/rendererTestPdfExtract.txt
  inception-pdf-editor/src/test/resources/tcf04-karin-wl.xml
Labels: Module: PDF support, 🐛Bug

#862 #860 - Tasks are added even if same kind is already in queue
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-kb/pom.xml
  inception-scheduling/pom.xml
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingService.java
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/config/SchedulingProperties.java
  inception-scheduling/src/main/resources/META-INF/asciidoc/admin-guide/settings_scheduler.adoc
  inception-scheduling/src/test/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceTest.java
Labels: Critical, Module: Scheduler, 🐛Bug

#861 Bugfix/857 documents outdated
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_home.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_jar.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_database.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/upgrade_jar.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide/getting-started.adoc
  pom.xml
Labels: 🐛Bug, 📖Documentation

#869 #838 - Creation of spans in PDF editor
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoPanel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoRenderer.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/DocumentModel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Offset.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfAnnoModel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfExtractFile.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Relation.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Span.java
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/span.js
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.js
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoModelTest.java
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoRendererTest.java
Labels: Module: PDF support, 🆕Enhancement

#881 #877 - Recommendations not generated when opening a document
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
Labels: Module: Recommender, 🐛Bug

#854 #853 - StringMatchingRecommender does not notice when it has no training data
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
Labels: Module: Recommender, 🐛Bug

#871 #870 - IRI info for IRI-valued statements
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/IriInfoBadge.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/IriInfoBadge.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValuePresenter.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/editor/IRIValuePresenter.java
Labels: Module: Knowledge Base, 🆕Enhancement, 🕶️UX

#852 #198 - CoNLL-U Export reproducibly throws on export
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/formats/ConllUFormatSupport.java
  inception-app-webapp/src/main/resources/META-INF/application-context.xml
  pom.xml
Labels: 🐛Bug

#895 #894 - Allow INCEpTION to run on Java 8
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/RdfUtils.java
  inception-scheduling/pom.xml
  inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.java
  pom.xml
Labels: ⚙️Refactoring

#893 #812 Property choice shows duplicates when creating new statements
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/StatementGroupPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#902 #901 - Import fails if project archive does not include event log
  inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporter.java
  inception-log/src/test/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporterTest.java
Labels: Module: Logging, 🐛Bug

#840 #825 External Search Sidebar
  inception-ui-external-search/NOTICE.txt
  inception-ui-external-search/pom.xml
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar$ResultRowView.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.properties
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebarFactory.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchUserStateMetaData.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/world_go.png
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/utils/DocumentImporter.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/utils/DocumentImporterImpl.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/utils/Utilities.java
  inception-ui-search/pom.xml
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
Labels: Module: External Search, 🆕Enhancement

#887 Feature/849 add a description field to kb profiles
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseAccess.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseInfo.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseProfile.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseProfileDeserializationTest.java
  inception-kb/src/test/resources/kb_test_profiles.yaml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
Labels: Module: Knowledge Base, 🆕Enhancement

#896 Feature/856 855 add reification and default language to kb profiles
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/yaml/KnowledgeBaseProfile.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseProfileDeserializationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/resources/kb_test_profiles.yaml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
Labels: Module: Knowledge Base, 🆕Enhancement

#866 #576 - Refactor more recommender
  inception-app-webapp/pom.xml
  inception-concept-linking/src/main/resources/META-INF/asciidoc/admin-guide/settings_concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/annotation_concept-linking.adoc
  inception-doc/pom.xml
  inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/common/systemrequirements.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/setup.adoc
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-doc/src/test/java/de/tudarmstadt/ukp/inception/doc/GenerateDocumentation.java
  inception-example-imls-data-majority/pom.xml
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommender.java
  inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityRecommenderFactory.java
  inception-example-imls-data-majority/src/main/resources/META-INF/asciidoc/developer-guide/implementing_recommender_tutorial.adoc
  inception-example-imls-data-majority/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommenderTest.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestion.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestionTest.java
  inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/PredictionGroupTest.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  pom.xml
Labels: Module: Recommender, 📖Documentation

#907 #906 - SchedulingServiceTest fails sporadically
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/InspectableThreadPoolExecutor.java
  inception-scheduling/src/test/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceTest.java
Labels: Module: Scheduler, Testing, 🐛Bug
