Repository inception-project/inception, pull requests merged in 2019-02, with the labels that each got.

#886 #863 - Upgrade to OpenNLP 1.9.1
  inception-imls-opennlp/pom.xml
Labels: Module: Recommender, ⚙️Refactoring

#818 #811 - Search bar for knowledge base page
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePage.properties
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: Module: Knowledge Base, 🆕Enhancement

#909 #908 - Cannot start unless external search is enabled
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-app-webapp/src/main/resources/META-INF/application-context.xml
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProviderRegistryImpl.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchService.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchServiceImpl.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/config/ExternalSearchAutoConfiguration.java
  inception-external-search-core/src/main/resources/META-INF/spring.factories
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProviderFactory.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/config/ElasticSearchDocumentRepositoryAutoConfiguration.java
  inception-external-search-elastic/src/main/resources/META-INF/spring.factories
  inception-external-search-elastic/src/test/resources/ElasticSearchTest.properties
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPageMenuItem.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/config/ExternalSearchUIAutoConfiguration.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/project/DocumentRepositoryProjectSettingsPanelFactory.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebarFactory.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/utils/DocumentImporterImpl.java
  inception-ui-external-search/src/main/resources/META-INF/spring.factories
Labels: Module: External Search, 🐛Bug

#913 #825 - Split-screen external search and annotation view
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
Labels: Module: External Search, 🆕Enhancement

#911 #910 - Whitespace can confuse StringMatchingRecommender
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/KeySanitizer.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/KeySanitizerFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/Trie.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/WhitespaceNormalizingSanitizer.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/TrieTest.java
Labels: Module: Recommender, 🐛Bug

#923 #922 - External recommender fails training when giving no casses
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderTraits.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderTraitsEditor.html
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderTraitsEditor.java
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderTraitsEditor.properties
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: Module: Recommender, 🐛Bug

#929 #928 - Remember layer default setting missing in application.properties
  inception-app-webapp/src/main/resources/application.properties
Labels: 🐛Bug, 🕶️UX

#927 #924 - Improve debugging of scheduler
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingService.java
  inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/Task.java
  inception-scheduling/src/test/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceTest.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/TaskConsumer.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
Labels: Module: Scheduler, 🆕Enhancement

#932 #931 - Training/prediction runs twice when document is opened
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🐛Bug

#915 Feature/914 gazeteer support for string matching recommender
  inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
  inception-imls-stringmatch/marker-wicket-module
  inception-imls-stringmatch/pom.xml
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderFactory.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/exporter/ExportedGazeteer.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/exporter/GazeteerExporter.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/gazeteer/GazeteerService.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/gazeteer/GazeteerServiceImpl.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/model/Gazeteer.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/model/GazeteerEntry.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/settings/StringMatchingRecommenderTraitsEditor.html
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/settings/StringMatchingRecommenderTraitsEditor.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/settings/StringMatchingRecommenderTraitsEditor.properties
  inception-imls-stringmatch/src/main/resources/META-INF/asciidoc/user-guide/projects_recommendation_string.adoc
  inception-imls-stringmatch/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/model/db-changelog.xml
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/exporter/GazeteerExporterTest.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/gazeteer/GazeteerServiceImplTest.java
  inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/trie/TrieTest.java
  inception-imls-stringmatch/src/test/resources/gazeteers/gaz1.txt
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception-support/marker-wicket-module
  inception-support/pom.xml
Labels: Module: Recommender, 🆕Enhancement

#937 #936 - maven-enforcer-plugin enforces wrong Java version
  pom.xml
Labels: 🐛Bug

#938 #936 - maven-enforcer-plugin enforces wrong Java version
  pom.xml
Labels: 🐛Bug

#846 #825 external search bar - keyword highlight
  inception-external-search-core/pom.xml
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchHighlight.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchResult.java
  inception-external-search-elastic/pom.xml
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-external-search-elastic/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchTest.java
  inception-external-search-elastic/src/test/resources/ElasticSearchTest.properties
  inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/annotation/OffsetSpan.java
  inception-ui-external-search/pom.xml
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/ExternalResultDataProvider.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
Labels: Module: External Search, 🆕Enhancement

#943 #941 - Upgrade dependencies (0.8.0)
  pom.xml
Labels: ⚙️Refactoring

#944 #942 - Layout of elastic search traits is broken
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.html
Labels: Module: External Search, 🐛Bug

#954 #953 - Exception when reloading page
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.html
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/GeneralSettingsPanel.java
Labels: Module: Knowledge Base, 🐛Bug

#952 #939 - PDF editor loads wrong PDF
  inception-pdf-editor/src/main/js/pdfanno/src/page/pdf/PDFAnnoPage.js
Labels: Module: PDF support, 🐛Bug

#930 #839 - Creation of relations in PDF editor
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/relation.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/UI/span.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderRelation.js
Labels: Module: PDF support, 🆕Enhancement

#925 #277 Import/export external search settings
  inception-external-search-core/pom.xml
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/exporter/DocumentRepositoryExporter.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/exporter/ExportedDocumentRepository.java
  inception-external-search-core/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/exporter/DocumentRepositoryExporterTest.java
Labels: Module: External Search, 🆕Enhancement

#957 #956 - Add LIF support
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/formats/LifFormatSupport.java
Labels: 🆕Enhancement

#963 #277 - Import/export external search settings when importing/exporting project
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/config/ExternalSearchAutoConfiguration.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/exporter/DocumentRepositoryExporter.java
Labels: Module: External Search, 🆕Enhancement

#912 #555 - Kb items matching the exact text entered by the user not top ranked
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/CandidateEntity.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/util/QueryUtil.java
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/util/TestFixtures.java
  inception-concept-linking/src/test/resources/log4j2.xml
  inception-kb/pom.xml
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/IriConstants.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBHandle.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/reification/WikiDataReification.java
  inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
  inception-kb/src/test/resources/data/wine-ontology.rdf
  inception-kb/src/test/resources/log4j2.xml
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/search/ConceptFeatureIndexingSupport.java
  pom.xml
Labels: Module: Entity Linking, 🐛Bug

#948 #885 - Clean PDF.js UI
  inception-pdf-editor/src/main/js/pdfanno/src/index-debug.html
  inception-pdf-editor/src/main/js/pdfanno/src/index.html
  inception-pdf-editor/src/main/js/pdfanno/src/pdfanno.css
Labels: Module: PDF support, 🆕Enhancement

#972 #958 - kb instance not properly filtered when annotating
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/css/inception.css
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/config/EntityLinkingProperties.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/CandidateEntity.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/model/SemanticSignature.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerFactory.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingService.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/feature/EntityRankingFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/feature/FrequencyFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/feature/LevenshteinFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/feature/SemanticSignatureFeatureGenerator.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/feature/WikidataIdRankFeatureGenerator.java
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImplTest.java
  inception-concept-linking/src/test/java/de/tudarmstadt/ukp/inception/conceptlinking/service/SpringConfig.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/SPARQLQueryStore.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBHandle.java
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/QualifierFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/SubjectObjectFeatureEditor.java
Labels: Module: Knowledge Base, ⚙️Refactoring, 🐛Bug

#973 #971 - Optimize PNG images
  inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/active_learning.png
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/images/activeLearning2.png
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/images/activeLearning3.png
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/logo/ukp-logo.png
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/ascii-splash.png
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/splash.png
  inception-app-webapp/src/main/resources/public/favicon.png
  inception-app-webapp/src/main/resources/public/images/books.png
  inception-app-webapp/src/main/resources/public/images/favicon.png
  inception-app-webapp/src/main/resources/public/images/magnifier.png
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/images/concept-linking2.png
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/images/concept-linking3.png
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/images/concept-linking4.png
  inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/images.png
  inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/magnifier.png
  inception-pdf-editor/src/main/js/pdfanno/pages/images/secondaryToolbarButton-documentProperties.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation1.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation2.png
  inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation3.png
  inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/images/search-core-search.png
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/world_go.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction1.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction2.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction3.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction4.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction5.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction6.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction7.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction8.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction9.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb1.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb2.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb3.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb4.png
  inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/images/kb5.png
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/magnifier.png
Labels: ⚙️Refactoring

#951 #880 - Selection of relations in PDF editor
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoRenderer.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Relation.java
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/relation.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/span.js
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoModelTest.java
  inception-pdf-editor/src/test/resources/annoFile.anno
Labels: Module: PDF support, 🆕Enhancement

#967 #966 - Annotations not starting/ending at Token boundaries cause OpenNlpNerRecommender to crash
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
Labels: Module: Recommender, 🐛Bug

#960 #947 - Removing recommendations in PDF editor
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/span.js
Labels: Module: PDF support, 🆕Enhancement

#974 #966 - Annotations not starting/ending at Token boundaries cause OpenNlpNerRecommender to crash
  inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
Labels: Module: Recommender, 🐛Bug

#978 #958 - kb instance not properly filtered when annotating
  inception-concept-linking/src/main/resources/META-INF/asciidoc/admin-guide/settings_concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/developer-guide/concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/annotation_concept-linking.adoc
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/images/concept-linking2.png
  inception-concept-linking/src/main/resources/META-INF/asciidoc/user-guide/images/concept-linking3.png
  inception-doc/src/main/resources/META-INF/asciidoc/developer-guide.adoc
  inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
  inception-log/src/main/resources/META-INF/asciidoc/developer-guide/log.adoc
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/KnowledgeBaseItemAutoCompleteField.java
Labels: Module: Entity Linking, Module: Knowledge Base, 🐛Bug

#965 #940 - External search sidebar does not work properly if annotation interface accessed via top-level external search
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
Labels: Module: External Search, 🐛Bug

#982 #970 - https://archive.ics.uci.edu is down
  inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderTest.java
Labels: Module: Recommender

#984 #890 - YAGO SPARQL endpoint not reachable
  inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
Labels: ⚙️Refactoring

#983 #981 - Labels for Annotations in PDF editor
  inception-pdf-editor/pom.xml
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfAnnoRenderer.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/ColorMap.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/PdfAnnoModel.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Relation.java
  inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/model/Span.java
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/annotation/container.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderKnob.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderRelation.js
  inception-pdf-editor/src/main/js/pdfanno/src/core/src/render/renderSpan.js
  inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoModelTest.java
  inception-pdf-editor/src/test/resources/annoFile.anno
  inception-pdf-editor/src/test/resources/colormap.json
  inception-pdf-editor/src/test/resources/rendererTestAnnoFile.anno
Labels: Module: PDF support, 🆕Enhancement

#969 Random score external search
  inception-external-search-elastic/pom.xml
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraits.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.html
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraitsEditor.properties
Labels: Module: ElasticSearch, Module: External Search, 🆕Enhancement

#949 #946 - PubAnnotation connector for external search
  inception-app-webapp/pom.xml
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-external-search-core/pom.xml
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchHighlight.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProvider.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProviderFactory.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProviderRegistryImpl.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchResult.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchService.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchServiceImpl.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/HighlightUtils.java
  inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/config/ExternalSearchAutoConfiguration.java
  inception-external-search-elastic/pom.xml
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProvider.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProviderFactory.java
  inception-external-search-elastic/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/traits/ElasticSearchProviderTraits.java
  inception-external-search-elastic/src/main/resources/META-INF/asciidoc/user-guide/external-search-repos-elasticsearch.adoc
  inception-external-search-elastic/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/elastic/ElasticSearchProviderTest.java
  inception-external-search-pubannotation/LICENSE.txt
  inception-external-search-pubannotation/marker-wicket-module
  inception-external-search-pubannotation/pom.xml
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/PubAnnotationProvider.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/PubAnnotationProviderFactory.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/config/PubAnnotationDocumentRepositoryAutoConfiguration.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/format/PubAnnotationSectionsFormatSupport.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/format/PubAnnotationSectionsReader.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/model/PubAnnotationDocumentHandle.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/model/PubAnnotationDocumentSection.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/traits/PubAnnotationProviderTraits.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/traits/PubAnnotationProviderTraitsEditor.html
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/traits/PubAnnotationProviderTraitsEditor.java
  inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/traits/PubAnnotationProviderTraitsEditor.properties
  inception-external-search-pubannotation/src/main/resources/META-INF/asciidoc/user-guide/external-search-repos-pubannotation.adoc
  inception-external-search-pubannotation/src/main/resources/META-INF/spring.factories
  inception-external-search-pubannotation/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/PubAnnotationProviderTest.java
  inception-external-search-pubannotation/src/test/resources/3181839.json
  inception-external-search-pubannotation/src/test/resources/singleQueryResult.json
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/DocumentDetailsPage.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/ExternalResultDataProvider.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar$ResultRowView.html
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/utils/DocumentImporter.java
  inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/utils/DocumentImporterImpl.java
  inception-ui-external-search/src/main/resources/META-INF/asciidoc/user-guide/external-search-page.adoc
  inception-ui-external-search/src/main/resources/META-INF/asciidoc/user-guide/external-search-repos.adoc
  inception-ui-external-search/src/main/resources/META-INF/asciidoc/user-guide/external-search-sidebar.adoc
  inception-ui-external-search/src/main/resources/META-INF/asciidoc/user-guide/external-search.adoc
  pom.xml
Labels: Module: External Search, Module: PubAnnotation, 🆕Enhancement
