Repository inception-project/inception, pull requests merged in 2020-01, with the labels that each got.

#1591 #1590 - Upgrade dependencies (0.15.0)
  inception-imls-dl4j/pom.xml
  pom.xml
Labels: ⚙️Refactoring

#1331 #1054 - Dealing with many results in search sidebar
  inception-search-core/pom.xml
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/ResultsGroup.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchQueryRequest.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchService.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/config/SearchProperties.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/config/SearchPropertiesImpl.java
  inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/index/PhysicalIndex.java
  inception-search-core/src/main/resources/META-INF/asciidoc/admin-guide/settings_search.adoc
  inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/search-core.adoc
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexFactory.java
  inception-ui-search/pom.xml
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.html
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.properties
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchResultsPagesCache.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchResultsProvider.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchResultsProviderWrapper.java
  inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/SearchOptions.java
Labels: Module: Project Search, 🆕Enhancement

#1593 #1576 - External recommender should interpret 429 as busy
  inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommender.java
Labels: Module: Recommender, 🆕Enhancement

#1604 #1595 - KB entity not displayed in candidates' dropdown
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/KnowledgeBasePanel.java
  inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
Labels: Module: Knowledge Base, 🐛Bug
