Repository inception-project/inception, pull requests merged in 2020-03, with the labels that each got.

#1617 [SECURITY] Use HTTPS to resolve dependencies in Maven Build
  pom.xml
Labels: ⚙️Refactoring

#1257 #1256 Integrate curation into annotation page
  inception-active-learning/src/main/resources/META-INF/asciidoc/user-guide/annotation_activeLearning.adoc
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
  inception-curation/marker-wicket-module
  inception-curation/pom.xml
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationEditorExtension.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationMetadata.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationService.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationServiceImpl.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationSettings.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationSettingsId.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationVID.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/AutomaticMergeStrategy.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/ManualMergeStrategy.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/MergeStrategy.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/CurationSidebar.html
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/CurationSidebar.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/CurationSidebar.properties
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/CurationSidebarFactory.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/data_table.png
  inception-curation/src/main/resources/META-INF/asciidoc/user-guide/curation-sidebar.adoc
  inception-curation/src/main/resources/META-INF/asciidoc/user-guide/images/curation-sidebar.png
  inception-curation/src/main/resources/de/tudarmstadt/ukp/inception/curation/db-changelog.xml
  inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/CurationVIDTest.java
  inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestion.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  pom.xml
Labels: Module: Annotation, Requires upstream changes, 🆕Enhancement

#1638 #1637 - Navbar items do not have fixed height
  inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/menubar/MenuBar.html
Labels: 🐛Bug, 🕶️UX

#1635 #1633 Exception when session expires
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationServiceImpl.java
Labels: Module: Curation, Needs Review, 🐛Bug

#1639 #1602 - NEL only looks for first word and not entire span
  inception-concept-linking/pom.xml
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerTraits.java
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Entity Linking, 🐛Bug
