Repository inception-project/inception, pull requests merged in 2021-04, with the labels that each got.

#2153 #2097 - Add example notebooks to repo
  README.md
  notebooks/annotations_as_one_sentence_and_label_per_line.ipynb
  notebooks/external_recommender.ipynb
  notebooks/using_pretokenized_and_preannotated_text.ipynb
Labels: 📖Documentation

#2152 #2151 - Clearer handling of stack traces on the error page
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_general.adoc
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/ErrorPage.html
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/ErrorPage.java
Labels: 🆕Enhancement

#2155 #2154 - Use Fontawesome for left sidebar on annotation page
  inception/inception-active-learning/pom.xml
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebarFactory.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/active_learning.png
  inception/inception-boot-loader/src/test/java/de/tudarmstadt/ukp/inception/bootloader/ExtensibleClasspathEnabledWarLauncherTest.java
  inception/inception-curation/pom.xml
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/CurationSidebarFactory.java
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/data_table.png
  inception/inception-image/pom.xml
  inception/inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/ImageSidebarFactory.java
  inception/inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/images.png
  inception/inception-layer-docmetadata/NOTICE.txt
  inception/inception-layer-docmetadata/pom.xml
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebarFactory.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/three_tags.png
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebarFactory.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/speech_bubble.png
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.html
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/AnnotationSidebarFactory.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarPanel.html
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarTab.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarTabbedPanel.html
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarTabbedPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/docinfo/DocumentInfoSidebarFactory.java
  inception/inception-ui-core/NOTICE.txt
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/bootstrap/inception-dashboard.scss
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/bootstrap/webanno-custom.scss
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/menu/MenuItem.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/users/ManageUsersPageMenuItem.java
  inception/inception-ui-core/src/main/resources/public/images/bullet_arrow_left.png
  inception/inception-ui-core/src/main/resources/public/images/bullet_arrow_right.png
  inception/inception-ui-core/src/main/resources/public/images/information.png
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/DashboardMenu.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/settings/ProjectSettingsDashboardPageBase.html
  inception/inception-ui-external-search/NOTICE.txt
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/project/ProjectDocumentRepositoriesMenuItem.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebarFactory.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/world_go.png
  inception/inception-ui-search/pom.xml
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebarFactory.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/magnifier.png
Labels: Module: Annotation, ⚙️Refactoring

#2157 #2156 - Sidebar cluttered with unused items
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/config/ActiveLearningAutoConfiguration.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebarFactory.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/AnnotationSchemaService.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/layer/LayerSupportRegistryImpl.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/AnnotationSchemaServiceImpl.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchService.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchServiceImpl.java
  inception/inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/sidebar/ImageSidebarFactory.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/config/DocumentMetadataLayerSupportAutoConfiguration.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataSidebarFactory.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/config/RecommenderServiceAutoConfiguration.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebarFactory.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/docinfo/DocumentInfoSidebarFactory.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPageMenuItem.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/config/ExternalSearchUIAutoConfiguration.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebarFactory.java
Labels: Module: Annotation, 🆕Enhancement

#2162 #2161 - Upgrade dependencies
  inception/inception-html-editor/pom.xml
  inception/inception-html-recogito-editor/pom.xml
  inception/pom.xml
Labels: ⚙️Refactoring

#2166 #2164 - Override default admin password and allow remote access
  inception/inception-security/pom.xml
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDao.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImpl.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/config/SecurityProperties.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/config/SecurityPropertiesImpl.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/model/User.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/login/LoginPage.java
Labels: Module: Remote API, 🆕Enhancement

#2168 #2167 - Project setting items not disappearing for disabled modules
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/config/RecommenderServiceAutoConfiguration.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/ProjectRecommendersMenuItem.java
  inception/inception-ui-external-search/pom.xml
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/config/ExternalSearchUIAutoConfiguration.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/project/ProjectDocumentRepositoriesMenuItem.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/project/ProjectDocumentRepositoriesPage.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/config/KnowledgeBaseServiceUIAutoConfiguration.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBaseMenuItem.java
Labels: Module: Dashboard, 🐛Bug

#2171 #2170 - Cancelling project creation creates error
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ProjectPageBase.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/ProjectPageMenuItem.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/ProjectSettingsPage.java
Labels: Module: Project Settings, 🐛Bug

#2173 #2172 - Importing documents from external search sidebar gives errors
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImpl.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.html
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar$ResultRowView.html
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.html
Labels: Module: External Search, 🐛Bug

#2181 #2180 - Clean up code related to project permission management
  inception/inception-api/pom.xml
  inception/inception-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/ProjectService.java
  inception/inception-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/SecurityUtil.java
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImpl.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDao.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImpl.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/logout/LogoutPanel.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ProjectPageBase.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/users/ManageUsersPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/CurrentProjectDashlet.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
Labels: ⚙️Refactoring

#2183 #2182 - Fast-track users into projects
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ApplicationPageBase.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/MenuBar.html
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/MenuBar.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.properties
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/menubar/MenuBar.java
Labels: Module: Dashboard, 🆕Enhancement

#2185 #2184 - Log in via invite acceptance page
  inception/inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/InceptionSecurity.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/SpringAuthenticatedWebSession.java
  inception/inception-sharing/pom.xml
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.html
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/login/LoginPage.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ProjectPageBase.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/menubar/MenuBar.java
Labels: 🆕Enhancement

#2187 #2161 - Upgrade dependencies
  inception/pom.xml
Labels: ⚙️Refactoring

#2192 #2191 - Agreement does not take tagset into account
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/AgreementUtils.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/cohenkappa/CohenKappaAgreementMeasure.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/fleisskappa/FleissKappaAgreementMeasure.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/krippendorffalpha/KrippendorffAlphaAgreementMeasure.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/results/coding/CodingAgreementResult.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/results/coding/PairwiseCodingAgreementTable.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/results/unitizing/PairwiseUnitizingAgreementTable.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementMeasureTestSuite_ImplBase.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementTestUtils.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/CohenKappaAgreementMeasureTest.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/FleissKappaAgreementMeasureTest.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/KrippendorffAlphaNominalAgreementMeasureTest.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/KrippendorffAlphaUnitizingAgreementMeasureTest.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/AnnotationSchemaServiceImpl.java
Labels: Module: Agreement, 🐛Bug

#2204 #2203 - Configure left/right sidebar independently
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotationPreference.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.properties
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/UserPreferencesServiceImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarPanel.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Annotation, Module: Curation, 🆕Enhancement, 🐛Bug

#2208 #2177 - Minmal HTML document cannot be imported
  inception/inception-html-editor/pom.xml
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/config/HtmlAnnotationEditorSupportAutoConfiguration.java
  inception/inception-io-html/LICENSE.txt
  inception/inception-io-html/pom.xml
  inception/inception-io-html/src/main/java/de/tudarmstadt/ukp/inception/io/html/HtmlFormatSupport.java
  inception/inception-io-html/src/main/java/de/tudarmstadt/ukp/inception/io/html/LegacyHtmlFormatSupport.java
  inception/inception-io-html/src/main/java/de/tudarmstadt/ukp/inception/io/html/dkprocore/CasXmlHandler.java
  inception/inception-io-html/src/main/java/de/tudarmstadt/ukp/inception/io/html/dkprocore/HtmlDocumentReader.java
  inception/inception-io-html/src/test/java/de/tudarmstadt/ukp/inception/io/html/dkprocore/HtmlDocumentReaderTest.java
  inception/inception-io-html/src/test/resources/html/test-document.xmi
  inception/inception-io-html/src/test/resources/html/test-document.xml
  inception/inception-io-html/src/test/resources/html/test-with-head-and-doctype.html
  inception/inception-io-html/src/test/resources/html/test-with-head-and-doctype.xmi
  inception/inception-io-html/src/test/resources/html/test-with-head.html
  inception/inception-io-html/src/test/resources/html/test-with-head.xmi
  inception/inception-io-html/src/test/resources/html/test.html
  inception/inception-io-html/src/test/resources/html/test.html.dump
  inception/inception-io-html/src/test/resources/log4j2.xml
  inception/pom.xml
Labels: Module: HTML, 🐛Bug

#2209 #2195 - UX / Curation / Bad UX with multiple annotators
  .gitignore
  inception/inception-ui-curation/pom.xml
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.html
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Curation, 🐛Bug, 🕶️UX

#2205 #2201 - Refactor rendering
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/NopRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/Renderer_ImplBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/SpanRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VArc.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VSpan.java
Labels: Module: Annotation, ⚙️Refactoring

#2217 #2216 - Multi-Token Sequence Classifier (OpenNLP NER) matches an additional token
  inception/inception-imls-opennlp/pom.xml
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
Labels: Module: Recommender, 🐛Bug

#2220 #2219 - Krippendorff's Alpha Agreement = 1.0 (Unitization) although documents differ completely
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/krippendorffalphaunitizing/KrippendorffAlphaUnitizingAgreementMeasure.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementMeasureTestSuite_ImplBase.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/CohenKappaAgreementMeasureTest.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/FleissKappaAgreementMeasureTest.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/KrippendorffAlphaNominalAgreementMeasureTest.java
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/KrippendorffAlphaUnitizingAgreementMeasureTest.java
Labels: Module: Agreement, 🐛Bug

#2224 #2223 - Render cache not cleared after adding slot feature
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/PreRendererImpl.java
Labels: Module: Annotation, 🐛Bug

#2228 #2227 - Slightly improve OpenNLP NER
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.java
Labels: Module: Recommender, ⚙️Refactoring

#2222 #2186 - Support per-project guest annotators
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/sidebar/CurationSidebar.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/AnnotatorsPanel.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/AnnotatorSegment.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/BratSuggestionVisualizer.java
Labels: 🆕Enhancement

#2232 #2231 - Allow asking user for mail address on the accept invite page
  inception/inception-sharing/pom.xml
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.html
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteService.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImpl.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/model/Mandatoriness.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/model/MandatorinessType.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/model/ProjectInvite.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.html
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.properties
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/exporters/ExportedProjectInvite.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/exporters/ProjectInviteExporter.java
  inception/inception-sharing/src/main/resources/de/tudarmstadt/ukp/inception/sharing/model/db-changelog.xml
Labels: Module: Sharing, 🆕Enhancement

#2235 #2234 - More options of expiring an invite
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.html
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteService.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImpl.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/config/InviteServiceAutoConfiguration.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/model/ProjectInvite.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.html
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.properties
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/exporters/ExportedProjectInvite.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/exporters/ProjectInviteExporter.java
  inception/inception-sharing/src/main/resources/META-INF/asciidoc/user-guide/images/sharing_settings.png
  inception/inception-sharing/src/main/resources/META-INF/asciidoc/user-guide/projects_sharing.adoc
  inception/inception-sharing/src/main/resources/de/tudarmstadt/ukp/inception/sharing/model/db-changelog.xml
  inception/inception-sharing/src/test/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImplTest.java
Labels: Module: Sharing, 🆕Enhancement

#2238 #2237 - Allow backend code to generate an invite link
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteService.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImpl.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/config/InviteServiceAutoConfiguration.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/config/InviteServiceProperties.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/config/InviteServicePropertiesImpl.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.java
  inception/inception-sharing/src/test/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImplTest.java
Labels: ⚙️Refactoring

#2215 #2213 - Add module for user preferences
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
  inception/inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/gazeteer/GazeteerServiceImplTest.java
  inception/inception-preferences/marker-wicket-module
  inception/inception-preferences/pom.xml
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/Key.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesService.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesServiceImpl.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/config/PreferencesServiceAutoConfig.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/model/UserPreference.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/model/UserProjectPreference.java
  inception/inception-preferences/src/main/resources/META-INF/spring.factories
  inception/inception-preferences/src/main/resources/de/tudarmstadt/ukp/inception/preferences/model/db-changelog.xml
  inception/inception-preferences/src/test/java/de/tudarmstadt/ukp/inception/preferences/PreferencesServiceImplIntegrationTest.java
  inception/inception-preferences/src/test/java/de/tudarmstadt/ukp/inception/preferences/TestTraits.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/model/User.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/SidebarTabbedPanel.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/bootstrap/inception-dashboard.scss
  inception/inception-ui-dashboard/pom.xml
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/DashboardMenu.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/DashboardMenu.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/PinState.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/AdminDashboardPage.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/SystemStatusDashlet.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/SystemStatusDashlet.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/settings/ProjectSettingsDashboardPageBase.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/settings/ProjectSettingsDashboardPageBase.java
  inception/pom.xml
Labels: Module: Dashboard, WIP, 🆕Enhancement
