Repository inception-project/inception, pull requests merged in 2021-11, with the labels that each got.

#2564 Feature/2457 documentation and refactoring for the experimental annotation api
  inception/inception-api-annotation-experimental/src/main/README.md
  inception/inception-api-annotation-experimental/src/main/resources/META-INF/asciidoc/user-guide/images/package_structure.png
  inception/inception-api-annotation-experimental/src/main/resources/META-INF/asciidoc/user-guide/images/streamlined_process.png
  inception/inception-api-annotation-experimental/src/main/resources/META-INF/asciidoc/user-guide/images/word_alignment_editor.png
Labels: 📖Documentation, Module: Annotator Web API

#2693 #2692 - Perseus treebank XML 2.1 not visible to annotate
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer.js
Labels: 🐛Bug, Module: Annotation

#2695 #2694 - Unsupported features not properly detected
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/Renderer.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/AnnotationSchemaServiceImpl.java
Labels: 🐛Bug, Module: Annotation

#2698 #2630 - Upgrade dependencies
  inception/pom.xml
Labels: ⚙️Refactoring

#2613 #2598 UI for the corpus statistics
  inception/inception-app-webapp/pom.xml
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/Granularities.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/LayerStatistics.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/Metrics.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchServiceImpl.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/StatisticsResult.java
  inception/inception-search-core/src/main/resources/META-INF/asciidoc/user-guide/statistics.adoc
  inception/inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception/inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception/inception-ui-search/pom.xml
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/Formats.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/config/StatsServiceUIAutoConfiguration.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsAnnotationSidebar.html
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsAnnotationSidebar.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsAnnotationSidebar.properties
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsAnnotationSidebarFactory.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsExporter.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsProvider.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/options/StatisticsOptions.java
  inception/inception-ui-search/src/main/resources/META-INF/spring.factories
Labels: 🆕Enhancement, 🕶️UX

#2701 #2700 - Improve performance of relation yield or make it optional
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/Renderer.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratLazyDetailsLookupService.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratLazyDetailsLookupServiceImpl.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/BratSuggestionVisualizer.java
Labels: 🆕Enhancement, Module: Annotation

#2704 #2703 - Improve performance of SpanOverlapBehavior
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/adapter/SpanOverlapBehavior.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/adapter/SpanOverlapBehaviorTest.java
Labels: 🆕Enhancement, Module: Annotation, 🚀Performance

#2712 #2711 - Script direction may unintentionally reset to project default
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotatorStateImpl.java
Labels: 🐛Bug, Module: Annotation

#2710 Refactoring/2708 convert from j query svg to svg.js
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorBase.java
  inception/inception-brat-editor/NOTICE.txt
  inception/inception-brat-editor/pom.xml
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/JQuerySvgDomResourceReference.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/JQuerySvgResourceReference.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/jquery.svg.js
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/jquery.svg.min.js
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/jquery.svgdom.js
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/jquery.svgdom.min.js
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/style-ui.css
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/style-vis.css
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/style-vis.scss
  inception/inception-brat-editor/src/main/ts/brat/ajax.ts
  inception/inception-brat-editor/src/main/ts/brat/annotator_ui.ts
  inception/inception-brat-editor/src/main/ts/brat/annotator_ui/AnnotatorUI.ts
  inception/inception-brat-editor/src/main/ts/brat/brat.ts
  inception/inception-brat-editor/src/main/ts/brat/brat_curation.ts
  inception/inception-brat-editor/src/main/ts/brat/configuration.ts
  inception/inception-brat-editor/src/main/ts/brat/configuration/Configuration.ts
  inception/inception-brat-editor/src/main/ts/brat/curation/CurationMod.ts
  inception/inception-brat-editor/src/main/ts/brat/curation_ui.ts
  inception/inception-brat-editor/src/main/ts/brat/dispatcher.ts
  inception/inception-brat-editor/src/main/ts/brat/spinner.ts
  inception/inception-brat-editor/src/main/ts/brat/util.ts
  inception/inception-brat-editor/src/main/ts/brat/util/Util.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Arc.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Chunk.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/DocumentData.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Fragment.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Row.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/SourceData.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Span.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Visualizer.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer_ui.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer_ui/VisualizerUI.ts
  inception/inception-brat-editor/src/main/ts_template/package-lock.json
  inception/inception-brat-editor/src/main/ts_template/package.json
  inception/inception-brat-editor/target/js/de/tudarmstadt/ukp/clarin/webanno/brat/resource/util.js
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/BratSuggestionVisualizer.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
  inception/pom.xml
Labels: ⚙️Refactoring, Module: Annotation, Module: Curation

#2720 #2719 - Update nginx docu
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_nginx.adoc
Labels: 📖Documentation

#2722 #2691 - Make confirm dialog when finishing documents configurable required
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/annotation/DynamicAnnotatorWorkflowActionBarItemGroup.java
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/management/DynamicWorkloadManagementPage.html
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/management/DynamicWorkloadManagementPage.java
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/management/DynamicWorkloadManagementPage.properties
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/trait/DynamicWorkloadTraits.java
Labels: 🆕Enhancement, Module: Annotation
