Repository inception-project/inception, pull requests merged in 2021-12, with the labels that each got.

#2723 #2714 - Make "any" the default setting for "allowed values"
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/ConceptFeatureTraits.java
Labels: 🆕Enhancement, Module: Knowledge Base

#2724 #2672 - Make tagset default closed
  inception/inception-model/src/main/java/de/tudarmstadt/ukp/clarin/webanno/model/TagSet.java
Labels: 🆕Enhancement

#2725 #2709 - Creating a relation changes the active span layer
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: 🐛Bug, Module: Annotation

#2727 #2683 - Improve query performance for long mentions
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
Labels: 🐛Bug, 🆕Enhancement

#2731 #2676 - Hide page navigation if there is only one screen full of lines
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/DefaultPagingNavigator.java
Labels: 🆕Enhancement, Module: Annotation

#2733 #2732 - Upgrade RecogitoJS and convert to DIAM AJAX
  inception/inception-html-recogito-editor/.gitignore
  inception/inception-html-recogito-editor/pom.xml
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditor.java
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/resources/RecogitoJsCssResourceReference.java
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/resources/RecogitoJsJavascriptResourceReference.java
  inception/inception-html-recogito-editor/src/main/js/recogito-js/.gitignore
  inception/inception-html-recogito-editor/src/main/js/recogito-js/LICENSE
  inception/inception-html-recogito-editor/src/main/js/recogito-js/README.md
  inception/inception-html-recogito-editor/src/main/js/recogito-js/package.json
  inception/inception-html-recogito-editor/src/main/js/recogito-js/public/annotations.w3c.json
  inception/inception-html-recogito-editor/src/main/js/recogito-js/public/index.html
  inception/inception-html-recogito-editor/src/main/js/recogito-js/recogitojs-logo-small.png
  inception/inception-html-recogito-editor/src/main/js/recogito-js/screenshot.png
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/TextAnnotator.jsx
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/TextAnnotator.scss
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/highlighter/Highlighter.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/highlighter/index.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/index.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/Bounds.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/Connection.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/Handle.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/RelationUtils.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/RelationsLayer.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/RelationsLayer.scss
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/SVGConst.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/drawing/DrawingTool.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/drawing/HoverEmphasis.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/editor/RelationEditor.jsx
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/relations/index.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/selection/SelectionHandler.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/selection/SelectionUtils.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/utils/index.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/webpack.config.js
  inception/inception-html-recogito-editor/src/main/ts/recogito.ts
  inception/inception-html-recogito-editor/src/main/ts_template/package.json
Labels: ⚙️Refactoring, Module: Recogito

#2734 #2233 - Allow to set Page size as Admin for a project to something higher than 5
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorDefaultPreferencesPropertiesImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/UserPreferencesServiceImpl.java
  inception/inception-app-webapp/src/main/resources/application.yml
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/actionbar/script/ScriptDirectionActionBarExtension.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/preferences/BratAnnotationEditorManagerPrefPanel.html
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/preferences/BratAnnotationEditorManagerPrefPanel.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/preferences/BratAnnotationEditorManagerPrefPanel.properties
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/preferences/BratAnnotationEditorManagerPrefs.java
Labels: 🆕Enhancement, Module: Annotation

#2690 #2689 - New export page does not work over HTTPS
  inception/inception-project-export/src/main/java/de/tudarmstadt/ukp/inception/project/export/settings/RunningExportsPanel.vue
Labels: 🐛Bug

#2743 #2697 - Curation Overview list reset
  inception/inception-workload-dynamic/pom.xml
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/DynamicWorkloadExtensionImpl.java
  inception/inception-workload-dynamic/src/test/java/de/tudarmstadt/ukp/inception/workload/dynamic/DynamicWorkloadExtensionImpl2Test.java
  inception/inception-workload-dynamic/src/test/java/de/tudarmstadt/ukp/inception/workload/dynamic/DynamicWorkloadExtensionImplTest.java
  inception/inception-workload-matrix/pom.xml
  inception/inception-workload-matrix/src/main/java/de/tudarmstadt/ukp/inception/workload/matrix/MatrixWorkloadExtension.java
  inception/inception-workload-matrix/src/main/java/de/tudarmstadt/ukp/inception/workload/matrix/MatrixWorkloadExtensionImpl.java
  inception/inception-workload-matrix/src/main/java/de/tudarmstadt/ukp/inception/workload/matrix/trait/MatrixWorkloadTraits.java
  inception/inception-workload-matrix/src/test/java/de/tudarmstadt/ukp/inception/workload/matrix/Fixtures.java
  inception/inception-workload-matrix/src/test/java/de/tudarmstadt/ukp/inception/workload/matrix/MatrixWorkloadExtensionImplTest.java
Labels: 🐛Bug, Module: Workload

#2660 #2443 Keep Order of Search Results
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/ResultsGroup.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/SearchService.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/StatisticRequest.java
  inception/inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception/inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
Labels: 🆕Enhancement, Module: Project Search

#2746 #2671 - Make tagsets order aware
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/AnnotationSchemaService.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/AnnotationSchemaServiceImpl.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/exporters/TagSetExporter.java
  inception/inception-model-export/src/main/java/de/tudarmstadt/ukp/clarin/webanno/export/model/ExportedTag.java
  inception/inception-model/src/main/java/de/tudarmstadt/ukp/clarin/webanno/model/Tag.java
  inception/inception-model/src/main/resources/de/tudarmstadt/ukp/clarin/webanno/model/db-changelog.xml
  inception/inception-project-initializers/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/initializers/JsonImportUtil.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/ProjectTagSetsPanel.html
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/ProjectTagSetsPanel.properties
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSelectionPanel.html
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSelectionPanel.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetEditorPanel.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetImportPanel.java
Labels: 🆕Enhancement, Module: Project Settings

#2749 #2630 - Upgrade dependencies
  inception/pom.xml
Labels: ⚙️Refactoring

#2753 #2750 - Upgrade dependencies
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception/inception-brat-editor/.gitignore
  inception/inception-html-recogito-editor/.gitignore
  inception/inception-image/pom.xml
  inception/inception-ui-dashboard/pom.xml
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
  inception/pom.xml
  pom.xml
Labels: ⚙️Refactoring

#2754 #1205 - Project disappears after removing all roles
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/ProjectUsersPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserPermissionsPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserSelectionPanel.java
Labels: 🐛Bug, Module: Project Settings

#2748 #2747 - Depends_on in docker compose 3 not supported
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/scripts/docker-compose-mysql5.yml
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/scripts/docker-compose.yml
Labels: 📖Documentation

#2757 #2756 - NPE when looking for scheduled jobs to cancel
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception/inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceImpl.java
  inception/inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/Task.java
  inception/inception-scheduling/src/test/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceTest.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/scheduling/tasks/IndexingTask_ImplBase.java
Labels: 🐛Bug, Module: Scheduler

#2762 #2761 - Generate valid semver and use it for the NPM dependencies
  inception/inception-brat-editor/src/main/ts_template/package-lock.json
  inception/inception-brat-editor/src/main/ts_template/package.json
  inception/inception-diam-editor/src/main/ts_template/package-lock.json
  inception/inception-diam-editor/src/main/ts_template/package.json
  inception/inception-diam/src/main/ts_template/package-lock.json
  inception/inception-diam/src/main/ts_template/package.json
  inception/inception-html-recogito-editor/src/main/ts_template/package.json
  inception/pom.xml
Labels: ⚙️Refactoring

#2764 #2630 - Upgrade dependencies
  inception/inception-api-dao/pom.xml
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImplDatabaseTest.java
  inception/inception-concept-linking/pom.xml
  inception/inception-curation/pom.xml
  inception/inception-diam/pom.xml
  inception/inception-imls-stringmatch/pom.xml
  inception/inception-kb/pom.xml
  inception/inception-log/pom.xml
  inception/inception-preferences/pom.xml
  inception/inception-project-export/pom.xml
  inception/inception-project/pom.xml
  inception/inception-project/src/test/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImplTest.java
  inception/inception-recommendation/pom.xml
  inception/inception-remote/pom.xml
  inception/inception-search-mtas/pom.xml
  inception/inception-sharing/pom.xml
  inception/inception-ui-curation/pom.xml
  inception/inception-versioning/pom.xml
  inception/inception-websocket/pom.xml
  inception/inception-workload-dynamic/pom.xml
  inception/inception-workload-matrix/pom.xml
  inception/pom.xml
Labels: ⚙️Refactoring

#2771 #2630 - Upgrade dependencies
  inception/pom.xml
Labels: ⚙️Refactoring

#2770 #2769 - Accepting suggestions no longer works
  inception/inception-app-webapp/pom.xml
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/EditorAjaxRequestHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/ExtensionActionHandler.java
  inception/inception-recommendation/pom.xml
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetEditorPanel.java
Labels: 🐛Bug, Module: Recommender, Module: Annotation

#2777 #2775 - Ability to work with really large tagsets for link features
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/KendoAutoCompleteTextFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/ReorderableTagAutoCompleteField.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/StyledComboBox.java
Labels: 🆕Enhancement, Module: Annotation

#2776 #2775 - Ability to work with really large tagsets for link features
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/KendoAutoCompleteTextFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/ReorderableTagAutoCompleteField.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/StyledComboBox.java
Labels: 🆕Enhancement, Module: Annotation

#2774 #2773 - Introduce properties class for CasDoctor settings
  inception/inception-diag/pom.xml
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/CasDoctor.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/config/CasDoctorAutoConfiguration.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/config/CasDoctorProperties.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/config/CasDoctorPropertiesImpl.java
  inception/inception-diag/src/main/resources/META-INF/spring.factories
Labels: ⚙️Refactoring, Module: CAS Doctor

#2772 #2735 - Document websocket reverse proxy config
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_nginx.adoc
Labels: 📖Documentation

#2778 #2775 - Ability to work with really large tagsets for link features
  inception/inception-agreement/src/test/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementMeasureTestSuite_ImplBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/LinkFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/StringFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/config/LinkFeatureSupportProperties.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/config/LinkFeatureSupportPropertiesImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/config/StringFeatureSupportProperties.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/config/StringFeatureSupportPropertiesImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureTraitsEditor.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/LinkFeatureSupportTest.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/StringFeatureSupportTest.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/annotationservice/config/AnnotationSchemaServiceAutoConfiguration.java
  inception/inception-brat-editor/src/test/java/de/tudarmstadt/ukp/clarin/webanno/brat/message/BratRendererTest.java
  inception/inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/merge/CasMergeTestBase.java
  inception/inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/merge/strategy/ThresholdBasedMergeStrategyTest.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/config/DiamEditorAutoConfig.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_annotation-editor.adoc
  inception/inception-pdf-editor/src/test/java/de/tudarmstadt/ukpinception/pdfeditor/pdfanno/model/PdfAnnoRendererTest.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/extensionpoint/ExtensionPoint_ImplBase.java
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_link-features.adoc
Labels: 🆕Enhancement, Module: Annotation

#2779 #2630 - Upgrade dependencies
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception/pom.xml
Labels: ⚙️Refactoring

#2783 #2782 - Display descriptions when hovering over link feature role label
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.html
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/FeatureEditorListPanel.java
Labels: 🆕Enhancement, Module: Annotation

#2784 #2760 - Using guest link accounts and real user has some strange interactions
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.java
Labels: 🐛Bug, Module: Sharing

#2789 #2788 - Selection of chain layer links no longer working
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/AnnotationSchemaService.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/action/AnnotationActionHandler.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/adapter/ChainAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/adapter/RelationAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/adapter/SpanAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/adapter/TypeAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/Selection.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/AnnotationSchemaServiceImpl.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/SelectAnnotationHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/AnnotationSystemAPIImpl.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerAdapter.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: 🐛Bug, Module: Annotation
