Repository inception-project/inception, pull requests merged in 2021-03, with the labels that each got.

#2047 #2045 - Error when property hideUsers is set
  inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserSelectionPanel.java
Labels: Module: Project Settings, 🐛Bug

#2052 #2050 - Cannot see agreement menuitem icon
  pom.xml
Labels: Module: Dashboard, 🐛Bug

#2054 #2048 - Change status of annotation documents from API
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/InceptionSecurity.java
  inception-remote/pom.xml
  inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/LegacyRemoteApiController.java
  inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/aero/AeroRemoteApiController.java
  inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/config/SwaggerConfig.java
  pom.xml
Labels: Module: Remote API, 🆕Enhancement

#2056 #2043 - Turn the project settings into a dashboard-like construct
  inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/config/DashboardAutoConfiguration.java
  inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/settings/ProjectSettingsDashboardMenuItem.java
  inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/settings/ProjectSettingsPageMenuItem.java
Labels: Module: Project Settings, 🆕Enhancement

#2064 #2063 - Annotations in HTML viewer not displayed properly if HTML contained header
  inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlAnnotationEditor.java
  inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/annotatorjs/resources/annotator-full.js
  inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/annotatorjs/resources/annotator-full.min.js
Labels: Module: HTML editor, 🐛Bug

#2081 #2077 - Unable to merge via curation siderbar if username contains "."
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationEditorExtension.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationVID.java
  inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/CurationVIDTest.java
Labels: Module: Curation, 🐛Bug

#2078 #2077 - Unable to merge via curation siderbar if username contains "."
  inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/Selection.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationEditorExtension.java
  inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationVID.java
  inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/CurationVIDTest.java
Labels: Module: Curation, 🐛Bug

#2080 #2079 - Merging relations and slots is broken
  inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casmerge/UnfulfilledPrerequisitesException.java
Labels: Module: Curation, 🐛Bug

#2085 #1117 - Ability to export recommender model
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderFactory.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
  inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineFactory.java
  inception-recommendation/pom.xml
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.html
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.java
Labels: Module: Recommender, 🆕Enhancement

#2087 #2086 - Import string matcher models as gazetters
  inception-imls-stringmatch/pom.xml
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTraits.java
  inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/gazeteer/GazeteerServiceImpl.java
Labels: Module: Recommender, 🆕Enhancement

#2088 #2083 - Accepting recommendations removes previous annotations
  inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: Module: Recommender, 🐛Bug

#2090 #2071 - Error in string interpolation in log4j2.xml or ctx:repositoryPath not defined
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/InceptionWebInitializer.java
  inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/logging/LoggingFilter.java
Labels: 🐛Bug

#2091 #2089 - Disabling KB or recommender service prevents startup
  inception-app-webapp/pom.xml
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/ProjectInitializersAutoConfiguration.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/BasicProjectInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/BasicRelationLayerInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/BasicRelationTagSetInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/BasicSpanLayerInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/BasicSpanRecommenderInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/BasicSpanTagSetInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/EntityLinkingProjectInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/NamedEntityIdentifierStringRecommenderInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/StandardProjectInitializer.java
  inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/initializers/WikiDataKnowledgeBaseInitializer.java
  inception-app-webapp/src/main/resources/META-INF/spring.factories
Labels: 🐛Bug

#2095 #1993 - Upgrade dependencies
  pom.xml
Labels: Module: Knowledge Base, ⚙️Refactoring

#2094 #2093 - Update readme and documentation
  .gitattributes
  README.md
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_jar.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_reverse_proxy.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_apache.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_lets_encrypt.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_nginx.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_nginx_reverse_proxy.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/metrics_monitoring.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/inception-logo.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/faq.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/getting-started.adoc
  inception/inception-imls-lapps/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderConformityTest.java
Labels: 🆕Enhancement, 📖Documentation

#2103 #1516 - Long annotations (e.g. sentences) don't allow lines to wrap
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/TokenWrappingPagingStrategy.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratTokenWrappingAnnotationEditorFactory.java
  inception/inception-brat-editor/src/test/java/de/tudarmstadt/ukp/clarin/webanno/brat/message/BratRendererTest.java
  inception/inception-brat-editor/src/test/resources/longlines.json
  inception/inception-brat-editor/src/test/resources/longlines.txt
Labels: Module: Annotation, 🆕Enhancement

#2104 #2100 - Error when accessing agreement page
  inception/inception-ui-agreement/marker-wicket-module
Labels: Module: Agreement, 🐛Bug

#2109 #2105 - Gazetteer Case Sensitive
  inception/inception-imls-stringmatch/pom.xml
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderFactory.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTraits.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/settings/StringMatchingRecommenderTraitsEditor.html
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/settings/StringMatchingRecommenderTraitsEditor.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/settings/StringMatchingRecommenderTraitsEditor.properties
  inception/inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTest.java
  inception/inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/gazeteer/GazeteerServiceImplTest.java
  inception/inception-ui-core/pom.xml
Labels: Module: Recommender, 🆕Enhancement, 🐛Bug

#2114 #2101 Multiple Vue components on one page
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/vue/VueBehavior.java
Labels: 🆕Enhancement

#2116 #2115 - Better info when running in unsupported Java
  inception/inception-boot-loader/pom.xml
  inception/inception-boot-loader/src/main/java/de/tudarmstadt/ukp/inception/bootloader/ExtensibleClasspathEnabledWarLauncher.java
  inception/inception-boot-loader/src/main/java/de/tudarmstadt/ukp/inception/bootloader/ExtensibleClasspathEnabledWarLayoutFactory.java
  inception/inception-boot-loader/src/main/java/de/tudarmstadt/ukp/inception/bootloader/UIMessage.java
Labels: 🆕Enhancement

#1976 #1975 - Allow disabling ssl certificate checks for individual sparql repositories
  inception/inception-kb/pom.xml
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/http/PerThreadSslCheckingHttpClientUtils.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception/inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/model/db-changelog.xml
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplWikiDataIntegrationTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceRemoteTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderGenericTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/util/TestFixtures.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.html
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
Labels: Module: Knowledge Base, 🆕Enhancement

#2129 #2122 - Error 403 on Administration
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/AdminDashboardPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/menubar/MenuBar.java
Labels: Module: Dashboard, 🐛Bug

#2127 #2126 - Open proper editor for document
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorFactory.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorRegistry.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorRegistryImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/NoPagingStrategy.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlAnnotationEditorFactory.java
  inception/inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditorFactory.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: Module: Annotation, 🆕Enhancement

#2128 #2125 - Configurable whitespace replacement character
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/config/BratAnnotationEditorProperties.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/config/BratAnnotationEditorPropertiesImpl.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratRenderer.java
  inception/inception-brat-editor/src/test/java/de/tudarmstadt/ukp/clarin/webanno/brat/message/BratRendererTest.java
  inception/inception-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/TextFormatSupport.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/AnnotatorsPanel.java
Labels: Module: Annotation, 🆕Enhancement

#2131 #2130 - Exporting broken document not handled well
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/actionbar/export/ExportDocumentDialogContent.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ProjectPageBase.java
Labels: Module: Annotation, Module: Curation, 🐛Bug

#2132 #1995 - All stacked annotations highlighted at the same time
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer.js
Labels: Module: Annotation, 🐛Bug

#2134 #2133 - Support lazy details on relations
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer.js
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer_ui.js
  inception/inception-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/TextFormatSupport.java
Labels: Module: Annotation, 🆕Enhancement

#2139 #2138 - Configurable CAS cache properties
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImpl.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/CasStorageServiceSharedAccessCacheAdapter.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/CasStorageSession.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/config/CasStorageProperties.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/config/CasStoragePropertiesImpl.java
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/CasStorageServiceImplTest.java
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImplDatabaseTest.java
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImplTest.java
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/ImportExportServiceImplTest.java
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/AnnotationDocumentsExporterTest.java
  inception/inception-api-dao/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/exporters/CuratedDocumentsExporterTest.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_apache.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_nginx.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_cas-storage_cache.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-remote/src/test/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/AeroRemoteApiControllerTest.java
  inception/inception-search-mtas/src/test/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndexTest.java
  inception/inception-versioning/src/test/java/de/tudarmstadt/ukp/inception/versioning/VersioningServiceImplTest.java
Labels: 🆕Enhancement

#2142 No issue. Remove redundant definition of getLayersToRender
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorBase.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlAnnotationEditorImplBase.html
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlAnnotationEditorImplBase.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/HtmlDocumentRenderer.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/LegacyHtmlDocumentRenderer.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/annotatorjs/AnnotatorJsHtmlAnnotationEditor.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/annotatorjs/AnnotatorJsHtmlAnnotationEditorFactory.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/annotatorjs/AnnotatorJsRenderer.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/config/HtmlAnnotationEditorSupportAutoConfiguration.java
  inception/inception-html-recogito-editor/pom.xml
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditor.html
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditor.java
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditorFactory.java
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoJsRenderer.java
  inception/inception-html-recogito-editor/src/main/js/recogito-js/package-lock.json
  inception/inception-html-recogito-editor/src/main/js/recogito-js/package.json
  inception/inception-pdf-editor/pom.xml
  inception/inception-pdf-editor/src/main/js/pdfanno/package.json
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/xml/ContentHandlerAdapter.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/xml/TextSanitizingContentHandler.java
  inception/pom.xml
Labels: ⚙️Refactoring

#2149 #1289 - Debounce scheduler job submission
  inception/inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/DebouncingTask.java
  inception/inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingService.java
  inception/inception-scheduling/src/main/java/de/tudarmstadt/ukp/inception/scheduling/Task.java
Labels: Module: Scheduler, 🆕Enhancement
