Repository inception-project/inception, pull requests merged in 2021-06, with the labels that each got.

#2320 #2319 - More user-accessible information about how the recommenders work
  inception/inception-example-imls-data-majority/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/datamajority/DataMajorityNerRecommender.java
  inception/inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/relation/StringMatchingRelationRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/evaluation/ConfusionMatrix.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/evaluation/EvaluationResult.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/evaluation/LabelPair.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Progress.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommender/api/evaluation/ConfusionMatrixTest.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommender/api/evaluation/EvaluationResultTest.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommendationSidebar.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.html
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderStatusDetailPanel.html
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderStatusDetailPanel.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/BootstrapModalDialog.html
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/BootstrapModalDialog.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/bootstrap/webanno-custom.scss
Labels: Module: Recommender, 🆕Enhancement

#2321 #2318 - Importing project fails with Transaction Error
  inception/inception-workload/src/main/java/de/tudarmstadt/ukp/inception/workload/model/WorkloadManagementServiceImpl.java
Labels: 🐛Bug

#2326 #2317 - Error: Feature "webanno.custom.EntiteitenArg_misdaadLink:role" is not defined for type "webanno.custom.EntiteitenArg_activiteitLink"
  inception/pom.xml
Labels: 🐛Bug

#2327 #2315 Error: Illegal argument exception position xxxx is not in any row
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/PagingStrategy.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/TokenWrappingPagingStrategy.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/Unit.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/paging/TokenWrappingPagingStrategyTest.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.java
Labels: Module: Annotation, 🐛Bug

#2329 #2072 - String matcher suggestions applied non-deterministically?
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.java
  inception/inception-ui-project/pom.xml
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/ImportDocumentsPanel.java
Labels: Module: Recommender, 🐛Bug

#2331 #2070 - Remote API should fail when unsupported format is requested
  inception/inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/aero/AeroRemoteApiController.java
Labels: Module: Remote API, 🐛Bug

#2334 #2333 - Improve project dashboard performance
  inception/inception-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/ProjectService.java
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImpl.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
Labels: Module: Dashboard, ⚙️Refactoring, 🚀Performance

#2340 #2339 - Named entity linker does not generate suggestions
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
Labels: Module: Recommender, 🐛Bug

#2345 #2344 - Selecting a stacked relation highlights both
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer.js
Labels: Module: Annotation, 🐛Bug

#2348 #2347 - Allow setting command to open browser
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_general.adoc
  inception/inception-support-standalone/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/standalone/StandaloneShutdownDialogManager.java
Labels: 🆕Enhancement

#2350 #2349 - String matching recommender not working with Windows linebreaks
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/trie/Trie.java
  inception/inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/trie/TrieTest.java
  inception/inception-support-standalone/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/standalone/StandaloneShutdownDialogManager.java
Labels: Module: Recommender, 🐛Bug

#2366 #2358 - Unrecognized fields when switching recommender type
  inception/inception-imls-dl4j/pom.xml
  inception/inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderTraits.java
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderTraits.java
  inception/inception-imls-lapps/pom.xml
  inception/inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderFactory.java
  inception/inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridRecommenderTraits.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderTraits.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTraits.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommenderTraits.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/StringMatchingRecommenderTraits.java
  inception/inception-imls-weblicht/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/weblicht/traits/WeblichtRecommenderTraits.java
Labels: Module: Recommender, 🐛Bug

#2367 #2358 - Unrecognized fields in external recommender traits
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer.js
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_general.adoc
  inception/inception-imls-dl4j/pom.xml
  inception/inception-imls-dl4j/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/dl4j/pos/DL4JSequenceRecommenderTraits.java
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/ExternalRecommenderTraits.java
  inception/inception-imls-lapps/pom.xml
  inception/inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/LappsGridRecommenderFactory.java
  inception/inception-imls-lapps/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/lapps/traits/LappsGridRecommenderTraits.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderTraits.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTraits.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommenderTraits.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/relation/StringMatchingRelationRecommenderTraits.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommenderTraits.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/trie/Trie.java
  inception/inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/trie/TrieTest.java
  inception/inception-imls-weblicht/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/weblicht/traits/WeblichtRecommenderTraits.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.html
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception/inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
  inception/inception-support-standalone/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/standalone/StandaloneShutdownDialogManager.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/event/AjaxPropertySelectionEvent.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/QuerySettingsPanel.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchResultsProvider.java
Labels: Module: Recommender, 🐛Bug

#2190 Feature/2189 experimental annotation api and editor
  inception/inception-api-annotation-experimental/marker-wicket-module
  inception/inception-api-annotation-experimental/pom.xml
  inception/inception-api-annotation-experimental/src/main/README.md
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/AnnotationSystemAPI.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/AnnotationSystemAPIImpl.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/message/AnnotationMessage.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/message/DocumentMessage.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/message/ViewportMessage.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/resources/AnnotationExperienceAPI.js
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/resources/ExperimentalAPIResourceReference.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/websocket/AnnotationProcessAPI.java
  inception/inception-api-annotation-experimental/src/main/java/de/tudarmstadt/ukp/inception/experimental/api/websocket/AnnotationProcessAPIImpl.java
  inception/inception-api-annotation-experimental/src/main/ts/client/AnnotationExperienceAPI.ts
  inception/inception-api-annotation-experimental/src/main/ts/package.json
  inception/inception-api-annotation-experimental/src/main/ts/server/Server.ts
  inception/inception-api-annotation-experimental/src/test/java/de/tudarmstadt/ukp/inception/experimental/api/test/ExperimentalAnnotationAPITests.java
  inception/inception-app-webapp/pom.xml
  inception/inception-experimental-editor/marker-wicket-module
  inception/inception-experimental-editor/pom.xml
  inception/inception-experimental-editor/src/main/java/de/tudarmstadt/ukp/inception/experimental/editor/ExperimentalAnnotationEditor.html
  inception/inception-experimental-editor/src/main/java/de/tudarmstadt/ukp/inception/experimental/editor/ExperimentalAnnotationEditor.java
  inception/inception-experimental-editor/src/main/java/de/tudarmstadt/ukp/inception/experimental/editor/config/ExperimentalAnnotationEditorAutoConfiguration.java
  inception/inception-experimental-editor/src/main/java/de/tudarmstadt/ukp/inception/experimental/editor/config/ExperimentalAnnotationEditorFactory.java
  inception/inception-experimental-editor/src/main/resources/META-INF/spring.factories
  inception/installEclipseSettings.sh
  inception/pom.xml
Labels: 🆕Enhancement

#2371 Bugfix/2369 document metadata editable for finished documents
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/LinkFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.html
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: Module: Annotation, Module: Document Metadata, 🐛Bug

#2372 #1806 - Feature name cannot be changed to characters other than ASCII
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/FeatureDetailForm.java
Labels: Module: Project Settings, 🐛Bug

#2373 #1925 - Assembly reports error when building documentation on Windows
  inception/inception-app-webapp/src/assembly/documentation.xml
Labels: 🐛Bug

#2374 #2193 - Different color for resolved conflicts
  inception/inception-app-webapp/src/assembly/documentation.xml
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.properties
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/overview/CurationUnitOverviewLink.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/overview/CurationUnitState.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.html
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
  inception/inception-ui-curation/src/main/resources/META-INF/asciidoc/user-guide/curation.adoc
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/FeatureDetailForm.java
Labels: Module: Curation, 🆕Enhancement

#2376 #2375 Monitoring page is not shown
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/management/DynamicWorkloadManagementPage.java
  inception/inception-workload-matrix/src/main/java/de/tudarmstadt/ukp/inception/workload/matrix/management/MatrixWorkloadManagementPage.java
Labels: Module: Workload, 🐛Bug

#2381 #2377 Using activity link after layer creation NPE
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/SpanRenderer.java
Labels: Module: Annotation, 🐛Bug

#2378 #1182 - AL does not always jump to the text passage
  inception/inception-active-learning/pom.xml
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningService.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/config/ActiveLearningAutoConfiguration.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.html
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/RadioGroupStringFeatureEditor.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/feature/editor/RadioGroupStringFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/PreRendererImpl.java
  inception/inception-model/src/main/java/de/tudarmstadt/ukp/clarin/webanno/model/ReorderableTag.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/LearningRecordService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestion.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionDocumentGroup.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionGroup.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/LearningRecordServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/PredictionSwitchPerformedKey.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/LearningRecordServiceImplIntegrationTest.java
Labels: Module: Active Learning, 🐛Bug

#2384 #2382 - Allow unlocking of liquibase from command line/tray icon
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/app/config/LiquibaseLockCheckAutoConfiguration.java
  inception/inception-app-webapp/src/main/resources/META-INF/spring.factories
  inception/inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/CurationServiceTest.java
  inception/inception-project/src/test/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImplTest.java
  inception/inception-support-standalone/pom.xml
  inception/inception-support-standalone/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/standalone/LoadingSplashScreen.java
  inception/inception-support-standalone/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/standalone/StartupErrorHandler.java
  inception/inception-support/pom.xml
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/db/LiquibaseLockManager.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/db/LockRemovedException.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/db/NotLockedException.java
Labels: 🆕Enhancement

#2325 #2316 - Fix typos in user guide
  CONTRIBUTORS.txt
  inception/inception-doc/src/main/resources/META-INF/asciidoc/developer-guide/setup.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/getting-started.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_documents.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_kbs.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_layers.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_monitoring.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_settings.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_tagset_create.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_tagset_link.png
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/images/getting_started_users.png
Labels: 🆕Enhancement, 📖Documentation

#2385 #2380 Missing new layer type when using activity link
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: Module: Annotation, 🐛Bug

#2343 #2342 - Spans reaching beyond the visible window are not visible at all
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/NopRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/Renderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/SpanRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/model/VRange.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratRenderer.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/model/EntityAttributes.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/resource/visualizer.js
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/CurationRenderer.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
Labels: Module: Annotation, 🐛Bug

#2391 #2390 - More fine-grained info during startup
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementMeasureSupportRegistryImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorExtensionRegistryImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorRegistryImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/layer/LayerBehaviorRegistryImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/layer/LayerSupportRegistryImpl.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentImportExportServiceImpl.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/export/ProjectExportServiceImpl.java
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProviderRegistryImpl.java
  inception/inception-kb/pom.xml
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventLoggingListener.java
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommenderFactoryRegistryImpl.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/FeatureIndexingSupportRegistryImpl.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/index/PhysicalIndexRegistryImpl.java
  inception/inception-support-standalone/pom.xml
  inception/inception-support-standalone/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/standalone/LoadingSplashScreen.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/extensionpoint/ExtensionPoint_ImplBase.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/interceptors/GlobalInterceptorsRegistryImpl.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/spring/StartupProgressInfoEvent.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/spring/StartupWatcher.java
  inception/inception-telemetry/src/main/java/de/tudarmstadt/ukp/clarin/webanno/telemetry/TelemetryServiceImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/sidebar/AnnotationSidebarRegistryImpl.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/footer/FooterItemRegistryImpl.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/menu/MenuItemRegistryImpl.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/settings/ProjectSettingsPanelRegistryImpl.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/stmt/coloring/StatementColoringRegistryImpl.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/value/ValueTypeSupportRegistryImpl.java
Labels: 🆕Enhancement

#2394 #2392 - Deleting a project does not remove the KBs
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/DocumentServiceImpl.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/config/KnowledgeBaseProperties.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/config/KnowledgeBasePropertiesImpl.java
  inception/inception-kb/src/main/resources/META-INF/asciidoc/admin-guide/settings_knowledgebase.adoc
Labels: Module: Knowledge Base, 🐛Bug

#2395 #2310 - Tutorial UI elements sometimes clog up in top-left corner
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/footer/resources/tutorial.js
Labels: 🐛Bug

#2396 #2286 - Upgrade dependencies
  inception/pom.xml
Labels: ⚙️Refactoring

#2397 #2337 - Update user guide on recommendation sidebar
  inception/inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/annotation_recommendation.adoc
  inception/inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/annotation_editor_with_suggestions.png
  inception/inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/learning_curve_acc.png
  inception/inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommendation_sidebar.png
  inception/inception-recommendation/src/main/resources/META-INF/asciidoc/user-guide/images/recommender_sidebar.png
Labels: Module: Recommender, 📖Documentation

#2402 #2399 - Sentence overview wrongly indicates agreement
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/overview/CurationUnitOverviewLink.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Curation, 🐛Bug

#2409 #2407 - NPE in curation after adding a feature
  inception/inception-app-webapp/pom.xml
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/CasDiff.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Curation, 🐛Bug

#2416 #2415 - Stale document states may cause error when accessing the curation page
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/storage/CurationDocumentServiceImpl.java
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/storage/config/CurationDocumentServiceAutoConfiguration.java
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-curation/pom.xml
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
Labels: Module: Curation, 🐛Bug

#2418 Feature/2417 remove forward annotation mode
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorProperties.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorPropertiesImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/LayerSelectionPanel.java
Labels: Module: Annotation, 🆕Enhancement

#2419 #2258 - Remove not remembering layer
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorProperties.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorPropertiesImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/LayerSelectionPanel.java
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations.adoc
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_span_forward.adoc
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_settings.adoc
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/images/annotation_create-annotations_span.adoc
Labels: Module: Annotation, 🆕Enhancement

#2421 #2420 - Disable plugin manager by default
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_general.adoc
  inception/inception-plugin-manager/pom.xml
  inception/inception-plugin-manager/src/main/java/de/tudarmstadt/ukp/clarin/webanno/plugin/config/PluginManagerAutoConfiguration.java
  inception/inception-plugin-manager/src/main/resources/META-INF/spring.factories
Labels: ⚙️Refactoring

#2179 #2178 - Support relations in Recogito HTML editor
  inception/inception-html-recogito-editor/pom.xml
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditor.html
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditor.java
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoJsRenderer.java
  inception/inception-html-recogito-editor/src/main/js/recogito-js/package.json
  inception/inception-html-recogito-editor/src/main/js/recogito-js/public/index.html
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/TextAnnotator.jsx
  inception/inception-html-recogito-editor/src/main/js/recogito-js/src/highlighter/Highlighter.js
  inception/inception-html-recogito-editor/src/main/js/recogito-js/webpack.config.js
Labels: Module: Recogito, 🆕Enhancement
