Repository inception-project/inception, pull requests merged in 2022-01, with the labels that each got.

#2791 #2790 - Build command for npm packages does not work on windows
  inception/inception-bootstrap/src/main/ts_template/package.json
  inception/inception-brat-editor/src/main/ts_template/package.json
  inception/inception-diam-editor/src/main/ts_template/package.json
  inception/inception-diam/src/main/ts_template/package.json
  inception/inception-html-recogito-editor/src/main/ts_template/package.json
  inception/inception-ui-kb/src/main/ts_template/package.json
  inception/inception-ui-search/src/main/ts_template/package.json
Labels: 🐛Bug

#2804 #2803 - invitation link behind reverse proxy
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImpl.java
  inception/inception-sharing/src/main/resources/META-INF/asciidoc/admin-guide/settings_sharing.adoc
Labels: 🐛Bug, Module: Sharing

#2800 #2735 - Document websocket reverse proxy config
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_reverse_proxy.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_apache.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_nginx.adoc
Labels: 📖Documentation

#2806 #2805 - Oversized span returned by AnnotatorJS
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/annotatorjs/AnnotatorJsHtmlAnnotationEditor.java
Labels: 🐛Bug, Module: Annotation

#2808 #2801 - Change label for guest account "I already have an account"
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.html
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/AcceptInvitePage.properties
Labels: 🆕Enhancement, Module: Sharing

#2812 #2810 - Move fact-linking stuff to a separate module
  inception/inception-app-webapp/pom.xml
  inception/inception-kb-fact-linking/LICENSE.txt
  inception/inception-kb-fact-linking/marker-wicket-module
  inception/inception-kb-fact-linking/pom.xml
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/config/FactLinkingAutoConfiguration.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/FactLinkingConstants.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/FactLinkingService.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/FactLinkingServiceImpl.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/PropertyFeatureEditor.html
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/PropertyFeatureEditor.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/PropertyFeatureEditor.properties
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/PropertyFeatureSupport.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/QualifierFeatureEditor.html
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/QualifierFeatureEditor.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/QualifierFeatureEditor.properties
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/SubjectObjectFeatureEditor.html
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/SubjectObjectFeatureEditor.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/SubjectObjectFeatureEditor.properties
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/SubjectObjectFeatureSupport.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/initializers/FactLayerInitializer.java
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/annotation_fact-extraction.adoc
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction1.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction2.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction3.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction4.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction5.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction6.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction7.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction8.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/asciidoc/user-guide/images/factExtraction9.png
  inception/inception-kb-fact-linking/src/main/resources/META-INF/spring.factories
  inception/inception-kb-fact-linking/src/test/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/SubjectObjectFeatureSupportTest.java
  inception/inception-kb-fact-linking/src/test/resources/desc/type/webannoTestTypes.xml
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/config/KnowledgeBaseServiceUIAutoConfiguration.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/DisabledKBWarning.java
  inception/inception-ui-kb/src/main/resources/META-INF/spring.factories
  inception/installEclipseSettings.sh
  inception/pom.xml
Labels: Module: Knowledge Base, ⚙️Refactoring

#2816 Bugfix/2815 when not all units fit on screen brat editor scroll position jumps on re render
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/CasMetadataUtils.java
  inception/inception-api-dao/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/dao/casstorage/FileSystemCasStorageDriver.java
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Visualizer.ts
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesServiceImpl.java
Labels: 🐛Bug, Module: Annotation

#2821 #2819 - Cannot import CoNLL file
  inception/inception-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2000FormatSupport.java
  inception/inception-io-conll/src/main/java/de/tudarmstadt/ukp/clarin/webanno/conll/Conll2002FormatSupport.java
  inception/pom.xml
Labels: 🐛Bug

#2814 #2813 - Recommender calling out to an ELG service
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/resources/db/changelog/db.changelog-master.xml
  inception/inception-imls-elg/marker-wicket-module
  inception/inception-imls-elg/pom.xml
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgCatalogSearchField.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgRecommender.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgRecommenderFactory.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgRecommenderTraits.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgRecommenderTraitsEditor.html
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgRecommenderTraitsEditor.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgRecommenderTraitsEditor.properties
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgSessionPanel.html
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgSessionPanel.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgSessionPanel.properties
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgAuthenticationClient.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgAuthenticationClientImpl.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgCatalogClient.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgCatalogClientImpl.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgClientImplBase.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgServiceClient.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgServiceClientImpl.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/config/ElgRecommenderAutoConfiguration.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgAnnotation.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgAnnotationsResponse.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgCatalogEntity.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgCatalogEntityDetails.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgCatalogSearchResponse.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgCatalogServiceInfo.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgResponseContainer.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgServiceResponse.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgSession.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgText.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgTextsResponse.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgTokenResponse.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgUserInfoResponse.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/service/ElgService.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/service/ElgServiceImpl.java
  inception/inception-imls-elg/src/main/resources/META-INF/spring.factories
  inception/inception-imls-elg/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/db-changelog.xml
  inception/inception-imls-elg/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgAuthenticationClientImplTest.java
  inception/inception-imls-elg/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgCatalogClientImplTest.java
  inception/inception-imls-elg/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgServiceClientImplTest.java
  inception/inception-imls-elg/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgServiceModelDeserializationTest.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesService.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesServiceImpl.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/NonTrainableRecommenderEngineImplBase.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/ProjectRecommendersPanel.java
  inception/inception-sharing/pom.xml
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/project/InviteProjectSettingsPanel.java
  inception/inception-sharing/src/test/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImplTest.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/sidebar/ExternalSearchAnnotationSidebar.java
  inception/pom.xml
Labels: 🆕Enhancement, Module: Recommender

#2823 #2822 - Clean up (brat) rendering code
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/AnnotationEditorBase.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/ts/brat/annotator_ui/AnnotatorUI.ts
  inception/inception-brat-editor/src/main/ts/brat/protocol/Protocol.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Visualizer.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer_ui/VisualizerUI.ts
Labels: ⚙️Refactoring, Module: Annotation

#2811 #2809 - Refactor selection
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotationSelectionState.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/AnnotatorState.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/model/LayerSelectionState.java
Labels: ⚙️Refactoring, Module: Annotation

#2832 #2831 - Cannot search for this & that in annotation sidebar
  inception/inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
Labels: 🐛Bug, Module: Project Search

#2834 #2833 - Enhance (external) editors API
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/DocumentViewFactory.java
  inception/inception-api-formats/pom.xml
  inception/inception-api-formats/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/format/FormatSupport.java
  inception/inception-external-editor/src/main/java/de/tudarmstadt/ukp/inception/externaleditor/ExternalAnnotationEditor.java
  inception/inception-external-editor/src/main/ts/src/ExternalEditorFactory.ts
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/docview/HtmlDocumentIFrameViewFactory.java
  inception/inception-html-editor/src/main/java/de/tudarmstadt/ukp/inception/htmleditor/docview/HtmlDocumentViewFactory.java
  inception/inception-html-recogito-editor/src/main/java/de/tudarmstadt/ukp/inception/recogitojseditor/RecogitoHtmlAnnotationEditor.java
  inception/inception-imls-elg/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgCatalogClientImplTest.java
  inception/inception-js-api/src/main/ts/src/editor/AnnotationEditorFactory.ts
Labels: ⚙️Refactoring, Module: Annotator Web API
