Repository inception-project/inception, pull requests merged in 2022-08, with the labels that each got.

#3259 #3258 - Curation broken after fixing CAS upgrade issue
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/AnnotatorsPanel.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/component/model/BratSuggestionVisualizer.java
Labels: 🐛Bug, Module: Curation

#3266 #3261 - "Jump to relation" breaks for Link features
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AttachedAnnotationListPanel.java
Labels: 🐛Bug, Module: Annotation

#3268 #3254 - Clean up warnings
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementMeasureSupportRegistry.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/measures/AgreementMeasureSupportRegistryImpl.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/editor/action/AnnotationActionHandler.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/adapter/AnnotationComparisonUtils.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/feature/FeatureEditor.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/feature/FeatureUtil.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchProviderRegistry.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchResult.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchService.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/ExternalSearchServiceImpl.java
  inception/inception-external-search-core/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/log/ExternalSearchQueryEventAdapter.java
  inception/inception-io-html/src/main/java/de/tudarmstadt/ukp/inception/io/html/dkprocore/CasXmlHandler.java
  inception/inception-io-webanno-tsv/pom.xml
  inception/inception-io-webanno-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3LegacyFormatSupport.java
  inception/inception-io-webanno-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebannoTsv3Reader.java
  inception/inception-io-webanno-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebannoTsv3Writer.java
  inception/inception-io-webanno-tsv/src/main/java/de/tudarmstadt/ukp/clarin/webanno/tsv/internal/tsv3x/Tsv3XDeserializer.java
  inception/inception-io-webanno-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3ReaderWriterRoundTripTest.java
  inception/inception-io-webanno-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3ReaderWriterTest.java
  inception/inception-io-webanno-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3WriterTest.java
  inception/inception-io-webanno-tsv/src/test/java/de/tudarmstadt/ukp/clarin/webanno/tsv/WebAnnoTsv3WriterTestBase.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/FusekiRepositoryTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilderAsserts.java
  inception/inception-model/src/main/java/de/tudarmstadt/ukp/clarin/webanno/model/SourceDocumentStateTransition.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionDocumentGroup.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionGroup.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/PredictionGroupTest.java
  inception/inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/LegacyRemoteApiController.java
  inception/inception-review-editor/pom.xml
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/AnnotationPanel.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/ReviewEditor.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/SpanAnnotationPanel.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/StructuredReviewDraftPanel.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/UnlinkedAnnotationPanel.java
  inception/inception-scheduling/src/test/java/de/tudarmstadt/ukp/inception/scheduling/SchedulingServiceTest.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/SettingsUtil.java
  inception/inception-ui-agreement/src/main/java/de/tudarmstadt/ukp/inception/ui/agreement/page/AgreementPage.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/casdoctor/ProjectCasDoctorPanel.java
  inception/pom.xml
Labels: ⚙️ Refactoring

#3272 #3271 - Scrollbars at wrong positions for large project descriptions of activity lists
  inception/inception-ui-dashboard-activity/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/activity/ActivitiesDashlet.vue
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.html
Labels: 🐛Bug, Module: Dashboard

#3270 #3269 - Migrate the recent activities dashlet from vue to svelte
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/svelte/SvelteBehavior.java
  inception/inception-ui-dashboard-activity/pom.xml
  inception/inception-ui-dashboard-activity/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/activity/ActivitiesDashlet.java
  inception/inception-ui-dashboard-activity/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/activity/ActivitiesDashlet.vue
  inception/inception-ui-dashboard-activity/src/main/ts/build.mjs
  inception/inception-ui-dashboard-activity/src/main/ts/src/ActivitiesDashlet.svelte
  inception/inception-ui-dashboard-activity/src/main/ts_template/package-lock.json
  inception/inception-ui-dashboard-activity/src/main/ts_template/package.json
Labels: ⚙️ Refactoring, Module: Dashboard

#3275 #3269 - Migrate the recent activities dashlet from vue to svelte
  inception/inception-ui-dashboard-activity/pom.xml
  inception/inception-ui-dashboard-activity/src/main/ts/esbuild-runner.config.js
  inception/inception-ui-dashboard-activity/src/main/ts/src/ActivitiesDashlet.svelte
  inception/inception-ui-dashboard-activity/src/main/ts/test/ActivitiesDashlet.test.ts
  inception/inception-ui-dashboard-activity/src/main/ts_template/package-lock.json
  inception/inception-ui-dashboard-activity/src/main/ts_template/package.json
  inception/pom.xml
Labels: ⚙️ Refactoring, Module: Dashboard

#3280 #3279 - Exception in Recommender Service
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: 🐛Bug, Module: Recommender

#3282 #3281 - Support the new UIMA JSON CAS format
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/CasStorageSession.java
  inception/inception-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/DocumentImportExportService.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-uimajson-legacy.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/formats-uimajson.adoc
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/DocumentImportExportServiceImpl.java
  inception/inception-io-json/pom.xml
  inception/inception-io-json/src/main/java/de/tudarmstadt/ukp/inception/io/jsoncas/LegacyUimaJsonFormatSupport.java
  inception/inception-io-json/src/main/java/de/tudarmstadt/ukp/inception/io/jsoncas/UimaJsonCasFormatSupport.java
  inception/inception-io-json/src/main/java/de/tudarmstadt/ukp/inception/io/jsoncas/UimaJsonCasReader.java
  inception/inception-io-json/src/main/java/de/tudarmstadt/ukp/inception/io/jsoncas/UimaJsonCasWriter.java
  inception/inception-pdf-editor/src/main/ts/build.js
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImpl.java
  inception/pom.xml
Labels: ⭐️ Enhancement

#3288 #3287 - Better username validation
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/NameUtil.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImpl.java
Labels: ⚙️ Refactoring

#3286 #3285 - Basic password policy
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/NameUtil.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDao.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImpl.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/config/SecurityProperties.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/config/SecurityPropertiesImpl.java
  inception/inception-security/src/main/resources/META-INF/asciidoc/admin-guide/security-policy.adoc
  inception/inception-security/src/test/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImplTest.java
  inception/inception-sharing/src/main/java/de/tudarmstadt/ukp/inception/sharing/InviteServiceImpl.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/text/TextUtils.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.properties
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/users/ManageUsersPage.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/users/ManageUsersPage.properties
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/users/UserSelectionPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/ImportDocumentsPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/users/UserSelectionPanel.java
Labels: ⭐️ Enhancement, Module: Project Settings

#3291 #3290 - Spurious JS error in brat editor
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Visualizer.ts
Labels: 🐛Bug, Module: brat

#3298 #3297 - Upload field style looks broken
  inception/inception-guidelines/src/main/java/de/tudarmstadt/ukp/inception/guidelines/settings/ImportGuidelinesPanel.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/settings/StringMatchingRecommenderTraitsEditor.java
  inception/inception-imls-weblicht/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/weblicht/traits/WeblichtRecommenderTraitsEditor.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/BootstrapFileInput.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/clarin/webanno/support/bootstrap/BootstrapFileInputField.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/ProjectImportPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/constraints/ProjectConstraintsPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/ImportDocumentsPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/ProjectLayersPanel.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetImportPanel.java
Labels: 🐛Bug

#3299 #3296 - Knowledge base wizard looks odd
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/inception/ui/core/bootstrap/BootstrapWizard.html
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/AccessSpecificSettingsPanel.html
Labels: 🐛Bug, Module: Knowledge Base

#3284 #3265 - Wrong character encoding in the page footer
  inception/inception-app-webapp/src/main/resources/application.yml
Labels: 🐛Bug

#3308 #3306 - Rendering chain annotations is broken
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainRenderer.java
Labels: 🐛Bug, Module: Annotation

#3309 #3307 - Deleting a chain link deletes the previous span as well
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
Labels: 🐛Bug, Module: Annotation

#3302 #3244 - Undo/redo feature
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/events/DocumentOpenedEvent.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/link/LinkFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/TypeAdapter_ImplBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanAdapter.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/model/Range.java
  inception/inception-api-schema/pom.xml
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/feature/LinkWithRoleModel.java
  inception/inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/export/CuratedDocumentsExporterTest.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-documents/src/test/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImplConcurrencyTest.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/graph/KBProperty.java
  inception/inception-project-export/src/test/java/de/tudarmstadt/ukp/inception/project/export/AnnotationDocumentsExporterTest.java
  inception/inception-project-initializers/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/initializers/JsonImportUtil.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/AnnotationPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/AnnotationUndoActionBarExtension.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/PerformingUndoRedoAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/PostAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/PostActionScrollToAndHighlight.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/PostActionScrollToAndSelect.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoPanel.html
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoPanel.properties
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoRedoState.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoRedoStateKey.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/AnnotationAction_ImplBase.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateChainLinkAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateChainSpanAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateRelationAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateSpanAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/DeleteRelationAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/DeleteSpanAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/RedoableAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/UndoableAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/UpdateFeatureValueAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/config/AnnotationUIAutoConfiguration.java
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_undo.adoc
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.properties
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/actionbar/opendocument/CurationDocumentOpenActionColumn.java
Labels: ⭐️ Enhancement, Module: Annotation

#3311 #3310 - Trying to add root concepts adds additional search properties instead
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/RootConceptsPanel.java
Labels: 🐛Bug, Module: Knowledge Base

#3305 Updated explanation why/how to create a relation layer
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_relation.adoc
Labels: 📖 Documentation

#3316 #3242 - Tag not saved when moving to next tag
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/number/RatingFeatureEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/RadioGroupStringFeatureEditor.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/feature/FeatureEditor.java
  inception/inception-brat-editor/src/main/ts/brat/annotator_ui/AnnotatorUI.ts
  inception/inception-brat-editor/src/main/ts/brat/dispatcher/Dispatcher.ts
  inception/inception-brat-editor/src/main/ts/brat/visualizer/Visualizer.ts
  inception/inception-brat-editor/src/main/ts/scss/style-vis.scss
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/CustomActionHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/config/DiamAutoConfig.java
  inception/inception-diam/src/main/ts/diam/DiamAjaxImpl.ts
  inception/inception-pdf-editor/src/main/ts/src/PdfAnnotationEditor.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/annotation/span.ts
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor.java
Labels: 🐛Bug, Module: Annotation

#3314 #3295 - Align ELG OAuth handling code with general OAuth client support in security module
  inception/inception-imls-elg/pom.xml
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgAuthenticationClient.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgAuthenticationClientImpl.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgCatalogClientImpl.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgClientImplBase.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/client/ElgServiceClientImpl.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/model/ElgSession.java
  inception/inception-imls-elg/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/service/ElgServiceImpl.java
  inception/inception-imls-elg/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/elg/ElgAuthenticationClientImplTest.java
Labels: Module: Recommender, ⚙️ Refactoring

#3313 #3312 - Loading indicator never disappears when there is no recent activity
  inception/inception-ui-dashboard-activity/src/main/ts/src/ActivitiesDashlet.svelte
  inception/inception-ui-dashboard-activity/src/main/ts/test/ActivitiesDashlet.test.ts
Labels: 🐛Bug, Module: Dashboard

#3318 #3317 - Update dependencies (24.2)
  inception/inception-html-recogito-editor/src/main/ts_template/package-lock.json
  inception/inception-html-recogito-editor/src/main/ts_template/package.json
  inception/pom.xml
Labels: ⚙️ Refactoring

#3320 #3244 - Undo/redo feature
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/ActionFactory.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/PostActionScrollToAndHighlight.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/PostActionScrollToAndSelect.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/RequestIdKey.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/UndoRedoState.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/AnnotationAction_ImplBase.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateChainLinkAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateChainSpanAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateRelationAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/CreateSpanAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/DeleteRelationAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/DeleteSpanAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/RedoableAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/UndoableAnnotationAction.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/undo/actions/UpdateFeatureValueAnnotationAction.java
Labels: ⭐️ Enhancement, Module: Annotation

#3226 #3225 - Consolidate access permission code
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentAccess.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentAccessImpl.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/config/DocumentServiceAutoConfiguration.java
  inception/inception-ui-annotation/pom.xml
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: ⚙️ Refactoring, Module: Annotation

#3324 #3323 - Improve formats documentation
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/formats.adoc
Labels: 📖 Documentation

#3325 #2258 - Remove not remembering layer
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorDefaultPreferencesProperties.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationEditorDefaultPreferencesPropertiesImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/UserPreferencesServiceImpl.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/config/AnnotationEditorProperties.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/editorstate/AnnotationPreference.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_annotation-editor.adoc
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/config/AnnotationEditorPropertiesImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationInfoPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/LayerSelectionPanel.java
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_create-annotations_span_forward.adoc
  inception/inception-ui-annotation/src/main/resources/META-INF/asciidoc/user-guide/annotation_settings.adoc
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ApplicationPageBase.html
Labels: Module: Annotation, 💀 Removal

#3327 #3326 - Fix some warnings and errors in HTML code
  inception/inception-doc/src/main/resources/META-INF/asciidoc/docinfo.html
  inception/inception-external-editor/src/main/ts/src/ExternalEditorFactory.ts
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.html
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ApplicationPageBase.html
Labels: 🐛Bug

#3328 #3326 - Fix some warnings and errors in HTML code
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.properties
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/page/ApplicationPageBase.html
Labels: 🐛Bug
