Repository inception-project/inception, pull requests merged in 2023-12, with the labels that each got.

#4331 #4330 - Change default memory limit for INCEpTION in Dockerfile
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-docker/src/main/docker/Dockerfile
Labels: ⚙️ Refactoring

#4333 #4326 - Upgrade dependencies
  inception/inception-brat-editor/src/main/ts_template/package-lock.json
  inception/inception-diam-editor/src/main/ts_template/package-lock.json
  inception/inception-diam-editor/src/main/ts_template/package.json
  inception/inception-diam/src/main/ts_template/package-lock.json
  inception/inception-diam/src/main/ts_template/package.json
  inception/inception-external-editor/src/main/ts_template/package-lock.json
  inception/inception-html-apache-annotator-editor/src/main/ts_template/package-lock.json
  inception/inception-html-apache-annotator-editor/src/main/ts_template/package.json
  inception/inception-html-editor/src/main/ts_template/package-lock.json
  inception/inception-html-recogito-editor/src/main/ts_template/package-lock.json
  inception/inception-html-recogito-editor/src/main/ts_template/package.json
  inception/inception-js-api/src/main/ts_template/package-lock.json
  inception/inception-js-api/src/main/ts_template/package.json
  inception/inception-pdf-editor/src/main/ts_template/package-lock.json
  inception/inception-pdf-editor2/src/main/ts_template/package-lock.json
  inception/inception-pdf-editor2/src/main/ts_template/package.json
  inception/inception-project-export/src/main/ts_template/package-lock.json
  inception/inception-project-export/src/main/ts_template/package.json
  inception/inception-recommendation/src/main/ts_template/package-lock.json
  inception/inception-recommendation/src/main/ts_template/package.json
  inception/inception-support-bootstrap/src/main/ts_template/package-lock.json
  inception/inception-ui-dashboard-activity/src/main/ts_template/package-lock.json
  inception/inception-ui-dashboard-activity/src/main/ts_template/package.json
  inception/inception-ui-kb/src/main/ts_template/package-lock.json
  inception/inception-ui-scheduling/src/main/ts_template/package-lock.json
  inception/inception-ui-scheduling/src/main/ts_template/package.json
  pom.xml
Labels: ⚙️ Refactoring

#4336 #4335 - Promote UIMA JSON CAS 0.4.0 to non-experimental
  inception/inception-io-json/src/main/java/de/tudarmstadt/ukp/inception/io/jsoncas/UimaJsonCasFormatSupport.java
  inception/inception-io-json/src/main/resources/META-INF/asciidoc/user-guide/formats-uimajson.adoc
Labels: ⚙️ Refactoring

#4339 #4338 - Spurious empty highlights in RecogitoJS editor
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/ApacheAnnotatorVisualizer.ts
  inception/inception-html-recogito-editor/src/main/ts/src/recogito/RecogitoEditor.ts
Labels: 🐛Bug, Module: Recogito

#4341 #4340 - Allow pruning elements in XML policy
  inception/inception-external-editor/src/main/java/de/tudarmstadt/ukp/inception/externaleditor/policy/DefaultHtmlDocumentPolicy.yaml
  inception/inception-io-xml/src/main/java/de/tudarmstadt/ukp/inception/io/xml/dkprocore/CasXmlHandler.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/AttributePolicyBuilder.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/ElementAction.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/ElementPolicy.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/ExternalPolicyCollection.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/PolicyCollectionBuilder.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/PolicyCollectionIOUtils.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/SanitizingContentHandler.java
  inception/inception-support/src/test/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/SanitizingContentHandlerTest.java
Labels: ⭐️ Enhancement

#4343 #4342 - Show document size in documents table
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.css
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.properties
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTableSortKeys.java
Labels: ⭐️ Enhancement, Module: Project Settings

#4345 #4344 - Allow format to inject default namespace if document does not specify one
  inception/inception-external-editor/src/main/java/de/tudarmstadt/ukp/inception/externaleditor/xhtml/XHtmlXmlDocumentViewControllerImpl.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/PolicyCollection.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/PolicyCollectionBuilder.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/PolicyCollectionIOUtils.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/SanitizingContentHandler.java
  inception/inception-support/src/test/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/PolicyCollectionIOUtilsTest.java
Labels: ⭐️ Enhancement

#4350 #4349 - Project has date in the 70ies if no data is set in JSON
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/exporters/ProjectSettingsExporter.java
Labels: 🐛Bug, Module: Project Settings

#4348 #4347 - CAS doctor fails to generate a proper report on projects not containing INITIAL_CASes
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImpl.java
  inception/inception-documents/src/test/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImplConcurrencyTest.java
  inception/inception-export-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/export/DocumentImportExportService.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/DocumentImportExportServiceImpl.java
  inception/inception-schema/src/test/java/de/tudarmstadt/ukp/inception/documents/service/DocumentServiceImplDatabaseTest.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/casdoctor/ProjectCasDoctorPanel.java
  inception/inception-workload-dynamic/src/test/java/de/tudarmstadt/ukp/inception/workload/dynamic/DynamicWorkloadExtensionImpl2Test.java
  inception/inception-workload-dynamic/src/test/java/de/tudarmstadt/ukp/inception/workload/dynamic/DynamicWorkloadExtensionImplTest.java
  inception/inception-workload-matrix/src/test/java/de/tudarmstadt/ukp/inception/workload/matrix/MatrixWorkloadExtensionImplTest.java
Labels: 🐛Bug, Module: CAS Doctor

#4352 #4351 - Always introduce wrapper element in Apache and Recogito
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/AnnotationResizeHandle.svelte
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/ApacheAnnotatorEditor.ts
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/ApacheAnnotatorEditorFactory.ts
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/ApacheAnnotatorVisualizer.ts
  inception/inception-html-recogito-editor/src/main/ts/src/recogito/RecogitoEditorFactory.ts
Labels: ⚙️ Refactoring, Module: Annotation, Module: Recogito, Module: Apache Annotator

#4354 #4353 - Ability to sort documents by update date
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectListSortState.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectListSortStrategy.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.properties
Labels: ⭐️ Enhancement, Module: Dashboard

#4361 #4360 - Clean up code
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningService.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/event/ActiveLearningRecommendationEvent.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/log/ActiveLearningRecommendationEventAdapter.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/log/ActiveLearningSuggestionOfferedAdapter.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/LearningRecordService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestion.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecord.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecordType.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecordUserAction.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/LearningRecordUserActionType.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Offset.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionLayerFamily.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionLayerFamilyType.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/exporter/ExportedLearningRecord.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/exporter/LearningRecordExporterTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/SpanSuggestionVisibilityCalculationTest.java
Labels: ⚙️ Refactoring

#4363 #4362 - Move suggestion extraction from RecommendationService into separate class
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/SuggestionExtraction.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplTest.java
Labels: Module: Recommender, ⚙️ Refactoring

#4365 #4360 - Clean up code
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/link/LinkFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/misc/ReorderableTagAutoCompleteField.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationCrossSentenceBehavior.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationOverlapBehavior.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRenderer.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationRelationRenderer.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationTypeRenderer.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/SuggestionExtraction.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/WebAnnoConst.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/WicketUtil.java
Labels: ⚙️ Refactoring

#4367 #4326 - Upgrade dependencies
  pom.xml
Labels: ⚙️ Refactoring

#4368 #4360 - Clean up code
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/exporters/SourceDocumentExporter.java
  inception/inception-documents/src/test/java/de/tudarmstadt/ukp/inception/documents/exporters/SourceDocumentExporterTest.java
  inception/inception-export-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/export/ProjectExporter.java
  inception/inception-kb/pom.xml
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception/inception-schema/src/test/java/de/tudarmstadt/ukp/inception/schema/exporters/LayerExporterTest.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/io/FastIOUtils.java
Labels: ⚙️ Refactoring

#4371 #4369 - Display size of knowledge bases
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception/inception-ui-kb/pom.xml
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseDetailsPanel.html
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseWrapper.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/local/LocalRepositorySettingsPanel.html
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/local/LocalRepositorySettingsPanel.java
Labels: ⭐️ Enhancement, Module: Knowledge Base

#4372 #4370 - Download knowledge bases in compressed form
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/PipedStreamResource.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/local/LocalRepositorySettingsPanel.java
Labels: ⭐️ Enhancement, Module: Knowledge Base

#4376 #4375 - SanitizingContentHandler blocks namespace mappings
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/SanitizingContentHandler.java
  inception/inception-support/src/test/java/de/tudarmstadt/ukp/inception/support/xml/sanitizer/SanitizingContentHandlerTest.java
Labels: 🐛Bug, Module: Annotation

#4374 Docs/admin apache proxy config
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_apache.adoc
Labels: 📖 Documentation

#4378 #4360 - Clean up code
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventLoggingListener.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventRepository.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventRepositoryImpl.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/AfterCasWrittenEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/AfterDocumentCreatedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/AfterProjectCreatedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/AnnotationStateChangedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/AuthenticationSuccessEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/ChainLinkEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/ChainSpanEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/DocumentStateChangedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/EventLoggingAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/EventLoggingAdapterRegistryImpl.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/FeatureValueUpdatedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/ProjectPermissionsChangedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/ProjectStateChangedEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/RelationEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/SpanEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/adapter/TagEventAdapter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/LoggedEventExporter.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/exporter/RawJsonDeserializer.java
Labels: ⚙️ Refactoring

#4385 #916 - Changing URL of remote KB requires server restart
  inception/inception-api-annotation/src/main/resources/META-INF/asciidoc/admin-guide/settings_segmentation.adoc
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
Labels: 🐛Bug, Module: Knowledge Base

#4387 #4386 - User "null" sometimes shows up in recent activity
  inception/inception-ui-dashboard-activity/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/activity/ActivitiesDashletControllerImpl.java
Labels: 🐛Bug, Module: Dashboard

#4391 #4390 - Error when indexing multi-value string features
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/PrimitiveUimaIndexingSupport.java
Labels: 🐛Bug, Module: Project Search

#4384 #4383 - Hide negative scores in annotation sidebar but still sort by it
  inception/inception-diam-compactv2/src/main/java/de/tudarmstadt/ukp/inception/diam/model/compactv2/CompactAnnotationAttributes.java
  inception/inception-diam-compactv2/src/main/java/de/tudarmstadt/ukp/inception/diam/model/compactv2/CompactSerializerV2Impl.java
  inception/inception-diam-editor/src/main/ts/src/LabelBadge.svelte
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderFactory.java
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderTraits.java
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderTraitsEditor.html
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderTraitsEditor.java
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderTraitsEditor.properties
  inception/inception-js-api/src/main/ts/src/model/Annotation.ts
  inception/inception-js-api/src/main/ts/src/model/Relation.ts
  inception/inception-js-api/src/main/ts/src/model/Span.ts
  inception/inception-js-api/src/main/ts/src/model/compact_v2/CompactAnnotationAttributes.ts
  inception/inception-js-api/src/main/ts/src/model/compact_v2/CompactRelation.ts
  inception/inception-js-api/src/main/ts/src/model/compact_v2/CompactSpan.ts
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VObject.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SuggestionGroup.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineFactory.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationRelationRenderer.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
Labels: ⭐️ Enhancement, Module: Recommender

#4394 #2696 - Document-level recommendations
  inception/inception-brat-editor/src/test/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratSerializerImplTest.java
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/UnreachableAnnotationsCheck.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/recommendation/MetadataSuggestionSupport.java
  inception/inception-pdf-editor/pom.xml
  inception/inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/LearningRecordService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/SuggestionSupport.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/SuggestionSupport_ImplBase.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/config/RecommenderServiceAutoConfiguration.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/relation/RelationSuggestionSupport.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/SuggestionSupportRegistryImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/span/SpanSuggestionSupport.java
  inception/inception-recommendation/src/main/resources/META-INF/asciidoc/developer-guide/recommendation.adoc
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/relation/RelationSuggestionVisibilityCalculationTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/uima/WebAnnoCasUtil.java
Labels: Module: Recommender, ⚙️ Refactoring

#4396 #4395 - BioC export cannot be enabled
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCFormatSupport.java
Labels: 🐛Bug, Module: Project Settings

#4398 #4397 - Better error message when PMC document cannot be found
  inception/inception-external-search-pubmed/pom.xml
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/pmcoa/PmcOaClient.java
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/traits/PubMedProviderTraits.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/DocumentDetailsPage.java
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/ResultRowView.html
  inception/inception-ui-external-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/externalsearch/SearchPage.html
Labels: ⭐️ Enhancement, Module: PubMed/PMC

#4401 #4400 - Display recoomender name in log instead of RecommenderContext
  inception/inception-imls-ollama/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/ollama/OllamaRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/PredictionContext.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommenderContext.java
Labels: ⭐️ Enhancement, Module: Recommender

#4405 #4404 - Some suggestions are not shown right away
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
Labels: 🐛Bug, Module: Recommender

#4407 #4406 - Useless "not in tagset" message on suggestions without a label
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/multistring/MultiValueStringFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/StringFeatureSupport.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
Labels: 🐛Bug, Module: Recommender

#4403 #4402 - Some suggestions are not hidden even though they cannot be accepted
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/util/OverlapIterator.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/exporter/OverlapIteratorTest.java
Labels: 🐛Bug, Module: Recommender

#4409 #4408 - String Matching Recommender does not evaluate on annotations without label
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-imls-stringmatch/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommenderTest.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngine.java
Labels: 🐛Bug, Module: Recommender

#4413 #4412 - PMC search returns some results that cannot be imported
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/PubMedCentralProvider.java
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/PubMedCentralProviderFactory.java
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/traits/PubMedProviderTraitsEditor.html
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/traits/PubMedProviderTraitsEditor.properties
  inception/inception-external-search-pubmed/src/main/resources/META-INF/asciidoc/user-guide/external-search-repos-pmc.adoc
  inception/inception-support-bootstrap/src/main/java/de/tudarmstadt/ukp/inception/bootstrap/BootstrapFeedbackPanel.js
Labels: 🐛Bug, Module: External Search

#4411 #4410 - OpenNLP multi-token sequence classifier does not learn from annotations without labels
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTest.java
Labels: 🐛Bug, Module: Recommender

#4415 #4414 - Number of new suggestions not displayed correctly
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/PredictionsTest.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplTest.java
Labels: 🐛Bug, Module: Recommender

#4417 #4399 - Allow open nlp multi token sequence classifier to work for cross sentence layers
  inception/inception-constraints/src/test/java/de/tudarmstadt/ukp/clarin/webanno/constraints/ComplexTypeTest.java
  inception/inception-imls-ollama/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/ollama/response/MentionsSampleTest.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderFactory.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTraits.java
  inception/inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommenderTest.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/RecommendationTask_ImplBase.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/span/SpanSuggestionExtractionTest.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/uima/AnnotationBuilder.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/uima/SegmentationUtils.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/uima/WebAnnoCasUtil.java
Labels: ⭐️ Enhancement, Module: Recommender
