Repository inception-project/inception, pull requests merged in 2023-08, with the labels that each got.

#4136 #4026 - Support for error tracking with Sentry
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/metrics_monitoring.adoc
Labels: ⭐️ Enhancement, 📖 Documentation

#4138 #4137 - Importing annotations with NIF format, raises error on remote api endpoint
  inception/inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/aero/AeroRemoteApiController.java
  inception/inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/aero/exception/IllegalNameException.java
Labels: 🐛Bug

#4141 #4140 - Simplify lazy detail lookup
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/UserPreferencesService.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/Renderer_ImplBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/multistring/MultiValueStringFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/StringFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRenderer.java
  inception/inception-api-editor/src/main/java/de/tudarmstadt/ukp/inception/editor/AnnotationEditorExtension.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VLazyDetailQuery.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VLazyDetailResult.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VObject.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/AnnotationSchemaService.java
  inception/inception-api-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/feature/FeatureSupport.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/message/GetDocumentResponse.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratSerializerImpl.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/model/Normalization.java
  inception/inception-brat-editor/src/main/ts/src/visualizer_ui/VisualizerUI.ts
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/EditorAjaxRequestHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/lazydetails/LazyDetailsLookupServiceImpl.java
  inception/inception-diam/src/main/ts/src/diam/DiamAjaxImpl.ts
  inception/inception-feature-lookup/src/main/java/de/tudarmstadt/ukp/inception/feature/lookup/LookupFeatureSupport.java
  inception/inception-image/src/main/java/de/tudarmstadt/ukp/inception/image/feature/ImageFeatureSupport.java
  inception/inception-js-api/src/main/ts/src/diam/DiamAjax.ts
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/config/RecommenderServiceAutoConfiguration.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationRelationRenderer.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/render/RecommendationSpanRenderer.java
  inception/inception-ui-curation/pom.xml
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationEditorExtension.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/config/CurationSidebarAutoConfiguration.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/MultiValueConceptFeatureSupport.java
Labels: ⚙️ Refactoring, Module: Annotation, Module: JavaScript Editor API

#4143 #3673 - Update dependencies
  pom.xml
Labels: ⚙️ Refactoring

#4149 Issue #4148: Switch PDF editor to compact model v2
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/annotation/abstract.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/pdfanno.ts
Labels: ⚙️ Refactoring

#4152 #4139 - Reusable popover component for annotation editors
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRendererTest.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VCommentType.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratSerializerImpl.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/model/AnnotationComment.java
  inception/inception-brat-editor/src/main/ts/src/protocol/Protocol.ts
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/model/compactv2/CompactSerializerV2Impl.java
  inception/inception-js-api/src/main/ts/src/diam/DiamAjax.ts
Labels: ⭐️ Enhancement, Module: Annotation, Module: JavaScript Editor API

#4157 #4150 - Upgrade dependencies
  Jenkinsfile
  inception/inception-bootstrap/src/main/ts_template/package-lock.json
  inception/inception-brat-editor/src/main/ts/build.mjs
  inception/inception-brat-editor/src/main/ts_template/package-lock.json
  inception/inception-diam-editor/src/main/ts/build.mjs
  inception/inception-diam-editor/src/main/ts_template/package-lock.json
  inception/inception-diam/src/main/ts/build.mjs
  inception/inception-diam/src/main/ts_template/package-lock.json
  inception/inception-external-editor/src/main/ts_template/package-lock.json
  inception/inception-html-apache-annotator-editor/src/main/ts/build.mjs
  inception/inception-html-apache-annotator-editor/src/main/ts_template/package-lock.json
  inception/inception-html-editor/src/main/ts_template/package-lock.json
  inception/inception-html-recogito-editor/src/main/ts/build.mjs
  inception/inception-html-recogito-editor/src/main/ts_template/package-lock.json
  inception/inception-js-api/src/main/ts/build.mjs
  inception/inception-js-api/src/main/ts/src/model/LazyDetailGroup.ts
  inception/inception-js-api/src/main/ts/src/widget/AnnotationDetailPopOver.svelte
  inception/inception-js-api/src/main/ts_template/package-lock.json
  inception/inception-pdf-editor/src/main/ts_template/package-lock.json
  inception/inception-pdf-editor2/src/main/ts/build.mjs
  inception/inception-pdf-editor2/src/main/ts_template/package-lock.json
  inception/inception-project-export/src/main/ts/build.mjs
  inception/inception-project-export/src/main/ts_template/package-lock.json
  inception/inception-recommendation/src/main/ts/build.mjs
  inception/inception-recommendation/src/main/ts_template/package-lock.json
  inception/inception-ui-dashboard-activity/src/main/ts/build.mjs
  inception/inception-ui-dashboard-activity/src/main/ts_template/package-lock.json
  inception/inception-ui-kb/src/main/ts_template/package-lock.json
  inception/inception-ui-scheduling/src/main/ts/build.mjs
  inception/inception-ui-scheduling/src/main/ts_template/package-lock.json
  inception/inception-ui-search/src/main/ts_template/package-lock.json
  pom.xml
Labels: ⚙️ Refactoring

#4154 #1861 - Add viewport offsets to external recommender
  inception/inception-imls-external/pom.xml
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommender.java
  inception/inception-imls-external/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/model/Metadata.java
  inception/inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderIntegrationTest.java
  inception/inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/MockRemoteStringMatchingNerRecommender.java
Labels: ⭐️ Enhancement, Module: Recommender

#4156 #4155 - Better annotation suggestion IDs
  Jenkinsfile
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningService.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/strategy/UncertaintySamplingStrategy.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/ner/OpenNlpNerRecommender.java
  inception/inception-imls-opennlp/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/pos/OpenNlpPosRecommender.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/AnnotationSuggestion.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/ExtendedId.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Predictions.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/Recommender.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/RelationSuggestion.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SpanSuggestion.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/PredictionsTest.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/RelationSuggestionTest.java
  inception/inception-recommendation-api/src/test/java/de/tudarmstadt/ukp/inception/recommendation/api/model/SpanSuggestionTest.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/LogDialog.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/sidebar/RecommenderInfoPanel.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/SelectionTask.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplIntegrationTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImplTest.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationInfoPanel.java
  inception/pom.xml
Labels: Module: Recommender, ⚙️ Refactoring

#4164 #4163 - Right sidebar visible even if there are not text-level layers
  Jenkinsfile
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: 🐛Bug, Module: Annotation

#4162 #4161 - Error opening document in project without layers
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/PreRendererImpl.java
  inception/inception-diam/src/test/java/de/tudarmstadt/ukp/inception/diam/service/DiamWebsocketController_ViewportRoutingTest.java
Labels: 🐛Bug, Module: Annotation
