Repository inception-project/inception, pull requests merged in 2024-03, with the labels that each got.

#4568 #4567 - Add support for a generic CAS RDF export format
  inception/inception-app-webapp/pom.xml
  inception/inception-bom/pom.xml
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/formats.adoc
  inception/inception-io-rdf/LICENSE.txt
  inception/inception-io-rdf/pom.xml
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/RdfReader.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/RdfWriter.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/UimaRdfCasFormatSupport.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/config/RdfFormatAutoConfiguration.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/internal/BasicIRI.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/internal/Rdf2Uima.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/internal/RdfCas.java
  inception/inception-io-rdf/src/main/java/de/tudarmstadt/ukp/inception/io/rdf/internal/Uima2Rdf.java
  inception/inception-io-rdf/src/main/resources/META-INF/asciidoc/user-guide/formats-rdfcas.adoc
  inception/inception-io-rdf/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  inception/inception-io-rdf/src/test/java/de/tudarmstadt/ukp/inception/io/rdf/RdfWriterTest.java
  inception/inception-io-rdf/src/test/resources/conll/2006/README.txt
  inception/inception-io-rdf/src/test/resources/conll/2006/fi-orig.conll
  inception/inception-io-rdf/src/test/resources/conll/2006/fi-ref.ttl
  inception/inception-io-rdf/src/test/resources/log4j2-test.xml
  inception/inception-io-rdf/src/test/resources/ttl/fi-orig.ttl
  inception/inception-io-rdf/src/test/resources/ttl/fi-ref.conll
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/exporters/LayerExporter.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception/pom.xml
Labels: ⭐️ Enhancement

#4579 #4578 - Error in document metadata sidebar when document has not yet been upgraded to new layers
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
Labels: 🐛Bug, Module: Document Metadata

#4577 #4576 - Allow setting a document-level annotation when bulk processing
  inception/inception-app-webapp/pom.xml
  inception/inception-bom/pom.xml
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception/inception-layer-docmetadata/src/test/java/de/tudarmstadt/ukp/inception/ui/core/docanno/recommendation/MetadataSuggestionExtractionTest.java
  inception/inception-processing/.gitignore
  inception/inception-processing/marker-wicket-module
  inception/inception-processing/pom.xml
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/BulkProcessingPage.html
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/BulkProcessingPage.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/BulkProcessingPage.properties
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/BulkProcessingPageMenuItem.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/config/ProcessingAutoConfiguration.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkPredictionTask.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkRecommenderPanel.html
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkRecommenderPanel.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkRecommenderPanel.properties
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/FeatureEditorPanel.html
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/FeatureEditorPanel.java
  inception/inception-processing/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  inception/inception-recommendation/pom.xml
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/config/RecommenderServiceAutoConfiguration.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/processor/BulkProcessingPanel.html
  inception/pom.xml
Labels: ⭐️ Enhancement, Module: Processing

#4581 #4576 - Allow setting a document-level annotation when bulk processing
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkPredictionTask.java
Labels: ⭐️ Enhancement, Module: Processing

#4585 #4569 - Feature visibility on hover not exported correctly
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/exporters/LayerExporter.java
Labels: 🐛Bug, Module: Project Settings

#4586 #4541 - Upgrade dependencies
  inception/inception-dependencies/pom.xml
Labels: ⚙️ Refactoring

#4589 #4587 - Annotations are misaligned when PDF pages vary in dimensions
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/render/renderSpan.ts
Labels: 🐛Bug, Module: PDF editor

#4575 #4556 - Unable to access PMC BioC service
  inception/inception-external-search-pubannotation/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubannotation/PubAnnotationProvider.java
  inception/inception-external-search-pubmed/src/main/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/PubMedCentralProvider.java
  inception/inception-external-search-pubmed/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/PubMedProviderTest.java
  inception/inception-external-search-pubmed/src/test/java/de/tudarmstadt/ukp/inception/externalsearch/pubmed/pmcoa/PmcOaClientTest.java
Labels: 🐛Bug, Module: PubMed/PMC

#4592 #4591 - Display size of initial CAS in document table
  inception/inception-annotation-storage-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/casstorage/CasStorageService.java
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/CasStorageServiceImpl.java
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/driver/CasStorageDriver.java
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/driver/filesystem/FileSystemCasStorageDriver.java
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/DocumentService.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImpl.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.css
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.properties
Labels: ⭐️ Enhancement, Module: Project Settings

#4593 #4590 - Agreement report shows only "no position"
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/AgreementSummary.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/results/coding/PairwiseCodingAgreementTable.java
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/results/unitizing/PairwiseUnitizingAgreementTable.java
Labels: ⭐️ Enhancement, Module: Agreement

#4605 #4603 - Bulk actions in search sidebar should not be greyed-out when in sidebar curation mode
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/events/BulkAnnotationEvent.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanAdapter.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
Labels: 🐛Bug, Module: Project Search

#4599 #4595 - Update apache reverse proxy docs to make Web Sockets work
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_ssl_apache.adoc
Labels: ⭐️ Enhancement, 📖 Documentation

#4604 #4602 - Project-specific user preferences may be saved without a user
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/PreferencesServiceImpl.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/exporter/DefaultProjectPreferencesExporter.java
  inception/inception-preferences/src/main/java/de/tudarmstadt/ukp/inception/preferences/exporter/UserProjectPreferencesExporter.java
  inception/inception-preferences/src/main/resources/de/tudarmstadt/ukp/inception/preferences/model/db-changelog.xml
Labels: 🐛Bug, Module: Preferences

#4607 #4603 - Bulk actions in search sidebar should not be greyed-out when in sidebar curation mode
  inception/inception-api-annotation/pom.xml
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/DocumentAccess.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentAccessImpl.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/config/DocumentServiceAutoConfiguration.java
  inception/inception-ui-annotation/pom.xml
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/actionbar/docnav/DocumentNavigator.java
  inception/inception-ui-curation/pom.xml
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/actionbar/CurationDocumentNavigator.java
  inception/inception-ui-search/pom.xml
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/SearchAnnotationSidebar.java
Labels: 🐛Bug, Module: Project Search

#4612 #4611 - Run the three SPARQL queries in the concept linker in parallel
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/service/ConceptLinkingServiceImpl.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/model/KnowledgeBase.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseExporterTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplImportExportIntegrationTest.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureEditor_ImplBase.java
Labels: ⭐️ Enhancement, Module: Knowledge Base, Module: Entity Linking

#4613 #4610 - Annotations are misaligned when PDF pages vary in dimensions
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/render/renderSpan.ts
Labels: 🐛Bug, Module: PDF editor

#4615 #4554 - Allow displaying comments from annotators on hover when curating using curation sidebar on the annotation page
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
Labels: ⭐️ Enhancement, Module: Annotation

#4619 #4618 - Resizing a span does not update annotations on disk
  .gitattributes
  .github/workflows/maven.yml
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/test/java/de/tudarmstadt/ukp/inception/InceptionRemoteApiJwtIntegrationTest.java
  inception/inception-curation/pom.xml
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/service/CurationDocumentService.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/MoveSpanAnnotationHandler.java
  inception/inception-diam/src/test/java/de/tudarmstadt/ukp/inception/diam/service/DiamWebsocketController_ViewportRoutingTest.java
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/DocumentService.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImpl.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/FullTextIndexUpgradeTest.java
  inception/inception-log/pom.xml
  inception/inception-pdf-editor2/src/test/java/de/tudarmstadt/ukp/inception/pdfeditor2/format/VisualPdfReaderTest.java
  inception/inception-project-api/pom.xml
  inception/inception-project-api/src/main/java/de/tudarmstadt/ukp/inception/project/api/ProjectService.java
  inception/inception-schema-api/pom.xml
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/AnnotationSchemaService.java
Labels: 🐛Bug, Module: Annotation

#4623 #4622 - No helpful error message when recommender is not called due to feature being disabled
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/TrainingTask.java
Labels: 🐛Bug, Module: Recommender

#4620 #4550 - Clean up code
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanAdapter.java
Labels: ⚙️ Refactoring

#4626 #4625 - Azure AI Open AI recommender
  inception/inception-app-webapp/pom.xml
  inception/inception-bom/pom.xml
  inception/inception-imls-azureai-openai/marker-wicket-module
  inception/inception-imls-azureai-openai/pom.xml
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiRecommender.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiRecommenderFactory.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiRecommenderTraits.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiRecommenderTraitsEditor.html
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiRecommenderTraitsEditor.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiRecommenderTraitsEditor.properties
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/AzureAiOpenAiResponseFormatSelect.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/Preset.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/AzureAiOpenAiClient.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/AzureAiOpenAiClientImpl.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/ChatCompletionChoice.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/ChatCompletionMessage.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/ChatCompletionRequest.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/ChatCompletionResponse.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/GenerateResponseFormat.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/config/AzureAiOpenAiRecommenderAutoConfiguration.java
  inception/inception-imls-azureai-openai/src/main/resources/META-INF/spring/org.springframework.boot.autoconfigure.AutoConfiguration.imports
  inception/inception-imls-azureai-openai/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/presets.yaml
  inception/inception-imls-azureai-openai/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/client/OpenAiClientTest.java
  inception/inception-imls-azureai-openai/src/test/resources/log4j2-test.xml
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/inception/security/client/auth/AuthenticationTraits.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/inception/security/client/auth/AuthenticationType.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/inception/security/client/auth/apikey/ApiKeyAuthenticationTraits.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/inception/security/client/auth/apikey/ApiKeyAuthenticationTraitsEditor.html
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/inception/security/client/auth/apikey/ApiKeyAuthenticationTraitsEditor.java
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/inception/security/client/auth/apikey/ApiKeyAuthenticationTraitsEditor.properties
  inception/installEclipseSettings.sh
  inception/pom.xml
Labels: ⭐️ Enhancement, Module: Recommender

#4629 #4628 - Better results when using unlabelled annotations for few-shot learning
  inception/inception-imls-azureai-openai/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/presets.yaml
  inception/inception-imls-ollama/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/ollama/response/MentionsFromJsonExtractor.java
  inception/inception-imls-ollama/src/main/resources/de/tudarmstadt/ukp/inception/recommendation/imls/ollama/presets.yaml
  inception/inception-imls-ollama/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/ollama/response/MentionsFromJsonExtractorTest.java
Labels: ⭐️ Enhancement, Module: Recommender

#4627 #4550 - Clean up code
  inception/inception-agreement/src/main/java/de/tudarmstadt/ukp/clarin/webanno/agreement/results/unitizing/FullUnitizingAgreementResult.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/preferences/AnnotationPreferencesDialogContent.java
  inception/inception-build/src/main/resources/inception/eclipse/org.eclipse.jdt.core.prefs
  inception/inception-build/src/main/resources/inception/eclipse/org.eclipse.jdt.ui.prefs
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/span/SpanDiffAdapter.java
  inception/inception-diam-compactv2/src/main/java/de/tudarmstadt/ukp/inception/diam/model/compactv2/CompactAnnotationAttributes.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/service/DiamWebsocketController.java
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide.adoc
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/DocumentAccess.java
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/RepositoryPropertiesImpl.java
  inception/inception-imls-azureai-openai/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/azureaiopenai/config/AzureAiOpenAiRecommenderAutoConfiguration.java
  inception/inception-io-html/src/main/java/de/tudarmstadt/ukp/inception/io/html/MHtmlFormatSupport.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkPredictionTask.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkRecommenderPanel.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/FeatureEditorPanel.java
  inception/installEclipseSettings.sh
Labels: ⚙️ Refactoring

#4633 #4550 - Clean up code
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/actionbar/export/ExportDocumentDialogContent.java
  inception/inception-api-formats/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/format/FormatSupport.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/AjaxDownloadLink.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/InputStreamResourceStream.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/LayerDetailForm.java
Labels: ⚙️ Refactoring

#4635 #4634 - Pull document file storage code out of document service into a new service
  inception/inception-documents-api/pom.xml
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/DocumentService.java
  inception/inception-documents-api/src/main/java/de/tudarmstadt/ukp/inception/documents/api/DocumentStorageService.java
  inception/inception-documents/pom.xml
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImpl.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentStorageServiceImpl.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/config/DocumentServiceAutoConfiguration.java
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/exporters/SourceDocumentExporter.java
  inception/inception-documents/src/test/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImplConcurrencyTest.java
  inception/inception-documents/src/test/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImplTest.java
  inception/inception-documents/src/test/java/de/tudarmstadt/ukp/inception/documents/exporters/SourceDocumentExporterTest.java
  inception/inception-external-editor/src/main/java/de/tudarmstadt/ukp/inception/externaleditor/xhtml/XHtmlXmlDocumentViewControllerImpl.java
  inception/inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/pdfanno/PdfDocumentIFrameView.java
  inception/inception-pdf-editor2/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor2/view/PdfDocumentIFrameView.java
  inception/inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/aero/AeroRemoteApiController.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/casdoctor/ProjectCasDoctorPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTable.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/documents/SourceDocumentTableExportActionColumn.java
Labels: ⚙️ Refactoring

#4637 #4636 - Ability to collapse groups in annotation sidebar
  inception/inception-diam-editor/src/main/ts/src/AnnotationsByLabelList.svelte
  inception/inception-diam-editor/src/main/ts/src/AnnotationsByLayerList.svelte
Labels: ⭐️ Enhancement, Module: Annotation

#4639 #4638 - Ability to filter annotation sidebar by covered text
  inception/inception-diam-editor/src/main/ts/src/AnnotationsByLabelList.svelte
  inception/inception-diam-editor/src/main/ts/src/AnnotationsByLayerList.svelte
  inception/inception-diam-editor/src/main/ts/src/AnnotationsByPositionList.svelte
  inception/inception-diam-editor/src/main/ts/src/DiamAnnotationBrowser.svelte
  inception/inception-diam-editor/src/main/ts/src/Utils.ts
Labels: ⭐️ Enhancement, Module: Annotation

#4640 #4614 - Display suggestions from Named Entity Linker immediately
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinker.java
  inception/inception-concept-linking/src/main/java/de/tudarmstadt/ukp/inception/conceptlinking/recommender/NamedEntityLinkerFactory.java
  inception/inception-imls-ollama/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/ollama/client/OllamaGenerateRequest.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/RecommendationService.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/event/PredictionsSwitchedEvent.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineFactory.java
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/recommender/RecommendationEngineFactoryImplBase.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/tasks/PredictionTask.java
Labels: ⭐️ Enhancement, Module: Recommender

#4642 #4641 - Ability to assign names to endpoints of relations
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/config/AnnotationAutoConfiguration.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationEndpointFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationEndpointFeatureTraits.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerSupport.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/lazydetails/LazyDetailsLookupServiceImpl.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkRecommenderPanel.java
  inception/inception-project-initializers-basic/src/main/java/de/tudarmstadt/ukp/inception/project/initializers/basic/BasicRelationLayerInitializer.java
  inception/inception-project-initializers/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/initializers/CoreferenceLayerInitializer.java
  inception/inception-project-initializers/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/initializers/DependencyLayerInitializer.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/DocumentAnnotationPanel.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/SpanAnnotationPanel.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/feature/FeatureSupport.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/layer/LayerSupport.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationTextPanel.html
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationTextPanel.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/FeatureDetailForm.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/LayerDetailForm.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/ProjectLayersPanel.html
Labels: ⭐️ Enhancement, Module: Annotation, Module: Project Settings

#4643 #4545 - Upgrade dependencies
  inception/inception-dependencies/pom.xml
  inception/pom.xml
  pom.xml
Labels: ⚙️ Refactoring

#4646 #4645 - Self-help info for reverse proxy problems
  inception/inception-ui-dashboard-activity/pom.xml
  inception/inception-ui-dashboard/pom.xml
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/AdminDashboardPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusService.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusServiceImpl.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/config/DashboardAutoConfiguration.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/SystemStatusDashlet.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/SystemStatusDashlet.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/detail/ProjectDetailPanel.html
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/detail/ProjectDetailPanel.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagEditorPanel.html
Labels: ⭐️ Enhancement, Module: Project Settings

#4648 #4647 - Better handling of unsupported annotation feature types
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/keybindings/KeyBindingsConfigurationPanel.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/lazydetails/LazyDetailsLookupServiceImpl.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/DocumentAnnotationPanel.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/SpanAnnotationPanel.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasUimaParser.java
  inception/inception-ui-agreement/src/main/java/de/tudarmstadt/ukp/inception/ui/agreement/page/AgreementPage.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-search/src/main/java/de/tudarmstadt/ukp/inception/app/ui/search/sidebar/StatisticsAnnotationSidebar.java
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetEditorPanel.java
Labels: 🐛Bug, Module: Project Settings

#4653 #4652 - Ability to specify INCEpTION command line arguments when using docker
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_docker.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/upgrade_notes.adoc
  inception/inception-docker/src/main/docker/Dockerfile
Labels: ⭐️ Enhancement, Module: Docker

#4654 #4449 - Adding new document level non-singleton annotations adds them in strange order
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerAdapter.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerSupport.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationSelectionPanel.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImpl.java
Labels: 🐛Bug, Module: Document Metadata

#4658 #4657 - Allow creating long-distance relations between spans in the annotation sidebar
  inception/inception-diam-editor/pom.xml
  inception/inception-diam-editor/src/main/java/de/tudarmstadt/ukp/inception/diam/sidebar/DiamAnnotationBrowser.java
  inception/inception-diam-editor/src/main/java/de/tudarmstadt/ukp/inception/diam/sidebar/DiamSidebar.html
  inception/inception-diam-editor/src/main/java/de/tudarmstadt/ukp/inception/diam/sidebar/DiamSidebar.java
  inception/inception-diam-editor/src/main/ts/src/DiamAnnotationBrowser.svelte
  inception/inception-diam-editor/src/main/ts/src/LabelBadge.svelte
  inception/inception-diam/pom.xml
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/ShowContextMenuHandler.java
  inception/inception-external-editor/pom.xml
  inception/inception-external-editor/src/main/java/de/tudarmstadt/ukp/inception/externaleditor/ExternalAnnotationEditorBase.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: ⭐️ Enhancement, Module: Annotation

#4659 #4645 - Self-help info for reverse proxy problems
  inception/inception-security/src/main/java/de/tudarmstadt/ukp/clarin/webanno/security/UserDaoImpl.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/markdown/MarkdownUtil.java
  inception/inception-ui-dashboard/pom.xml
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/ClientUrlAjaxBehavior.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.properties
Labels: ⭐️ Enhancement, Module: Project Settings

#4661 #1319 - Cross-Layer Relations
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/keybindings/KeyBindingsPanel.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/TypeAdapter_ImplBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationAdapter.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationAttachmentBehavior.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationEndpointFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/editor/state/AnnotatorStateImpl.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/editorstate/AnnotatorState.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/selection/Selection.java
  inception/inception-brat-editor/src/main/ts/src/annotator_ui/AnnotatorUI.ts
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/CasMerge.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/FeatureAttachedSpanAnnotationsTrulyAttachedCheck.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/CreateRelationAnnotationHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/ShowContextMenuHandler.java
  inception/inception-kb-fact-linking/src/main/java/de/tudarmstadt/ukp/inception/kb/factlinking/feature/SubjectObjectFeatureEditor.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/sidebar/DocumentMetadataAnnotationDetailPanel.java
  inception/inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception/inception-processing/src/main/java/de/tudarmstadt/ukp/inception/processing/recommender/BulkRecommenderPanel.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/relation/RelationSuggestionRenderer.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/DocumentAnnotationPanel.java
  inception/inception-review-editor/src/main/java/de/tudarmstadt/ukp/inception/revieweditor/SpanAnnotationPanel.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/editor/action/AnnotationActionHandler.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/AnnotationSchemaService.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/config/AnnotationSchemaProperties.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/feature/FeatureSupport.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/feature/FeatureSupportRegistry.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/config/AnnotationSchemaPropertiesImpl.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/exporters/LayerExporter.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImpl.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/FeatureSupportRegistryImpl.java
  inception/inception-search-core/src/main/java/de/tudarmstadt/ukp/inception/search/model/BulkIndexingContext.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AttachedAnnotationListPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/FeatureEditorListPanel.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationEditorExtension.java
  inception/inception-ui-kb/pom.xml
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/initializers/NamedEntityIdentifierFeatureInitializer.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/LayerDetailForm.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/ProjectLayersPanel.properties
Labels: ⭐️ Enhancement, Module: Annotation, Module: Project Settings

#4656 #4655 - Opening a document in sidebar curation mode does not trigger auto-merge
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/CasStorageServiceImpl.java
  inception/inception-annotation-storage/src/test/java/de/tudarmstadt/ukp/inception/annotation/storage/CasStorageServiceImplTest.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/editor/state/AnnotatorStateImpl.java
  inception/inception-api-render/pom.xml
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/editorstate/AnnotatorDocumentNavigation.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/editorstate/AnnotatorState.java
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/CasMerge.java
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/service/CurationMergeServiceImpl.java
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/service/CurationServiceImpl.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/curation/page/CurationPage.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebar.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebarBehavior.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebarService.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebarServiceImpl.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/config/CurationSidebarAutoConfiguration.java
  inception/inception-ui-curation/src/test/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebarServiceTest.java
  inception/pom.xml
Labels: 🐛Bug, Module: Annotation, Module: Curation

#4662 #4602 - Project-specific user preferences may be saved without a user
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/ColorRenderer.java
Labels: 🐛Bug, Module: Annotation, Module: Curation

#4670 #4669 - Results missing from search when annotation document exists but is in state NEW
  inception/inception-documents/src/main/java/de/tudarmstadt/ukp/inception/documents/DocumentServiceImpl.java
  inception/inception-search-mtas/src/main/java/de/tudarmstadt/ukp/inception/search/index/mtas/MtasDocumentIndex.java
Labels: 🐛Bug, Module: Project Search

#4672 #4671 - Make basic relation layer be cross-sentence by default
  inception/inception-imls-stringmatch/pom.xml
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/relation/StringMatchingRelationRecommenderFactory.java
  inception/inception-project-initializers-basic/pom.xml
  inception/inception-project-initializers-basic/src/main/java/de/tudarmstadt/ukp/inception/project/initializers/basic/BasicRelationLayerInitializer.java
  inception/inception-project-initializers-basic/src/main/java/de/tudarmstadt/ukp/inception/project/initializers/basic/BasicRelationRecommenderInitializer.java
  inception/inception-project-initializers-basic/src/main/java/de/tudarmstadt/ukp/inception/project/initializers/basic/BasicSpanLayerInitializer.java
Labels: ⭐️ Enhancement, Module: Project Settings

#4673 #4645 - Self-help info for reverse proxy problems
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/markdown/MarkdownUtil.java
  inception/inception-ui-dashboard/pom.xml
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/ClientUrlAjaxBehavior.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.properties
Labels: ⭐️ Enhancement, Module: Project Settings
