Repository inception-project/inception, pull requests merged in 2024-05, with the labels that each got.

#4786 #4785 - Upgrade dependencies
  pom.xml
Labels: ⚙️ Refactoring

#4788 #4787 - When re-merging a document CASMetadata is not retained
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/CasMetadataUtils.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/PreRendererImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/editor/state/AnnotatorStateImpl.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/paging/PagingStrategy.java
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/CasMerge.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/CASMetadataTypeIsPresentCheck.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/NegativeSizeAnnotationsCheck.java
Labels: 🐛Bug, Module: Curation

#4761 Document how to change upload size for Kubernetes deployments
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_kubernetes.adoc
Labels: ⭐️ Enhancement, 📖 Documentation

#4793 #4791 - BOM not removed when importing plain text files
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/checks/DocumentTextStartsWithBomCheck.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/config/CasDoctorAutoConfiguration.java
  inception/inception-diag/src/main/java/de/tudarmstadt/ukp/clarin/webanno/diag/repairs/RemoveBomRepair.java
  inception/inception-diag/src/main/resources/META-INF/asciidoc/user-guide/casdoctor.adoc
  inception/inception-diag/src/test/java/de/tudarmstadt/ukp/clarin/webanno/diag/repairs/RemoveBomRepairTest.java
  inception/inception-io-brat/src/main/java/de/tudarmstadt/ukp/inception/io/brat/dkprocore/internal/mapping/TypeMappings.java
  inception/inception-io-text/pom.xml
  inception/inception-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/LineOrientedTextReader.java
  inception/inception-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/PretokenizedLineOrientedTextReader.java
  inception/inception-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/TextFormatSupport.java
  inception/inception-io-text/src/main/java/de/tudarmstadt/ukp/clarin/webanno/text/TextReader.java
  inception/inception-remote/src/main/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/aero/AeroRemoteApiController.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/uima/ICasUtil.java
Labels: 🐛Bug

#4797 #4796 - Annotation popover is not destroyed when switching between documents
  inception/inception-brat-editor/src/main/ts/src/BratEditor.ts
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/ApacheAnnotatorEditor.ts
  inception/inception-html-recogito-editor/src/main/ts/src/recogito/RecogitoEditor.ts
  inception/inception-js-api/src/main/ts/src/widget/AnnotationDetailPopOver.svelte
  inception/inception-pdf-editor2/src/main/ts/src/PdfAnnotationEditor.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/pdfanno.ts
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/svelte/SvelteBehavior.java
Labels: 🐛Bug, Module: PDF editor, Module: Recogito, Module: brat, Module: JavaScript Editor API, Module: Apache Annotator

#4798 #4796 - Annotation popover is not destroyed when switching between documents
  inception/inception-diam-editor/src/main/ts/src/DiamAnnotationBrowser.svelte
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/EditorAjaxRequestHandlerBase.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/LazyDetailsHandler.java
Labels: 🐛Bug, Module: Annotation, Module: AnnotatorJS

#4801 #4799 - Relation only becomes visible when mouse is moved in brat editor
  inception/inception-brat-editor/src/main/ts/src/BratEditor.ts
  inception/inception-brat-editor/src/main/ts/src/annotator_ui/AnnotatorUI.ts
  inception/inception-brat-editor/src/main/ts/src/dispatcher/Dispatcher.ts
  inception/inception-brat-editor/src/main/ts/src/util/Util.ts
  inception/inception-brat-editor/src/main/ts/src/visualizer/Visualizer.ts
  inception/inception-ui-scheduling/src/main/ts/src/TaskMonitorPanel.svelte
Labels: 🐛Bug, Module: Annotation, Module: brat

#4803 #4802 - Source and target features should not be selectable on a relation recommender
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/project/RecommenderEditorPanel.java
Labels: 🐛Bug, Module: Recommender

#4804 #4785 - Upgrade dependencies
  inception/inception-dependencies/pom.xml
  pom.xml
Labels: ⚙️ Refactoring

#4811 #1319 - Cross-Layer Relations
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/page/AnnotationPageBase.java
  inception/inception-diam-editor/pom.xml
  inception/inception-diam-editor/src/main/java/de/tudarmstadt/ukp/inception/diam/sidebar/DiamAnnotationBrowser.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/CreateRelationAnnotationHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/CreateSpanAnnotationHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/EditorAjaxRequestHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/ShowContextMenuHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/config/DiamAutoConfig.java
  inception/inception-diam/src/main/ts/src/diam/DiamAjaxImpl.ts
  inception/inception-diam/src/test/java/de/tudarmstadt/ukp/inception/diam/editor/actions/CreateSpanAnnotationHandlerTest.java
  inception/inception-external-editor/src/main/java/de/tudarmstadt/ukp/inception/externaleditor/ExternalAnnotationEditorBase.java
  inception/inception-html-recogito-editor/src/main/ts/src/recogito/RecogitoEditor.ts
  inception/inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderSslTest.java
  inception/inception-imls-opennlp/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/opennlp/doccat/OpenNlpDoccatRecommenderTest.java
  inception/inception-pdf-editor2/src/main/ts/src/PdfAnnotationEditor.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/UI/relation.ts
  inception/inception-remote/src/test/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/webhooks/WebhookServiceTest.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/editor/action/AnnotationActionHandler.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/ContextMenu.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/AnnotationDetailEditorPanel.java
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/detail/LayerSelectionPanel.java
Labels: ⭐️ Enhancement, Module: Annotation, Module: PDF editor, Module: Recogito, Module: Apache Annotator

#4812 #1319 - Cross-Layer Relations
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/LayerDetailForm.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/ProjectLayersPanel.properties
Labels: ⭐️ Enhancement, Module: Project Settings

#4816 #4815 - Constraint tags are not rendered in bold in radio-group string feature editor
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/RadioGroupStringFeatureEditor.java
  inception/inception-imls-external/src/test/java/de/tudarmstadt/ukp/inception/recommendation/imls/external/v1/ExternalRecommenderSslTest.java
  inception/inception-pdf-editor/src/main/ts/pdfjs-web/viewer.html
  inception/inception-pdf-editor2/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor2/view/pdfjs/PdfJsViewerPage.java
  inception/inception-remote/src/test/java/de/tudarmstadt/ukp/clarin/webanno/webapp/remoteapi/webhooks/WebhookServiceTest.java
Labels: 🐛Bug, Module: Annotation

#4814 #4813 - SNOMED-CT instructions miss conversion step from RD2 to OWL
  inception/inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
Labels: 🐛Bug, Module: Knowledge Base

#4823 #4819 - Error when opening annotation page as annotator in dynamic workflow mode
  inception/inception-workload-dynamic/src/main/java/de/tudarmstadt/ukp/inception/workload/dynamic/annotation/DynamicWorkflowDocumentNavigationActionBarExtension.java
Labels: 🐛Bug, Module: Annotation, Module: Dynamic Workload

#4825 #4824 - Project users in project settings not sorted by name
  inception/inception-app-webapp/src/main/resources/application.yml
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectServiceImpl.java
Labels: 🐛Bug, Module: Project Settings

#4829 #4826 - Option to show relation arcs only when span is selected
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/NopRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/PreRendererImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerTraits.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerTraitsEditor.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerTraitsEditor.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderMode.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderModeSelect.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRenderer.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-ui-core/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/core/WicketApplicationBase.properties
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/render/CurationSidebarRenderer.java
  inception/inception-ui-project/src/main/resources/META-INF/asciidoc/user-guide/projects_layers.adoc
Labels: ⭐️ Enhancement, Module: Annotation

#4831 #4830 - Cannot enable logging for JUL-based libraries
  inception/inception-app-webapp/pom.xml
  inception/inception-app-webapp/src/main/java/de/tudarmstadt/ukp/inception/INCEpTION.java
  inception/inception-dependencies/pom.xml
  inception/pom.xml
Labels: 🐛Bug

#4833 #4832 - Improve self-help for reverse proxies
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/admin/dashlet/SystemStatusDashlet.properties
Labels: ⭐️ Enhancement

#4810 #4809 - Connecting annotation and entity with arc over different pages
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/NopRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/Renderer_ImplBase.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRenderer.java
  inception/inception-api-editor/src/main/java/de/tudarmstadt/ukp/inception/editor/AnnotationEditorBase.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/request/RenderRequest.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/annotation/BratAnnotationEditor.java
  inception/inception-brat-editor/src/main/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratSerializerImpl.java
  inception/inception-brat-editor/src/main/ts/src/visualizer/Arc.ts
  inception/inception-brat-editor/src/main/ts/src/visualizer/Visualizer.ts
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/LoadAnnotationsHandler.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/lazydetails/LazyDetailsLookupServiceImpl.java
  inception/inception-diam/src/main/ts/src/diam/DiamAjaxImpl.ts
  inception/inception-html-recogito-editor/src/main/ts/src/recogito/RecogitoEditor.ts
  inception/inception-js-api/src/main/ts/src/diam/DiamAjax.ts
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VDocument.java
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VObject.java
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VSpan.java
  inception/inception-pdf-editor/pom.xml
  inception/inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/render/renderSpan.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/pdfanno.ts
Labels: ⭐️ Enhancement, Module: Annotation, Module: PDF editor, Module: brat

#4837 #4809 - Connecting annotation and entity with arc over different pages
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/NopRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/rendering/PreRendererImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanCrossSentenceBehavior.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanLayerBehavior.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanOverlapBehavior.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRenderer.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRendererTest.java
  inception/inception-api-annotation/src/test/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRendererTest.java
  inception/inception-api-editor/src/main/java/de/tudarmstadt/ukp/inception/editor/AnnotationEditorBase.java
  inception/inception-api-render/src/main/java/de/tudarmstadt/ukp/inception/rendering/request/RenderRequest.java
  inception/inception-brat-editor/src/test/java/de/tudarmstadt/ukp/clarin/webanno/brat/render/BratSerializerImplTest.java
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/span/SpanDiffAdapter.java
  inception/inception-diam-compactv2/src/test/java/de/tudarmstadt/ukp/inception/diam/model/compactv2/CompactSerializerV2ImplTest.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/actions/LoadAnnotationsHandler.java
  inception/inception-diam/src/main/ts/src/diam/DiamAjaxImpl.ts
  inception/inception-html-recogito-editor/src/main/ts/src/recogito/RecogitoEditor.ts
  inception/inception-js-api/src/main/ts/src/diam/DiamAjax.ts
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VArc.java
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VDocument.java
  inception/inception-model-vdoc/src/main/java/de/tudarmstadt/ukp/inception/rendering/vmodel/VSpan.java
  inception/inception-pdf-editor/src/main/java/de/tudarmstadt/ukp/inception/pdfeditor/PdfAnnotationEditor.java
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/pdfanno.ts
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/render/CurationSidebarRenderer.java
Labels: ⭐️ Enhancement, Module: Annotation

#4840 #4839 - Scrolling to selection does sometimes not work in Apache Annotator Editor
  inception/inception-html-apache-annotator-editor/src/main/ts/src/apache-annotator/ApacheAnnotatorVisualizer.ts
Labels: 🐛Bug, Module: Annotation, Module: Apache Annotator

#4841 #4835 - Error when trying to open certain documents with stacked annotations for curation
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/Configuration.java
Labels: 🐛Bug, Module: Curation
