Repository inception-project/inception, pull requests merged in 2024-02, with the labels that each got.

#4494 #4493 - Present project templates to new users who do not have a project yet
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectAccess.java
  inception/inception-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/project/ProjectAccessImpl.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/SanitizingHtmlLabel.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/wicket/WicketUtil.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/project/ProjectDashboardPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.html
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.java
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/projectlist/ProjectsOverviewPage.properties
Labels: ⭐️ Enhancement, Module: Dashboard

#4496 #4495 - Error marker on annotations with required multi-value features is missing
  inception/inception-brat-editor/src/main/ts/src/visualizer/Visualizer.ts
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/validation/ValidationUtils.java
Labels: 🐛Bug, Module: Annotation

#4490 #4377 - Configure include and exclude patterns for logged events
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/EventLoggingListener.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/config/EventLoggingProperties.java
  inception/inception-log/src/main/java/de/tudarmstadt/ukp/inception/log/config/EventLoggingPropertiesImpl.java
  inception/inception-log/src/test/java/de/tudarmstadt/ukp/inception/log/EventLoggingListenerTest.java
Labels: ⭐️ Enhancement

#4500 #4499 - Tips for deployment on Azure
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_azure.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_database_mariadb.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_database_mysql.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_java.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_kubernetes.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/settings_cas-storage.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/common/systemrequirements.adoc
Labels: ⭐️ Enhancement, 📖 Documentation

#4501 #4498 - Support exporting in brat format
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/actionbar/export/ExportDocumentDialogContent.java
  inception/inception-app-webapp/pom.xml
  inception/inception-bom/pom.xml
  inception/inception-doc/src/main/resources/META-INF/asciidoc/user-guide/formats.adoc
  inception/inception-export-api/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/export/DocumentImportExportService.java
  inception/inception-io-brat/LICENSE.txt
  inception/inception-io-brat/pom.xml
  inception/inception-io-brat/src/main/java/de/tudarmstadt/ukp/inception/io/brat/BratFormatSupport.java
  inception/inception-io-brat/src/main/java/de/tudarmstadt/ukp/inception/io/brat/config/BratAutoConfiguration.java
  inception/inception-io-brat/src/main/resources/META-INF/asciidoc/user-guide/formats-brat.adoc
  inception/inception-io-brat/src/main/resources/META-INF/spring.factories
  inception/inception-project-export/src/main/java/de/tudarmstadt/ukp/inception/project/export/settings/FormatDropdownChoice.java
  inception/installEclipseSettings.sh
  inception/pom.xml
Labels: ⭐️ Enhancement

#4510 #4509 - Download the latest HPO version when creating a local HPO knowledge-base
  inception/inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
Labels: ⭐️ Enhancement, Module: Knowledge Base

#4508 #4507 - Support importing OBO ontologies
  inception/inception-kb/pom.xml
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
  inception/inception-kb/src/test/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImplIntegrationTest.java
  inception/inception-kb/src/test/resources/data/README.txt
  inception/inception-kb/src/test/resources/data/example1.obo
  inception/inception-kb/src/test/resources/data/example1.obo.gz
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/ProjectKnowledgeBasePanel.properties
  inception/inception-ui-kb/src/main/resources/META-INF/asciidoc/user-guide/projects_knowledge-base.adoc
Labels: ⭐️ Enhancement, Module: Knowledge Base

#4512 #4511 - Improve HPO knowledge base profile
  inception/inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/project/KnowledgeBaseIriPanel.html
Labels: ⭐️ Enhancement, Module: Knowledge Base

#4515 #2879 - Improve multi-value features
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.java
  inception/inception-annotation-storage/src/test/resources/log4j2-test.xml
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/multistring/MultiValueStringFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/TypeAdapter_ImplBase.java
  inception/inception-concept-linking/src/test/resources/log4j2-test.xml
  inception/inception-curation-legacy/src/test/resources/log4j2-test.xml
  inception/inception-documents/src/test/resources/log4j2-test.xml
  inception/inception-external-editor/src/test/resources/log4j2-test.xml
  inception/inception-external-search-solr/src/test/resources/log4j2-test.xml
  inception/inception-imls-ollama/src/test/resources/log4j2-test.xml
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-imls-stringmatch/src/test/resources/log4j2-test.xml
  inception/inception-project-export/src/test/resources/log4j2-test.xml
  inception/inception-recommendation-api/src/main/java/de/tudarmstadt/ukp/inception/recommendation/api/SuggestionSupport_ImplBase.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/relation/RelationSuggestionSupport.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/service/RecommendationServiceImpl.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/span/SpanSuggestionSupport.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/span/SpanSuggestionMultiValueFeatureSuggestionVisibilityCalculationTest.java
  inception/inception-recommendation/src/test/java/de/tudarmstadt/ukp/inception/recommendation/span/SpanSuggestionVisibilityCalculationTest.java
  inception/inception-recommendation/src/test/resources/log4j2-test.xml
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/AnnotationSchemaService.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/adapter/TypeAdapter.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/feature/FeatureSupport.java
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImpl.java
  inception/inception-ui-dashboard/pom.xml
  inception/inception-ui-dashboard/src/main/java/de/tudarmstadt/ukp/inception/ui/core/dashboard/dashlet/LayerHintDashlet.java
  inception/inception-ui-kb/pom.xml
Labels: ⭐️ Enhancement, Module: Recommender

#4520 #4519 - Trying to add a subclass on the knowledge base page creates an error
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseService.java
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/KnowledgeBaseServiceImpl.java
Labels: 🐛Bug, Module: Knowledge Base

#4521 #4518 - Wrong feature type shown in dropdown when scope is set in concept feature settings
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/feature/FeatureType.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/feature/ConceptFeatureSupport.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/FeatureDetailForm.java
Labels: 🐛Bug, Module: Project Settings

#4522 #4517 - Multi-value features are not included in BioC output
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCComponent.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCXmlDocumentFormatSupport.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCXmlDocumentReader.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCXmlDocumentWriter.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/model/BioCObject.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/model/CasToBioC.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/xml/BioC2XmlCas.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/xml/BioCXmlUtils.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/xml/Cas2BioCSaxEvents.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/xml/DocumentWrappingXmlInputReader.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/xml/SplittingContentHandler.java
  inception/inception-io-bioc/src/main/resources/META-INF/asciidoc/user-guide/formats-bioc.adoc
  inception/inception-io-bioc/src/test/java/de/tudarmstadt/ukp/inception/io/bioc/BioCReaderWriterTest.java
  inception/inception-io-bioc/src/test/java/de/tudarmstadt/ukp/inception/io/bioc/BioCXmlDocumentReaderTest.java
  inception/inception-io-bioc/src/test/java/de/tudarmstadt/ukp/inception/io/bioc/BioCXmlDocumentReaderWriterTest.java
  inception/inception-io-bioc/src/test/resources/bioc-suite/annotation-with-single-multi-valued-feature-typed/data.xml
  inception/inception-io-bioc/src/test/resources/bioc-suite/annotation-with-single-multi-valued-feature-typed/reference.xml
  inception/inception-ui-tagsets/pom.xml
  inception/inception-ui-tagsets/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/tagsets/TagSetImportPanel.java
Labels: ⭐️ Enhancement, Module: BioC

#4526 #4525 - Support recommendations for non-string primitive features
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/bool/BooleanFeatureSupport.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommender.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/StringMatchingRecommenderFactory.java
  inception/inception-imls-stringmatch/src/main/java/de/tudarmstadt/ukp/inception/recommendation/imls/stringmatch/span/settings/StringMatchingRecommenderTraitsEditor.java
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/span/SpanSuggestionSupport.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/feature/FeatureUtil.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/uima/ICasUtil.java
Labels: ⭐️ Enhancement, Module: Recommender

#4529 #4528 - Display key bindings in radio group string feature editor
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/ActiveLearningServiceImpl.java
  inception/inception-active-learning/src/main/java/de/tudarmstadt/ukp/inception/active/learning/sidebar/ActiveLearningSidebar.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/api/annotation/keybindings/KeyBindingsPanel.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/RadioGroupStringFeatureEditor.html
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/RadioGroupStringFeatureEditor.java
Labels: ⭐️ Enhancement, Module: Annotation

#4536 #4533 - BioC exported from INCEpTION cannot be imported again due to missing mandatory metadata
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCReaderImplBase.java
  inception/inception-io-bioc/src/main/java/de/tudarmstadt/ukp/inception/io/bioc/BioCWriter.java
  inception/inception-io-bioc/src/test/java/de/tudarmstadt/ukp/inception/io/bioc/BioCReaderTest.java
  inception/inception-io-bioc/src/test/java/de/tudarmstadt/ukp/inception/io/bioc/BioCWriterTest.java
  inception/inception-io-bioc/src/test/resources/bioc/example-with-incomplete-metadata.xml
Labels: 🐛Bug, Module: BioC

#4539 #4537 - Ability to group annotations by layer
  inception/inception-diam-editor/src/main/java/de/tudarmstadt/ukp/inception/diam/sidebar/DiamSidebarFactoryUserPreferences.schema.json
  inception/inception-diam-editor/src/main/ts/src/AnnotationsByLayerList.svelte
  inception/inception-diam-editor/src/main/ts/src/DiamAnnotationBrowser.svelte
  inception/inception-diam-editor/src/main/ts/src/Utils.ts
Labels: ⭐️ Enhancement, Module: Annotation

#4540 #4538 - Lazy details and selecting annotations my break after opening a read-only document and not performing actions for a short time
  inception/inception-ui-annotation/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/annotation/AnnotationPage.java
Labels: 🐛Bug, Module: Annotation

#4542 #4541 - Upgrade dependencies
  inception/inception-dependencies/pom.xml
  pom.xml
Labels: ⚙️ Refactoring

#4544 #4543 - UI for creating new concept or properties has broken layout
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/AbstractInfoPanel.html
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/IriInfoBadge.html
Labels: 🐛Bug, Module: Knowledge Base

#4546 #4545 - Upgrade dependencies
  inception/inception-brat-editor/src/main/ts_template/package-lock.json
  inception/inception-dependencies/pom.xml
  inception/inception-diam-editor/src/main/ts_template/package-lock.json
  inception/inception-diam/src/main/ts_template/package-lock.json
  inception/inception-external-editor/src/main/ts_template/package-lock.json
  inception/inception-html-apache-annotator-editor/src/main/ts_template/package-lock.json
  inception/inception-html-editor/src/main/ts_template/package-lock.json
  inception/inception-html-recogito-editor/src/main/ts_template/package-lock.json
  inception/inception-io-tei/src/main/ts_template/package-lock.json
  inception/inception-js-api/src/main/ts_template/package-lock.json
  inception/inception-pdf-editor/src/main/ts_template/package-lock.json
  inception/inception-pdf-editor2/src/main/ts_template/package-lock.json
  inception/inception-project-export/src/main/ts_template/package-lock.json
  inception/inception-recommendation/src/main/ts_template/package-lock.json
  inception/inception-support-bootstrap/src/main/ts_template/package-lock.json
  inception/inception-ui-dashboard-activity/src/main/ts_template/package-lock.json
  inception/inception-ui-kb/src/main/ts_template/package-lock.json
  inception/inception-ui-scheduling/src/main/ts_template/package-lock.json
  inception/inception-ui-search/src/main/ts_template/package-lock.json
  pom.xml
Labels: ⚙️ Refactoring

#4548 #4547 - Cannot create long-distance relation in PDF editor
  inception/inception-pdf-editor2/src/main/ts/src/PdfAnnotationEditor.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/model/AbstractAnnotation.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/model/RelationAnnotation.ts
  inception/inception-pdf-editor2/src/main/ts/src/pdfanno/core/src/model/SpanAnnotation.ts
Labels: 🐛Bug, Module: PDF editor

#4553 #4552 - No details shown when hovering over annotations in lower part of the curation page
  inception/inception-brat-editor/src/main/ts/src/brat_curation.ts
Labels: 🐛Bug, Module: Curation

#4551 #4550 - Clean up code
  inception/inception-brat-editor/src/main/ts/src/dispatcher/Dispatcher.ts
  inception/inception-brat-editor/src/main/ts/src/visualizer/Visualizer.ts
  inception/inception-brat-editor/src/main/ts/src/visualizer_ui/VisualizerUI.ts
  inception/inception-curation/src/test/java/de/tudarmstadt/ukp/inception/curation/export/CuratedDocumentsExporterTest.java
  inception/inception-export/pom.xml
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/DocumentImportExportServiceImpl.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/JsonImportUtil.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/LayerImportExportUtils.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/TagsetImportExportUtils.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/config/DocumentImportExportServiceAutoConfiguration.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/exporters/ProjectLogExporter.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/exporters/ProjectMetaInfExporter.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/exporters/ProjectSettingsExporter.java
  inception/inception-export/src/test/java/de/tudarmstadt/ukp/inception/export/DocumentImportExportServiceImplTest.java
  inception/inception-export/src/test/java/de/tudarmstadt/ukp/inception/export/SegmentationUtilsTest.java
  inception/inception-export/src/test/java/de/tudarmstadt/ukp/inception/export/exporters/ProjectPermissionsExporterTest.java
  inception/inception-project-export/src/test/java/de/tudarmstadt/ukp/inception/project/export/AnnotationDocumentsExporterTest.java
  inception/inception-ui-kb/pom.xml
Labels: ⚙️ Refactoring

#4555 #4554 - Allow displaying comments from annotators on hover when curating using curation sidebar on the annotation page
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/feature/string/StringFeatureSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationRenderer.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanRenderer.java
  inception/inception-api-editor/src/main/java/de/tudarmstadt/ukp/inception/editor/AnnotationEditorExtension.java
  inception/inception-curation-legacy/src/main/java/de/tudarmstadt/ukp/clarin/webanno/curation/casdiff/CasDiff.java
  inception/inception-curation/src/main/java/de/tudarmstadt/ukp/inception/curation/merge/CasMerge.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/lazydetails/LazyDetailsLookupService.java
  inception/inception-diam/src/main/java/de/tudarmstadt/ukp/inception/diam/editor/lazydetails/LazyDetailsLookupServiceImpl.java
  inception/inception-js-api/src/main/ts/src/widget/AnnotationDetailPopOver.svelte
  inception/inception-recommendation/src/main/java/de/tudarmstadt/ukp/inception/recommendation/RecommendationEditorExtension.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/rendering/Renderer.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationEditorExtension.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebar.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/CurationSidebarServiceImpl.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/config/CurationSidebarAutoConfiguration.java
  inception/inception-ui-curation/src/main/java/de/tudarmstadt/ukp/inception/ui/curation/sidebar/render/CurationSidebarRenderer.java
Labels: ⭐️ Enhancement, Module: Curation

#4559 #4550 - Clean up code
  inception/inception-annotation-storage/src/main/java/de/tudarmstadt/ukp/inception/annotation/storage/CasMetadataUtils.java
  inception/inception-export/src/main/java/de/tudarmstadt/ukp/inception/export/DocumentImportExportServiceImpl.java
Labels: ⚙️ Refactoring

#4561 #4560 - Describe how to use ELK to process Snomed before import
  inception/inception-kb/src/main/resources/de/tudarmstadt/ukp/inception/kb/yaml/knowledgebase-profiles.yaml
Labels: ⭐️ Enhancement, Module: Knowledge Base

#4564 Issue #4558: Better verification for feature names
  .github/workflows/maven.yml
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/chain/ChainLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/relation/RelationLayerSupport.java
  inception/inception-api-annotation/src/main/java/de/tudarmstadt/ukp/inception/annotation/layer/span/SpanLayerSupport.java
  inception/inception-layer-docmetadata/src/main/java/de/tudarmstadt/ukp/inception/ui/core/docanno/layer/DocumentMetadataLayerSupport.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/AnnotationSchemaService.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/layer/LayerSupport.java
  inception/inception-schema-api/src/main/java/de/tudarmstadt/ukp/inception/schema/api/layer/LayerSupport_ImplBase.java
  inception/inception-schema/pom.xml
  inception/inception-schema/src/main/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImpl.java
  inception/inception-schema/src/test/java/de/tudarmstadt/ukp/inception/schema/service/AnnotationSchemaServiceImplTest.java
  inception/inception-support/src/main/java/de/tudarmstadt/ukp/inception/support/WebAnnoConst.java
  inception/inception-ui-kb/src/main/java/de/tudarmstadt/ukp/inception/ui/kb/SubclassCreationDialog.java
  inception/inception-ui-project/src/main/java/de/tudarmstadt/ukp/clarin/webanno/ui/project/layers/FeatureDetailForm.java
Labels: ⭐️ Enhancement, Module: Project Settings

#4566 #4565 - Improve system-level backup documentation
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/installation_database_mariadb.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/scripts/docker-compose-mysql8.yml
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/scripts/docker-compose.yml
  inception/inception-doc/src/main/resources/META-INF/asciidoc/admin-guide/upgrade_backup.adoc
  inception/inception-doc/src/main/resources/META-INF/asciidoc/common/systemrequirements.adoc
Labels: ⭐️ Enhancement, 📖 Documentation

#4571 #4570 - Inefficient Knowledge Base SPARQL query for labels
  inception/inception-kb/src/main/java/de/tudarmstadt/ukp/inception/kb/querybuilder/SPARQLQueryBuilder.java
Labels: 🐛Bug, Module: Knowledge Base
